.card {
  height: 100%;
  & > div:first-child {
    padding: 0 18px;
    font-weight: 600;
    font-size: 1.25rem;
  }
  & > div:nth-child(2) {
    padding: 18px;
  }
  .formItem {
    display: flex;
    width: 100%;
    [class="ant-row ant-form-item-row"] {
      width: 100%;
      @media screen and (max-width: 767px) {
        flex-direction: row;
      }
    }
    [class="ant-col ant-form-item-label"] {
      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
    label {
      color: #6e7880;
      font-weight: 500;
      font-size: 13px;
      @media screen and (max-width: 767px) {
        width: 100%;
      }
      &:before {
        order: 3;
        font-weight: normal;
        margin-left: 4px;
      }
      small {
        font-size: 13px;
        padding-left: 5px;
      }
      .small {
        font-size: 92%;
        margin-left: 5px;
      }
    }
    .error {
      border-color: #ff4d4f;
    }
    &.namespace_in {
      .small {
        font-size: 92%;
        margin-left: 5px;
      }
    }
  }
  .formItemCheckbox {
    label {
      font-weight: 600;
      font-size: 16px;
    }
  }

  .btnSubmit {
    display: inline-flex;
    align-items: center;

    & > div {
      height: 20px;
      margin-left: 0.5rem;
    }
  }
  @media screen and (max-width: 767px) {
    [class="ant-checkbox-wrapper"] {
      & + [class="ant-checkbox-wrapper"] {
        margin-left: 0;
      }
    }
  }
}

.newsFormFieldsCard {
  background-color: #f8f8f8;
  position: relative;
  padding-left: 50px;
  margin-bottom: 1rem;
  & > div {
    padding: 15px 15px 0px 15px;
  }
  .newsFormFieldsCardCounter {
    position: absolute;
    left: 15px;
    top: 15px;
    background-color: orange;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: large;
    padding-top: 6px;
    color: white;
    font-weight: 700;
    border-radius: 3px;
  }
}

.topicDetailContentHead {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 24px 24px 0;
  justify-content: space-between;
  align-items: center;
  &_Left {
    display: flex;
    .topicTitleStyle,
    .breadcrumbLinks {
      font-size: 16px;
    }
    .topicTitleStyle {
      margin-right: 50px;
    }
    .breadcrumbLinks {
      display: flex;
      a {
        font-size: 18px;
        color: #2e68db;
        font-weight: 400;
      }
    }
  }
  &_Right {
    display: flex;
    align-items: center;

    .btnCampForum {
      margin-right: 20px;
      background-color: #4484ce;
      box-shadow: none;
      border-color: transparent;
      font-size: 14px;
      height: 38px;

      &:hover {
        background-color: darken(#4484ce, 7%);
      }
    }

    .campForumDropdown {
      font-size: 24px;
      color: #0f2a4d !important;
      span {
        color: #000 !important;
        position: static !important;
        bottom: initial !important;
      }
    }
  }
}
.breadcrumbLinks {
  display: flex;
  font-size: 18px;
  flex-wrap: wrap;
  a {
    font-size: 18px;
    color: #2e68db !important;
    font-weight: 400;
    white-space: nowrap;
  }
}
.topicDetailContentWrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
}
.reactDraftBox {
  border: 1px solid #f1f1f1;
  overflow: auto;
  resize: vertical;
  width: 100%;
  height: 180px;
  [class="DraftEditor-root"] {
    height: calc(100% - 15px);
    width: 100%;
  }
}

.reactInnerDraftBox {
  height: 100%;
  width: 100%;
}
