.selected_filter_heading{
    font-weight: bold;
}

.clear_all_filter{
    color: #1890ff;
    margin-left: 9px;
    margin-right: 9px;
    cursor: pointer;
}
.selected_filter_area{
    margin-bottom: 15px;
}


