.wrap {
    padding: 1.25rem 1.5rem;
    background-color: var(--primary);
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: normal;
    .logo {
        width: 225px;
        img {
            max-height: 42px;
            max-width: 225px;
        }
    }
    .mobNavBG {
        display: none;
        @media screen and (max-width: 1199px) {
            display: block;
            background-color: rgba(0,0,0,.5);
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 99;
        }
    }
    .btnCloseMobMenu {
        i {
            display: block;
            transform: scaleX(-1);
        }
        @media screen and (min-width: 1200px) {
            display: none;
        }
    }
    .navWrap {
        @media screen and (max-width: 1199px) {
            padding: 1.5rem;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            max-width: 300px;
            background-color: #FFF;
            min-height: 100vh;
            box-shadow: 0 0 40px rgba(0,0,0,.2);
            z-index: 100;
        }
        .nav {
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                @media screen and (min-width: 1200px) {
                    display: flex;
                }
            }
            li {
                font-weight: 500;
                font-size: 1rem;
                @media screen and (min-width: 1200px) {
                    padding: 8px 15px;
                }
                a {
                    display: block;
                    position: relative;
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 0;
                        height: 2px;
                        bottom: -5px;
                        left: 50%;
                        background-color: #FFF;
                        transform: translateX(-50%);
                        transition: all .5s;
                    }
                    @media screen and (min-width: 1200px) {
                        color: #FFF;
                    }
                    @media screen and (max-width: 1199px) {
                        padding: 8px 0;
                    }
                }
                &.active a:after, & a:hover:after {
                    width: 100%;
                }
            }
        }
        .ant-menu-horizontal {
            border: 0;
        }
    }
    .right {
        background-color: transparent;
    }
    .btnLogin, .btnRegister {
        font-size: 1.125rem;
        font-weight: 500;
        height: 38px;
        color: #FFF;
        display: inline-flex;
        align-items: center;
        i {
            margin-right: .5rem;
        }
    }
    .btnLogin {
        margin-right: 1rem;
    }
    .btnRegister {
        background-color: #F89D15;
        border-radius: 2px;
        border: 0;
    }
    
}