.wrap {
  padding: 14px 19px;
  background-color: var(--primary);
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: normal;
  .logo {
    width: 199px;
    img {
      max-height: 42px;
      max-width: 200px;
    }
  }
  .mobNavBG {
    @media screen and (min-width: 1200px) {
      display: none;
    }
    @media screen and (max-width: 1199px) {
      background-color: rgba(0, 0, 0, 0.5);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s;
      &.mobNavBGshow {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .btnLogin,
  .btnRegister {
    font-size: 14px;
    font-weight: 500;
    height: 38px;
    color: #fff;
    display: inline-flex;
    align-items: center;
    i {
      margin-right: 0.5rem;
    }
  }
  .btnRegister {
    background-color: #f89d15;
    border-radius: 2px;
    border: 0;
    &:hover {
      background-color: darken(#f89d15, 5%);
    }
  }
  .navWrap {
    margin-left: 25px;
    margin-right: auto;
    display: flex;
    align-items: center;
    @media screen and (min-width: 1440px) {
      display: flex;
      flex: 1;
    }
    // display: flex;
    // flex: 1;
    @media screen and (max-width: 1199px) {
      padding: 1.5rem;
      position: fixed;
      left: -380px;
      top: 0;
      width: 100%;
      max-width: 300px;
      background-color: #fff;
      min-height: 100vh;
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
      z-index: 100;
      transition: all 0.5s;
      display: block;
      &.showMobMenu {
        left: 0;
        margin: 0;
      }
    }
    .btnCloseMobMenu {
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #cbcaca;
      padding: 0;
      position: relative;
      z-index: 2;
      span {
        line-height: 0;
      }
      i {
        display: block;
        transform: scaleX(-1);
      }
      @media screen and (min-width: 1200px) {
        display: none;
      }
    }
    .nav {
      // padding-left: 20px;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        @media screen and (min-width: 1200px) {
          display: flex;
        }
      }
      li {
        font-weight: 500;
        // font-size: 1rem;
        @media screen and (min-width: 1200px) {
          padding: 8px 15px;
        }
        a {
          display: block;
          position: relative;
          &:after {
            content: "";
            display: block;
            position: absolute;
            width: 0;
            height: 2px;
            bottom: -5px;
            left: 50%;
            background-color: #fff;
            transform: translateX(-50%);
            transition: all 0.5s;
          }
          @media screen and (min-width: 1200px) {
            color: #fff;
          }
          @media screen and (max-width: 1199px) {
            padding: 8px 0 !important;
            color: #222;
            text-align: left;
          }
        }
        &.active {
          a {
            @media screen and (max-width: 1199px) {
              color: var(--primary);
              //   &:after {
              //     background-color: var(--primary);
              //   }
            }
          }
        }
        &.active a:after,
        & a:hover:after {
          width: 100%;
        }
      }
    }
    .btnsLoginRegister {
      border-top: #eee 2px solid;
      margin-top: 1rem;
      padding-top: 1.5rem;
      display: flex;
      justify-content: space-between;
      @media screen and (min-width: 1080px) {
        display: none;
      }

      button {
        width: 48%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .btnLogin {
        color: var(--primary);
        border-color: var(--primary);
        &:hover {
          background-color: var(--primary);
          color: #fff;
        }
      }
    }
  }
  .right {
    display: flex;
    align-items: center;
    // width: 218px;
    .iconMobMenu {
      margin-left: 1.5rem;
      button {
        background-color: transparent;
        padding: 0;
        border: 0;
        color: #fff;
        font-size: 1.5rem;
      }
      @media screen and (min-width: 767px) {
        .mob_noti {
          display: none;
        }
      }
      @media screen and (max-width: 767px) {
        display: flex;
        align-items: center;
        .mob_noti {
          margin-right: 25px;
        }
      }
      @media screen and (min-width: 1200px) {
        display: none;
      }
    }
    .btnsLoginRegister {
      @media screen and (max-width: 575px) {
        display: none;
      }
      .not_2 {
        @media screen and (max-width: 767px) {
          display: none;
        }
      }
      .btnLogin {
        margin-right: 1rem;
      }
    }
    &.onlogin {
      width: auto;
    }
    @media screen and (max-width: 1024px) {
      width: auto;
    }
  }
}

.badgeCls {
  cursor: pointer;
  sup {
    border: none;
    background: #f89d15;
    border-color: #f89d15;
  }
  margin-right: 20px;
}

.menuItems {
  min-width: 160px;
  width: 100%;

  [role="menuitem"] {
    padding: 5px 15px;
    font-size: 13px;
    font-weight: 500;

    span[role="img"] {
      margin-right: 8px;
      svg {
        width: 15px;
        height: 15px;
      }
    }
    span[class="anticon anticon-logout"] {
      transform: rotate(-90deg);
    }
    a {
      white-space: nowrap;
    }
  }
}

.mobMenuWithIcons {
  span[role="img"] {
    margin-right: 8px;
    svg {
      width: 15px;
      height: 15px;
    }
  }
  span[class="anticon anticon-logout"] {
    transform: rotate(-90deg);
  }
  a {
    white-space: nowrap;
  }
}

.mobLogoIcon {
  display: none;
  background-color: var(--primary);
  padding: 1rem;
  position: relative;
  top: -1.5rem;
  left: -1.5rem;
  width: calc(100% + 3rem);

  @media screen and (max-width: 1199px) {
    display: grid;
  }
}

.search_heading_top {
  font-size: 16px;
  font-weight: 700;
  color: #4484ce;
}
.statement_date_search_camp_statement {
  margin-left: auto;
  font-size: 12px;
  color: #86909f;
}
.tags_all_search_camp_statement {
  color: #4484ce;
}
.camp_heading_color {
  color: #2e3136;
}
.bold_margin {
  border-bottom: 2px solid #ededed;
  margin: 0 0 8px;
}
.logo_in_header {
  cursor: pointer;
}
.new_search_btn {
  background-color: transparent;
  border: none;
}
.inner_html_prefix {
  display: inline-block;
}
.inner_html_match {
  background-color: #fef2d2;
  display: inline-block;
}

.highlighter {
  padding-right: 0;
  font-weight: bold;
  color: #0f2a4d;
  font-size: 1.17em;
}

.highlighterforCampStatement {
  padding-right: 0;
}
