.card {
	padding: 20px;
	background-color: #fff;
	border: solid 1px #f0f0f0;
	margin-bottom: 16px;
	height: calc(100% - 16px);
}

.wrap {
	border: none;
	> div:first-child {
		padding: 0;
		border-bottom: none;
	}
	.head {
		margin-bottom: 18px;
		@media screen and (min-width: 576px) {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		h3 {
			display: flex;
			align-items: center;
			font-size: 1.25rem;
			color: #1c1b24;
			margin-bottom: 0;
			i {
				margin-left: 5px;
				color: #d1d4db;
			}
		}
		.dropdown {
			> div:first-child {
				height: 40px !important;
				border: solid 1px #d9d9d9 !important;
			}
			@media screen and (max-width: 767px) {
				margin-top: 10px;
				width: 100%;
			}
		}
		&:not(.browsePage) {
			@media screen and (min-width: 1200px) and (max-width: 1499px) {
				flex-wrap: wrap;
			}
			h3 {
				@media screen and (min-width: 1200px) and (max-width: 1499px) {
					width: 100%;
				}
			}
			.dropdown {
				@media screen and (min-width: 576px) {
					max-width: 275px;
					width: calc(100% - 200px);
				}
				@media screen and (min-width: 1200px) and (max-width: 1499px) {
					width: 100%;
					max-width: inherit;
					margin-top: 5px;
				}
			}
		}
		&.browsePage {
			@media screen and (max-width: 1199px) {
				flex-wrap: wrap;
			}
			& > h3 {
				@media screen and (max-width: 1199px) {
					width: 100%;
				}
			}
			.dropdown {
				@media screen and (min-width: 576px) {
					max-width: 275px;
					width: calc(65% - 200px);
				}
				@media screen and (min-width: 1200px) {
					margin-right: auto;
					margin-left: 20px;
				}
				@media screen and (min-width: 576px) and (max-width: 1199px) {
					max-width: inherit;
					width: 48.5%;
					margin-top: 10px;
				}
			}
			.inputSearchTopic {
				@media screen and (min-width: 1200px) {
					max-width: 275px;
					width: 33%;
				}
				@media screen and (min-width: 576px) and (max-width: 1199px) {
					max-width: inherit;
					width: 48.5%;
				}
				@media screen and (max-width: 1199px) {
					margin-top: 10px;
				}
				& > span {
					& > span {
						position: relative;
						display: block;
						& > span:first-child {
							padding: 8px 50px 8px 15px;
							& > span {
								background-color: #fff;
								position: absolute;
								z-index: 2;
								right: 35px;
								top: 50%;
								transform: translateY(-50%);
							}
							&:hover {
								span {
									z-index: 20;
								}
							}
						}
						& > span:last-child {
							position: absolute;
							right: 5px;
							top: 50%;
							display: block;
							left: inherit;
							width: 32px;
							z-index: 1;
							background: transparent;
							transform: translateY(-50%);
							button {
								border: 0;
								background: transparent;
							}
						}
					}
				}
			}
		}
	}

	li {
		&.item {
			border: 0;
			padding: 0;
			& + li {
				margin-top: 8px;
			}
			@media screen and (max-width: 767px) {
				font-size: 1rem;
			}
			a {
				display: flex;
				align-items: center;
				padding-top: 3px;
				padding-bottom: 3px;
				color: #0f2a4d;
				font-size: 1.125rem;
				width: 100%;
				border: solid 1px #f0f0f0;
				background-color: #fff;
				box-shadow: 3px 3px rgba(63, 79, 91, 8%);
				transition: all 0.5s;
				&:hover {
					background-color: #f9f9f9;
				}
				@media screen and (min-width: 768px) {
					padding-left: 20px;
					padding-right: 20px;
				}
				@media screen and (max-width: 767px) {
					justify-content: space-between;
					padding-left: 15px;
					padding-right: 15px;
				}
			}
			.text {
				padding-right: 12px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				color: #0f2a4d;
			}
			.tag {
				margin: 0;
				border-radius: 4px;
				line-height: 22px;
				font-size: 13px;
				font-weight: 400;
				color: #fff;
				border: none;
				background-color: #f89d15;
			}
			&:last-child {
				border-bottom: none !important;
			}
		}
	}
	.footer {
		.viewAll {
			position: relative;
			font-size: 1rem;
			font-weight: 600;
			display: inline-flex;
			align-items: center;
			border: 0;
			padding: 0;
			&:after {
				display: none;
			}
			span {
				color: #4484ce;
				border-bottom: #4484ce 1px solid;
			}
			i {
				font-size: 13px;
				margin-left: 7px;
				color: #4484ce;
			}
			&:hover,&:active,&:focus {
				box-shadow: none;
			}
		}
	}
}
