.card {
    padding: 20px;
    background-color:#fff;
    border: solid 1px #F0F0F0;
    margin-bottom: 16px;
    height: calc(100% - 16px);
}

.wrap {
    border: none;
    >div:first-child {
        padding:0;
        border-bottom: none;
    }
    .head {
        margin-bottom:18px;
        @media screen and (min-width:1200px) and (max-width: 1499px) {
            flex-wrap: wrap;
        }
        @media screen and (min-width:576px){
            display:flex;
            align-items: center;
            justify-content: space-between;
        }
        h3 {
            display: flex;
            align-items: center;
            font-size: 1.25rem;
            color:#1C1B24;
            margin-bottom:0;
            i {
                margin-left:5px;
                color: #D1D4DB;
            }
            @media screen and (min-width:1200px) and (max-width: 1499px) {
                width: 100%;
            }
        }
        .dropdown{
            >div:first-child{
                height:40px!important;
                border:solid 1px #D9D9D9!important;
            }
            @media screen and (min-width:576px) {
                max-width: 275px;
                width: calc(100% - 200px);
            }
            @media screen and (min-width:1200px) and (max-width: 1499px) {
                width: 100%;
                max-width: inherit;
                margin-top: 5px;
            }
            @media screen and (max-width:767px){
                margin-top:10px;
                width: 100%;
            }
        }
    }
    
    li {
        &.item {
            border: 0;
            padding: 0;
            &+li {
                margin-top: 8px;
            }
            @media screen and (max-width:767px){
                font-size: 1rem;
            }
            a {
                display: flex;
                align-items: center;
                padding-top: 3px;
                padding-bottom: 3px;
                color:#0F2A4D;
                font-size: 1.125rem;
                width: 100%;
                border: solid 1px #F0F0F0;
                background-color: #fff;
                box-shadow: 3px 3px rgba(63,79,91, 8%);
                transition: all .5s;
                &:hover {
                    background-color: #f9f9f9;
                }
                @media screen and (min-width:768px){
                    padding-left: 20px;
                    padding-right: 20px;
                }
                @media screen and (max-width:767px){
                    justify-content:space-between;
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
            .text {
                padding-right: 12px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                color:#0F2A4D;
            }
            .tag {
                margin: 0;
                border-radius: 4px;
                line-height: 22px;
                font-size: 13px;
                font-weight: 400;
                color:#fff;
                border: none;
                background-color: #F89D15;
            }  
            &:last-child{
                border-bottom: none !important;
            }
        }
    }
    .footer {
        padding: 0;
        .viewAll {
            position: relative;
            font-size:1rem;
            font-weight: 600;
            display: inline-flex;
            align-items: center;
            span {
                color: #4484CE;
                border-bottom: #4484CE 1px solid;
            }
            i {
                font-size: 13px;
                margin-left: 7px;
                color: #4484CE;
            }
        }
    }
}