.campActivities {
  // margin-bottom: 1rem;
  height: 100%;

  & > div:first-child {
    font-weight: 800;
    font-size: 17px;
    color: #212125;
    padding: 0 20px;
    & > div > div {
      padding: 15px 0;
      white-space: normal;
      line-height: 20px;
    }
  }

  & > div:nth-child(2) {
    padding: 20px;
  }

  [class="ant-collapse-header"] {
    display: flex !important;
  }
  .footerLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 0 0;
    border-top: 1px solid #f1f1f1;
    margin-top: 15px;
    margin-bottom: -10px;
  }
}

.activitiesList {
  padding: 6px 0;
  position: relative;
  & > div {
    & > div:first-child {
      width: 20px;
      height: 19px;
      background-color: #e6e9ee;
      border-radius: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 7px;
      position: absolute;
      left: -30px;
      top: 4px;
    }
    & > div:nth-child(2) {
      h4 {
        color: #384152;
        margin-bottom: 0px;
        line-height: 16px;
        font-weight: 600;
        font-size: 12px;
      }
      div:last-child {
        color: #9fa0a3;
        font-size: 10px;
        word-wrap: break-word;
        word-break: break-all;
      }
    }
  }

  .bellIcon {
    color: white;
    font-size: 12px;
    transform: rotate(30deg);
  }
}

.switchButton {
  margin: 0 !important;

  span {
    font-size: 14px;
    margin-right: 10px;
  }
}
.viewAllLink {
  position: relative;
  font-size: 13px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  span {
    color: #4484ce;
    border-bottom: #4484ce 1px solid;
  }
  i {
    font-size: 10px;
    margin-left: 7px;
    color: #4484ce;
  }
}

.algoInfoIcon {
  color: #d1d4db;
  font-size: 14px;
  cursor: pointer;
  line-height: inherit;
  vertical-align: middle;
}
