.campActivities {
    &>div:first-child {
        font-weight: 800;
        font-size: 17px;
        color: #212125;
        padding: 0 20px;
        &>div>div {
            padding: 15px 0;
            white-space: normal;
            line-height: 20px;
        }
    }
    &>div:nth-child(2) {
		padding: 20px;
        ul {
            padding-left: 26px;
        }
	}
}

.activitiesList {
    padding: 6px 0;
    position: relative;

    &>div {
        &>div:first-child {
            width: 20px;
            height: 19px;
            background-color: #e6e9ee;
            border-radius: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 7px;
            position: absolute;
            left: -30px;
            top: 8px;
        }
        &>div:nth-child(2) {
            h4 {
                color: #384152;
                margin-bottom: 0px;
                line-height: 16px;
                font-weight: 600;
                font-size: 12px;
            }
            div:last-child {
                color: #9fa0a3;
                font-size: 10px;
            }
        }
    }

    .bellIcon {
        color: white;
        font-size: 12px;
        transform: rotate(30deg);

    }
}