.iconMr {
    margin-right: 5px;
}
.ctCard {
   .addNew {
       font-size: 15px;
       font-weight: 500;
       margin-left: 33px;
       font-size: 15px;
       color: #2E68DB;
       font-weight: 500;
      
   }
   .chexkboxLabel {
       color: #0F2A4D;
       font-size: 15px;
       font-weight: 400;
   }
   .treeListItem {
       display: flex;
       align-items: center;
       margin-bottom: 6px;
       .treeListItemTitle {
        font-size: 15px;
        font-weight: 400;
        color: #0F2A4D;
        margin-left: 4px;
       }
       .treeListItemNumber {
        width: 34px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 11px;
        font-weight: 400;
        background: #F89D15;
        padding: 2px 7px;
        border-radius: 2px;
        color: #fff;
        margin-left: 6px;
       }
   }
}
h2.cardHeading {
    font-size: 30px;
    font-weight: 400;
    color: #2E68DB;
    margin-bottom: 22px;
}
