.customButton {
  display: inline-flex;
  align-items: center;
  span {
    margin: 0px 3px;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  color: #0f2a4d;
  border: solid 1px #d9d9d9;
  i {
    font-size: 1.1875rem;
    color: var(--primary);
    margin-right: 8px;
  }
  &:hover {
    color: var(--primary);
    border-color: var(--primary);
  }
}
