.card {
  height: 100%;
  & > div:first-child {
    padding: 0 18px;
    font-weight: 600;
    font-size: 1.25rem;
  }
  & > div:nth-child(2) {
    padding: 18px;
  }
  .formItem {
    display: flex;
    width: 100%;
    [class="ant-row ant-form-item-row"] {
      width: 100%;
      @media screen and (max-width:767px) {
        flex-direction: row;
      }
    }
    label {
      color: #6e7880;
      font-weight: 500;
      font-size: 13px;
      &:before {
        order: 3;
        font-weight: normal;
        margin-left: 4px;
      }
      small {
        font-size: 13px;
        padding-left: 5px;
      }
      .small {
        font-size: 92%;
        margin-left: 5px;
      }
    }
    .error {
      border-color: #ff4d4f;
    }
    &.namespace_in {
      .small {
        font-size: 92% !important;
        margin-left: 5px;
      }
    }
  }
  .formItemCheckbox {
    label {
      font-weight: 600;
      font-size: 16px;
    }
  }
  .btnSubmit {
    display: inline-flex;
    align-items: center;
    & > div {
      height: 20px;
      margin-left: 0.5rem;
    }
  }
}

.newsFormFieldsCard {
  background-color: #f8f8f8;
  position: relative;
  padding-left: 50px;
  margin-bottom: 1rem;
  & > div {
    padding: 15px 15px 0px 15px;
  }
  .newsFormFieldsCardCounter {
    position: absolute;
    left: 15px;
    top: 15px;
    background-color: orange;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: large;
    padding-top: 6px;
    color: white;
    font-weight: 700;
    border-radius: 3px;
  }
}
