@import "./fonts";
:root {
  --primary: #4484ce;
  --font-family-asap: "Asap", sans-serif;
  --yellow: #f89d15;
}
body {
  font-family: "Asap", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  background-color: #f8f8f8 !important;
}

.float-right {
  float: right;
}

.d-flex {
  display: flex;
}

.mt {
  &-3 {
    margin-top: 1rem;
  }
  &-4 {
    margin-top: 1.5rem;
  }
}

.mb {
  &-4 {
    margin-bottom: 1.5rem;
  }
}

.ratio {
  position: relative;
  & > iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  &-16x9 {
    padding-top: 56.6%;
  }
}

.text {
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
}

.leftSideBar {
  & + .pageContentWrap {
    @media screen and (min-width: 992px) {
      padding: 0 16px;
    }
  }
  &.miniSideBar {
    @media screen and (min-width: 992px) {
      width: 245px;
      & + .pageContentWrap {
        width: calc(100% - 245px);
      }
    }
  }
  &:not(.miniSideBar) {
    width: 420px;
    & + .pageContentWrap {
      width: calc(100% - 420px);
    }
  }
}

.topicsList_card,
.recentActivities_listWrap {
  .ant-list-footer {
    margin-top: 10px;
    padding-bottom: 6px;
    padding-left: 0;
    padding-right: 0;
  }
}

.recentActivities_listCardTabs {
  &.ant-tabs {
    overflow: visible;
  }
  &.ant-tabs-top > .ant-tabs-nav::before {
    right: -20px;
    left: -20px;
  }
  .ant-tabs-nav {
    margin-bottom: 18px;
    &-wrap {
      flex: unset !important;
    }
    @media screen and (min-width: 1200px) and (max-width: 1499px) {
      display: block;
      h3 {
        margin-bottom: 5px;
      }
    }
  }
  .ant-tabs-tab {
    padding-top: 3px;
    padding-bottom: 15px;
    &.ant-tabs-tab-active {
      font-weight: 600;
    }
  }
}

.logged-in-view {
  .help-card-wrap {
    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
      .col-1,
      .col-2 {
        width: 48%;
      }
    }
  }
  
}
.tab--card {
  .ant-card-head {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    .ant-card-head-wrapper {
      flex-grow: 1;
      .ant-card-head-title {
        font-size: 20px;
      }
    }
    .ant-tabs {
      .ant-tabs-tab-btn {
        font-size: 14px;
      }
    }
  }
}
.main--layout {
  margin-top: 20px;
  margin-bottom: 20px;
  .ant-col-5 {
    padding: 0 20px;
  }
}
.siteAds {
  text-align: center;
}

.hdrUserdropdown {
  .icon-user {
    height: 38px;
    width: 38px;
    line-height: 34px;
    background-color: #e6e9f1;
    color: #647488;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
  }
  .ant-dropdown-link {
    color: #fff;
    font-size: 17px;
    font-weight: 600;
  }
}
form {
  .ant-btn {
    padding: 4px 22px;
  }
  .ant-btn-lg {
    height: 40px;
    padding: 6.4px 40px;
    font-size: 16px;
    border-radius: 2px;
  }
}
.ant-btn:hover,
.ant-btn:focus {
  box-shadow: 0 2px 15px rgba(0 0 0 / 20%);
  outline: 0;
}

.ant-btn-primary {
  color: #fff;
  border-color: #4484ce;
  background: #4484ce;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px #0000000b;
}
.ant-btn-primary:hover,
.ant-btn-primary:focus,
.ant-btn-primary:active {
  background-color: #2a71c2;
}

.ant-btn-orange {
  color: #fff;
  border-color: #f89d15;
  background: #f89d15;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px #0000000b;
}
.ant-btn-orange:hover,
.ant-btn-orange:focus,
.ant-btn-orange:active {
  background-color: #e28801;
}

.ant-btn-green {
  color: #fff;
  border-color: #12c879;
  background: #12c879;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px #0000000b;
}
.ant-btn-green:hover,
.ant-btn-green:focus,
.ant-btn-green:active {
  background-color: #00ab60;
}

.ant-btn-bordered {
  color: #fff;
  border-color: #4484ce;
  color: #4484ce;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px #0000000b;
}
.createTopicBtn {
  width: 100%;
  font-size: 13px;
  font-weight:600;
  color: #0F2A4D;
  border: solid 1px #D9D9D9;
  i{
      color: #2E68DB;
      margin-right:4px;
      position: relative;
      top: 2px;
  }
}