// tailwind imports
@tailwind base;
@tailwind components;
@tailwind utilities;

// inter font
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import "./fonts";
@import "./speed-controller";

:root {
  --primary: #4484ce;
  --font-family-asap: "Asap", sans-serif;
  --font-family-inter: "Inter", sans-serif;
  --yellow: #f89d15;
  --canBlue: #5482c8;
  --canHoverBlue: #326dc7;
  --green: #4eb966;
  --red: #e46b6b;
  --canBlack: #242b37;
  --orange: #f19c39;
  --white: #fff;
  --disabled: #aab2bf;
  --canGray: #f7f8fc;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  background: #fff;
}

.fullHeightCard {
  height: 100%;
  .ant-card-body {
    height: 100%;
    display: grid;
  }
}

.featuresSlider {
  .featuredDots {
    display: flex !important;
    position: absolute;
    top: -55px;
    right: 0;
    li {
      button {
        width: 10px;
        height: 10px;
        overflow: hidden;
        border-radius: 50%;
        display: block;
        box-shadow: none;
        outline: linen;
        border: 1px solid var(--canBlue);
        position: static;
        color: #fff;
        background-color: #fff;
        padding: 0;
      }
      &[class*="slick-active"] {
        button {
          background-color: var(--canBlue);
          color: var(--canBlue);
        }
      }
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
  [class*="slick-arrow"] {
    z-index: 100;
    // top: 0;
    &::before {
      color: #9aa5e7;
    }
  }
  [class*="slick-prev"] {
    left: 0;
  }
  [class*="slick-next"] {
    right: 0;
  }
  &.hotTopicSlider {
    .hotTopicDots {
      display: none !important;
    }
    .slick-track {
      display: flex !important;
    }
    .slick-slide {
      padding: 10px 15px;
      height: auto !important;
    }
  }
  @media screen and (max-width: 600px) {
    padding-bottom: 30px;
    .featuredDots {
      top: calc(100% - 30px);
      right: 0;
      left: 0;
    }
  }
}

.position-relative {
  position: relative;
}

.diffdel {
  display: inline !important;
  text-decoration: line-through !important;
  // opacity: 0.4;
}

.diffdel img {
  opacity: 0.2;
}

.diffmod {
  display: inline !important;
}

del.diffmod img {
  opacity: 0.2;
}

.alert-camp-created-on {
  .ant-alert-content {
    display: flex;
    flex-wrap: wrap;

    div {
      margin: 2px;
      font-size: 16px;
      line-height: 1.3;
    }
  }
}

.float-right {
  float: right;
}

.agreed-text {
  .ant-checkbox {
    margin-right: 5px;
  }
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.mt {
  &-0 {
    margin-top: 0;
  }

  &-3 {
    margin-top: 1rem;
  }

  &-4 {
    margin-top: 1.5rem;
  }
}

.mb {
  &-0 {
    margin-bottom: 0 !important;
  }

  &-2 {
    margin-bottom: 0.5rem;
  }

  &-3 {
    margin-bottom: 1rem;
  }

  &-4 {
    margin-bottom: 1.5rem;
  }
}

.pb {
  &-0 {
    padding-bottom: 0 !important;
  }

  &-2 {
    padding-bottom: 0.5rem;
  }

  &-3 {
    padding-bottom: 1rem;
  }

  &-4 {
    padding-bottom: 1.5rem;
  }

  &-4 {
    padding-bottom: 2rem;
  }
}

.pt {
  &-0 {
    padding-top: 0 !important;
  }

  &-2 {
    padding-top: 0.5rem;
  }

  &-3 {
    padding-top: 1rem;
  }

  &-4 {
    padding-top: 1.5rem;
  }

  &-4 {
    padding-top: 2rem;
  }
}

.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.mr {
  &-1 {
    margin-right: 5px !important;
  }

  &-3 {
    margin-right: 1rem !important;
  }

  &-4 {
    margin-bottom: 1.5rem;
  }

  &-0 {
    margin-bottom: 0 !important;
  }
}

.p {
  &-3 {
    padding: 1rem;
  }
}

.w-100 {
  width: 100% !important;
}

.font-weight {
  &-bold {
    font-weight: 700;
  }
}

.btn {
  &-canBlue {
    background-color: #4484ce;

    &:hover,
    &:focus {
      background-color: darken(#4484ce, 10%);
    }
  }

  &-green {
    background-color: #12c879;

    &:hover,
    &:focus {
      background-color: darken(#12c879, 7%);
    }
  }

  &-orange {
    background-color: #f89d15;
    color: #fff;
    border: 0;

    &:hover,
    &:focus {
      background-color: darken(#f89d15, 10%);
      color: #fff;
    }
  }
}

.ratio {
  position: relative;

  & > iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  &-16x9 {
    padding-top: 56.6%;
  }
}

.text {
  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }

  &-primary {
    color: var(--primary) !important;
  }

  &-orange {
    color: #f89d15;
  }

  &-decoration-underline {
    text-decoration: underline;
  }
}

.pageContentWrap {
  width: 100%;
}

.leftSideBar {
  & + .pageContentWrap {
    @media screen and (min-width: 992px) {
      padding: 0 8px;
    }
  }

  &.miniSideBar {
    @media screen and (min-width: 992px) {
      width: 300px;

      & + .pageContentWrap:not(.timelineContent) {
        width: calc(100% - 300px);
      }

      & + .pageContentWrap.timelineContent {
        width: calc(100% - 300px);

        & + .timelineRightSidebar {
          width: 250px;
        }
      }
    }

    @media screen and (max-width: 991px) {
      width: 100%;
      & + .pageContentWrap {
        width: 100%;
        margin: 0;

        &.timelineContent {
          & + .timelineRightSidebar {
            width: 100%;
          }
        }
      }
    }

    @media screen and (max-width: 767px) {
      & + .pageContentWrap {
        margin: 0;
      }
    }
  }

  &:not(.miniSideBar) {
    @media screen and (min-width: 1200px) {
      width: 420px;

      & + .pageContentWrap {
        width: calc(100% - 420px);
      }
    }

    @media screen and (min-width: 992px) and (max-width: 1399px) {
      width: 245px;

      & + .pageContentWrap {
        width: calc(100% - 245px);
      }
    }

    @media screen and (max-width: 991px) {
      width: 100%;

      & + .pageContentWrap {
        width: 100%;
      }
    }

    @media screen and (max-width: 767px) {
      width: 100%;

      & + .pageContentWrap {
        margin: 0;
      }
    }
  }

  .btnFilter {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    border-radius: 2px 0 0 2px;
    width: 3rem;
    height: 3rem;
    font-size: 1.25rem;
    &.drawerBtn {
      height: auto;
      right: auto;
      left: 16px;
      width: auto;
      padding-top: 5px;
      top: 45%;
      padding-bottom: 5px;
      font-size: 14px;
      font-weight: 600;
      transform: rotate(-90deg);
      transform-origin: left;
      background-color: rgb(248, 157, 21);
      border-color: rgb(248, 157, 21);
      border-radius: 0 0 2px 2px;
      z-index: 2;
      .arrow {
        position: absolute;
        width: 40px;
        height: 40px;
        background-color: rgb(248, 157, 21);
        border-color: rgb(248, 157, 21);
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        border-radius: 0 0 100px 100px;
        z-index: -1;
      }

      .arrow span {
        display: block;
        width: 10px;
        height: 10px;
        border-bottom: 1px solid white;
        border-right: 1px solid white;
        margin: -10px auto;
        transform: rotate(45deg) translate(20px, 20px);
        animation: animate 2s infinite;
        // animation-iteration-count: 3;
        z-index: 1;
      }

      .arrow span:nth-child(2) {
        animation-delay: -0.2s;
      }

      .arrow span:nth-child(3) {
        animation-delay: -0.4s;
      }

      @keyframes animate {
        0% {
          opacity: 0;
          transform: rotate(45deg) translate(10px, 10px);
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
          transform: rotate(45deg) translate(25px, 25px);
        }
      }
      &.isDrawerOpen {
        transition: all 0.3s;
        z-index: 100000;
        left: 753px;
        .arrow {
          bottom: 0;
          transform: translateX(-50%) rotate(180deg);
        }

        @media screen and (max-width: 767px) {
          left: 95%;
        }
      }
    }
  }

  &_Card {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border: solid 1px #f0f0f0;
    background-color: #fff;
    margin-bottom: 16px;

    &.noFilter {
      padding-bottom: 5px;
    }

    &:not(.noFilter) {
      padding-bottom: 10px;
    }

    .btnsWrap {
      margin-bottom: 15px;
    }

    span.btn {
      display: block !important;
    }

    button.btn,
    button.ant-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-size: 14px;
      font-weight: 600;
      color: #0f2a4d;
      border: solid 1px #d9d9d9;

      i {
        font-size: 1.1875rem;
        color: var(--primary);
        margin-right: 8px;
      }

      &:hover {
        color: var(--primary);
        border-color: var(--primary);
      }

      /* & + .btn {
        margin-top: 0.5rem;
      } */
    }
    &.drawer_card {
      padding: 0;
      border: none;
      height: 100%;
    }
  }

  .leftSidebarNewsFeeds {
    .topicDetailsCollapse {
      .ant-collapse-header {
        display: block;
        &-text {
          display: flex;
          align-items: center;
        }
      }

      .ant-collapse-extra {
        margin-top: 0.5rem;
      }
    }
  }
  &.topicPageNewLayoutSidebar {
    @media screen and (min-width: 992px) {
      width: 180px;

      & + .pageContentWrap:not(.timelineContent) {
        width: calc(100% - 180px);
      }
    }
  }
}

.treeDrawer {
  .ant-drawer-header {
    background-color: #f1f1f1;
    border-bottom-width: 2px;

    .ant-drawer-header-title {
      .ant-drawer-title {
        order: 0;
        font-size: 14px;
        font-weight: 600;
      }
      .ant-drawer-close {
        order: 1;
        margin: 0;
      }
    }
  }
  .ant-drawer-body {
    padding: 0;
    // overflow: hidden;
    // overflow-y: auto;
    overflow: auto;
  }
  &.review {
    .ant-drawer-header {
      border-bottom: 2px solid #ffde0b;
      background-color: #fffae3;
    }
  }
  &.default {
    .ant-drawer-header {
      border-bottom: 2px solid #12c879;
      background-color: #e5f6ee;
    }
  }
  &.bydate {
    .ant-drawer-header {
      border-bottom: 2px solid #4484ce;
      background-color: #eef3ff;
    }
  }
  @media screen and (max-width: 767px) {
    [class="ant-drawer-content-wrapper"] {
      max-width: 90%;
    }
  }
  &.closeIconHide {
    .ant-drawer-header {
      .ant-drawer-close {
        display: none;
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}

.topicsList_card,
.recentActivities_listWrap {
  .ant-list-footer {
    margin-top: 10px;
    padding-bottom: 6px;
    padding-left: 0;
    padding-right: 0;
  }
}

.recentActivities_listCardTabs {
  &.ant-tabs {
    overflow: visible;
  }

  &.ant-tabs-top > .ant-tabs-nav::before {
    right: -20px;
    left: -20px;
  }

  .ant-tabs-nav {
    margin-bottom: 18px;

    &-wrap {
      flex: unset !important;

      @media screen and (max-width: 576px) {
        display: block !important;

        .ant-tabs-nav-list {
          transform: none !important;
          justify-content: flex-start;
        }
      }
    }

    @media screen and (max-width: 576px) {
      .ant-tabs-nav-operations {
        display: none;
      }
    }

    @media screen and (min-width: 1200px) and (max-width: 1499px) {
      display: block;

      h3 {
        margin-bottom: 5px;
      }
    }
  }

  .ant-tabs-tab {
    padding-top: 3px;
    padding-bottom: 15px;

    &.ant-tabs-tab-active {
      font-weight: 600;
    }
  }
}

.logged-in-view {
  .help-card-wrap {
    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: space-between;

      .col-1,
      .col-2 {
        width: 48%;
      }
    }
  }
}

.topicListFilterCardCollapse {
  &.ant-collapse {
    .ant-collapse-item {
      border-top: #e7e6f1 1px solid;
      border-bottom: 0;

      &:not(.ant-collapse-item-active) {
        .ant-collapse-header {
          .ant-collapse-arrow {
            transform: scaleY(-1) translateY(-50%);
            top: 12%;
          }
        }
      }
    }

    .ant-collapse-header {
      padding-left: 0;
      padding-right: 0;

      .ant-collapse-arrow {
        right: 0;
        transition: all 0.5s;
      }
    }

    .ant-collapse-content-box {
      padding-right: 0;
      padding-left: 0;
      padding-top: 0;
    }
  }
}
.topicFilterBorderRemove {
  &.ant-collapse {
    .ant-collapse-item {
      border-top: none;
    }
  }
}

.tab--card {
  .ant-card-head {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;

    //background: #f8f8f8 !important;
    .ant-card-head-wrapper {
      flex-grow: 1;

      .ant-card-head-title {
        font-size: 18px;
        margin-right: 20px;
        font-weight: 600;
      }
    }

    .ant-tabs {
      .ant-tabs-tab-btn {
        font-size: 14px;
        color: #1c1b24;
      }
    }

    .ant-tabs-tab-active {
      .ant-tabs-tab-btn {
        color: var(--primary);
        font-weight: 600;
      }
    }
  }

  .ant-tabs-ink-bar {
    background: var(--primary) !important;
  }
}

.main--layout {
  margin-top: 20px;
  margin-bottom: 20px;

  .ant-col-5 {
    padding: 0 20px;
  }
}

.siteAds {
  text-align: center;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.hdrUserdropdown {
  position: relative;

  .icon-user {
    // height: 30px;
    // width: 30px;
    line-height: 28px;
    background-color: #e6e9f1;
    color: #647488;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }

  .ant-space {
    @media screen and (max-width: 567px) {
      gap: 10px !important;
    }
  }

  .ant-dropdown-link {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;

    @media screen and (max-width: 567px) {
      color: #222;
    }
  }

  .ant-space-item {
    .anticon {
      @media screen and (max-width: 567px) {
        color: #222 !important;
      }
    }
  }
}

/* form {
  .ant-btn {
    padding: 4px 22px;
  }
  .ant-btn-lg {
    height: 40px;
    padding: 6.4px 40px;
    font-size: 16px;
    border-radius: 2px;
  }
} */
/* .ant-btn:hover,
.ant-btn:focus {
  box-shadow: 0 2px 15px rgba(0 0 0 / 20%);
  outline: 0;
} */

.ant-btn-primary {
  color: #fff;
  border-color: #4484ce;
  background: #4484ce;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px #0000000b;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus,
.ant-btn-primary:active {
  background-color: #2a71c2;
}

.ant-btn-orange {
  color: #fff;
  border-color: #f89d15;
  background: #f89d15;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px #0000000b;
  font-size: 14px;
}

.ant-btn-orange:hover,
.ant-btn-orange:focus,
.ant-btn-orange:active {
  background-color: #e28801;
  border-color: #e28801;
}

.ant-btn-green {
  color: #fff;
  border-color: #12c879;
  background: #12c879;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px #0000000b;
}

.ant-btn-green:hover,
.ant-btn-green:focus,
.ant-btn-green:active {
  background-color: #00ab60;
}

.ant-btn-bordered {
  color: #fff;
  border-color: #4484ce;
  color: #4484ce;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px #0000000b;
}

.createTopicBtn {
  width: 100%;
  font-size: 13px;
  font-weight: 600;
  color: #0f2a4d;
  border: solid 1px #d9d9d9;

  i {
    color: #2e68db;
    margin-right: 4px;
    position: relative;
    top: 2px;
  }
}

// topic details tree list

.tree-list-item {
  display: flex;
}

.ctCard {
  .chexkboxLabel {
    .ant-checkbox-inner {
      border-color: #d9d9d9;
      border-width: 2px;
      border-radius: 4px;
      width: 15px;
      height: 15px;
    }

    .ant-checkbox-checked {
      &::after {
        border-radius: 4px;
      }

      .ant-checkbox-inner {
        border-color: #4484ce;

        &::after {
          width: 5px;
          height: 8px;
          top: 46%;
          left: 2px;
        }
      }
    }

    .ant-checkbox-inner {
      border-color: #4484ce;

      &::after {
        width: 5px;
        height: 10px;
        top: 46%;
      }
    }
  }

  .ant-tree-switcher {
    .anticon {
      font-size: 16px;
      color: #000000;
    }
  }

  .ant-tree-list {
    .ant-tree-list-holder-inner {
      & > .ant-tree-treenode-switcher-open:first-child {
        .treeListItemTitle {
          font-size: 16px;
          font-weight: 600;

          a {
            color: var(--primary);
          }
        }
      }
    }
  }

  .ant-tree-node-selected {
    a {
      color: #2850be !important;
    }
  }

  .ant-tree-treenode {
    .ant-tree-node-content-wrapper {
      &:hover {
        background-color: transparent;
      }
    }

    /* &.ant-tree-treenode-leaf-last:first-child,
    &:nth-child(2) {
      .treeListItemTitle {
        font-size: 16px;
        font-weight: 600;
      }
    } */
    &.ant-tree-treenode-leaf-last:first-child {
      .treeListItemTitle {
        color: var(--primary);
      }
    }

    .ant-tree-node-content-wrapper.ant-tree-node-selected {
      background-color: transparent;

      & > span > div > span:first-child {
        color: #f89d15;
        font-weight: 600;
      }
    }
  }
}

.canCard {
  .ant-card-head {
    padding: 20px;

    @media screen and (max-width: 576px) {
      .ant-card-head-wrapper {
        flex-direction: column;
        align-items: flex-start;

        .ant-card-extra {
          margin-left: 0;
          margin-top: 0.5rem;
        }
      }
    }

    i[class*="icon-"] {
      margin-right: 5px;
    }

    .ant-card-head-title,
    .ant-card-extra {
      padding: 0;
    }

    .ant-card-head-title {
      line-height: 1.4;
      white-space: normal;

      h3 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 0;
        display: inline-flex;
        align-items: center;

        &.heading-color {
          color: #f89d15;
        }
      }
    }

    .ant-card-extra {
      font-size: 15px;
      font-weight: 500;
      display: flex;
      align-items: center;

      a,
      label {
        &:not(:last-child) {
          margin-right: 32px;
        }
      }

      label {
        font-weight: 500;
      }

      a {
        font-size: inherit;
        font-weight: inherit;
        display: inline-flex;
        align-items: center;
        line-height: 1;
      }
    }
  }

  .ant-card-body {
    padding: 20px;

    .ant-typography {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .ant-card-actions {
    & > li {
      & > span {
        cursor: default;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 20px;

        @media screen and (max-width: 575px) {
          flex-direction: column;
        }
      }
    }

    .ant-btn {
      display: flex;
      align-items: center;
      padding: 8px 22px;
      height: 38px;
      color: #fff;
      font-weight: 500;
      border: none;

      @media screen and (min-width: 576px) {
        &:not(:last-child) {
          margin-right: 28px;
        }
      }

      @media screen and (max-width: 575px) {
        width: 100%;
        justify-content: center;

        & + .ant-btn {
          margin-top: 0.5rem;
        }
      }
    }
  }

  .ant-descriptions-item {
    padding-bottom: 0;
  }

  .newsFeedsList {
    margin: 0;
    padding-left: 20px;

    li {
      & + li {
        margin-top: 0.5rem;
      }

      a {
        color: rgba(0, 0, 0, 0.85);
      }

      .anticon {
        margin-left: 0.5rem;
        color: red;
        cursor: pointer;
      }
    }
  }
}

.bold {
  font-weight: 700;
  white-space: nowrap;
}

.tooltip-icon-style {
  font-size: 17px;
  color: #d1d4db;
  cursor: pointer;
}

.can-card-list {
  padding-left: 23px;

  .ant-list-item {
    padding: 0;
    border: none;
    justify-content: inherit;

    a {
      color: #2e68db;
    }
  }
}

.load-more-btn {
  margin-top: 29px;
  font-size: 14px;
  font-weight: 500;
  padding: 7px 18px;
  height: 30px;
  display: flex;
  align-items: center;
  border-color: #4484ce;
  color: #4484ce;
}

.number-style {
  padding: 2px 7px;
  font-size: 11px;
  color: #fff;
  background-color: #f89d15;
  border-radius: 6px;
  font-weight: 400;
  margin-left: 10px;
}

.delegate-support-style {
  padding: 2px 7px;
  font-size: 11px;
  border-radius: 6px;
  font-weight: 400;
  margin-left: 10px;
  height: auto;

  &:not([disabled]) {
    background-color: #5215f8 !important;
    border-color: #5215f8 !important;
    color: #fff !important;
  }

  &:disabled {
    color: rgba(0, 0, 0, 0.5);
  }
}

.ant-breadcrumb-separator {
  margin: 0;
  color: #2e68db;
  font-size: 18px;
}

.ant-descriptions-item-container {
  @media screen and (max-width: 576px) {
    flex-direction: column;

    .ant-descriptions-item-label {
      margin-top: 0.5rem;
    }
  }
}

.ant-descriptions-view {
  table {
    @media screen and (max-width: 576px) {
      tr {
        margin-bottom: 0.5rem;

        .ant-descriptions-item-label {
          font-weight: 600;
        }
      }

      tr:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.mobile_tag {
  margin-top: 10px;
  display: none;

  @media screen and (max-width: 1080px) {
    display: block;
  }

  a {
    width: 100%;
    font-size: 14px;
    display: inline-block;
    padding: 8px 0;
    color: #222;
  }
}

#create_new_topic {
  .ant-form-item-extra {
    font-size: 12px;
    color: #ef5e5e;
    font-weight: normal;
    line-height: 14px;
  }
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
  // @media screen and (max-width: 1024px) {
  //   flex-flow: column;
  // }
}

.ant-btn-orange {
  &.orange-btn {
    background: #f89d15 0% 0% no-repeat padding-box;
    border-radius: 2px;
    border-color: #f89d15;
    color: #ffffff;
    transition: all 0.3s;

    &:hover {
      background: #d3840e;
    }
  }
}

.cardBox_tags {
  @media screen and (max-width: 767px) {
    .ant-row {
      flex-wrap: wrap;
    }
  }
}

.datepIcker {
  width: 120px;

  @media screen and (max-width: 1280px) {
    .ant-picker {
      padding: 0;
      height: 32px;
      width: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .ant-picker-input {
      margin: auto;
      width: auto;
    }

    width: auto;

    input {
      display: none !important;
    }

    .ant-picker-suffix {
      margin: 0;
    }
  }
}

.afterUpload {
  width: 100%;

  span {
    width: 100% !important;
  }

  .styles_spin {
    span {
      width: 17% !important;
      top: 33% !important;
    }
  }
}

.ant-upload-list-picture {
  display: flex;
  flex-wrap: wrap;

  .mr0 {
    margin-top: 0;
    border-color: #d9d9d9 !important;
    font-size: 12px;
  }

  .ant-upload-list-picture-container {
    display: flex;
    width: 195px;
    padding: 0 8px;
    margin-bottom: 16px;

    @media screen and (max-width: 1100px) {
      width: 50%;
    }

    @media screen and (max-width: 567px) {
      width: 100%;
    }

    img {
      margin: auto;
    }

    .fileName_label {
      width: 100%;
      background: #eaedf2;
      margin-top: 5px;
      padding: 4px 5px;
      border-radius: 0;
      font-size: 12px;
      color: #0f2a4d;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      box-sizing: border-box;
      display: inline-block;
    }

    .fileName_label_max_limit {
      width: 100%;
      background: #eaedf2;
      margin-top: 5px;
      padding: 4px 5px;
      border-radius: 0;
      font-size: 12px;
      color: red;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      box-sizing: border-box;
      display: inline-block;
    }

    .fileName_span {
      text-align: center;
      margin: 5px 5px 0;
      font-size: 12px;
      color: #6c737d;
      font-weight: 500;
    }

    .anticon-close-circle {
      position: absolute;
      right: 8px;
      color: #ef5e5e;
      font-size: 19px;
      width: auto !important;
      z-index: 999;
    }
  }
}

.ant-upload.ant-upload-select {
  display: block;
}

.uploadBTn {
  .anticon-inbox {
    font-size: 50px;
    color: #149fdf;
  }

  h2 {
    margin-bottom: 0;
    font-size: 20px;
    white-space: normal;
    margin-top: 10px;
    color: #1c1b24;
  }

  p {
    font-size: 16px;
    white-space: normal;
    color: #83868b;
  }
}

.Folder_container {
  height: 150px;
  width: 120px;
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
  border: none;
}

.Folder_container .ant-card-body {
  padding: 0px;
}

.FolderData {
  padding: 20px;
  background: chartreuse;

  .ant-card-body {
    padding: 0;
  }
}

.Menu_Iconss {
  width: 25px !important;
  padding: 0 !important;
  border-radius: 100%;
  height: 25px !important;
  right: 20px !important;
  top: 20px;
  color: #000 !important;
  bottom: inherit !important;
  text-align: center;
  font-size: 22px !important;
  background: #ffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.folder_icon .foldername {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 45px;
  left: 20px;
  z-index: 3;
  cursor: pointer;
}

.folder_icon .dateAndfiles {
  color: white;
  font-size: 12px;
  position: absolute;
  bottom: 50px;
  left: 20px;
  z-index: 3;
}

.folder_icon .anticon svg {
  height: 160px;
  width: 140px;
  color: rgb(68, 132, 206);
  position: absolute;
  top: -10px;
  left: -10px;
}

/***********/

.folder--wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: normal;
  z-index: 999;
  transform: translate(-50%, -50%);
  right: 10px;
  margin: 0 auto;
  text-align: left;
  color: #ffffff;
}

.ant-dropdown-trigger .anticon.anticon-more {
  color: #fff;
  font-size: 20px;
  right: 5px;
  position: absolute;
  bottom: -30px;
}

.anticon-folder.anticon svg {
  display: inline-block;
  font-size: 180px;
  line-height: 0;
  color: #4484ce;
}

.icon--menu {
  text-align: right;
  margin-bottom: 8px;
}

.hideUpload {
  display: none;
}

.foldername {
  font-size: 13px;
  text-align: center;
  margin-bottom: 10px;
}

#profileInfo {
  .ant-select-status-error {
    .ant-select-selector {
      border: none !important;
    }
  }

  .ant-input-group-addon {
    border-color: #d9d9d9 !important;
  }
}

.form-Title {
  font-size: 16px !important;
  font-weight: bold !important;
  margin-bottom: 20px !important;
}

.ant-tabs-tab + .ant-tabs-tab {
  margin: 0 0 0 27px;
}

.ant-input-group-addon {
  background-color: #f6f9ff;
  color: #000;
}

.NickName_TableHead {
  thead {
    th {
      background-color: #f5f6fa;
      font-weight: 600;
      font-size: 12px;
      color: #9a9a9a;
    }
  }
}

.Menu_Icon {
  color: rgba(0, 0, 0, 0.85) !important;
}

.ant-tabs-ink-bar {
  background-color: #2e68db !important;
}

.campHistoryCollapseCards {
  position: relative;
  padding-right: 55px;

  .ant-collapse-item {
    .ant-collapse-header {
      position: absolute;
      right: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.06);
      // rgb(227 237 232)
      padding: 0 !important;
      display: flex;
      align-items: center;

      .ant-collapse-header-text {
        padding: 10px;
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 13px;
      }
    }

    &:not(.ant-collapse-item-active) {
      .ant-collapse-header {
        bottom: 0px;

        .ant-collapse-header-text {
          i {
            transform: rotate(180deg);
          }
        }
      }
    }

    &.ant-collapse-item-active {
      .ant-collapse-header {
        background-color: #ef5e5e;

        .ant-collapse-header-text {
          i {
            transform: rotate(0deg);
            color: white;
          }
        }
      }
    }
  }
  &.objected {
    .ant-collapse-item {
      .ant-collapse-header {
        background: #f2e3e5;
      }
      &.ant-collapse-item-active {
        .ant-collapse-header {
          background-color: #ef5e5e;
        }
      }
    }
  }
  &.live {
    .ant-collapse-item {
      .ant-collapse-header {
        background: #e3ede8;
      }
      &.ant-collapse-item-active {
        .ant-collapse-header {
          background-color: #12c879;
        }
      }
    }
  }

  &.in_review {
    .ant-collapse-item {
      .ant-collapse-header {
        background: #f0eee5;
      }
      &.ant-collapse-item-active {
        .ant-collapse-header {
          background-color: #ffdd00;
        }
      }
    }
  }
  &.old {
    .ant-collapse-item {
      .ant-collapse-header {
        background: #e8e9f0;
      }
      &.ant-collapse-item-active {
        .ant-collapse-header {
          background-color: #4484ce;
        }
      }
    }
  }
}

.imgWrap {
  width: 100%;
  text-align: center;
  background-color: #f3f3f3;
  min-height: 125px;
  max-height: 125px;
  overflow: hidden;

  img {
    object-fit: cover;
  }
}

.ant-card-head-wrapper {
  flex-wrap: wrap;
}

.ant-card-head-title {
  flex: inherit;
}

.ant-card-extra {
  padding: 0;

  @media screen and (max-width: 1023px) {
    margin-left: inherit;
    float: left;
  }
}

.Back_from_browser {
  background-color: red;
}

.threeDOt {
  float: right;
  font-size: 21px;
  color: #000;
  cursor: pointer;
}

.TableContent {
  thead {
    tr {
      th {
        background-color: #f8f8f8;
        color: #1c1b24;
        font-size: 16px;
        padding: 10px;
        font-weight: 600;
        font-family: var(--font-family-asap);
      }
    }
  }

  tbody {
    tr {
      td {
        padding: 10px;
      }
    }
  }
}

.TableContent thead tr {
  th:nth-child(2) {
    min-width: 300px;
  }
}

.paginationCon {
  width: 100%;
  padding: 25px 0;

  .ant-pagination {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    li {
      border-radius: 2px;
      border: 1px solid #dde1e5;
      font-weight: 600;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 25px;

      a {
        color: #555c64;
        font-size: 14px;
        font-weight: 600;
      }

      button,
      a {
        padding: 0;
        margin: 0;
        border: none;
        line-height: 1;
      }

      &.ant-pagination-prev,
      &.ant-pagination-next {
        .anticon {
          svg {
            fill: #68707a;
          }
        }
      }

      &.ant-pagination-disabled {
        border-color: #dde1e5;

        .anticon {
          svg {
            fill: #dde1e5;
          }
        }
      }

      &.ant-pagination-item-active {
        border-color: #2e68db;

        a {
          color: #2e68db;
        }
      }
    }
  }
}

@media screen and (max-width: 332px) {
  .campHistoryCollapseCards .ant-collapse-item {
    &:not(.ant-collapse-item-active) {
      .ant-collapse-header {
        bottom: 162px;
      }
    }
  }
}

@media screen and (min-width: 333px) and (max-width: 453px) {
  .campHistoryCollapseCards .ant-collapse-item {
    &:not(.ant-collapse-item-active) {
      .ant-collapse-header {
        bottom: 138px;
      }
    }
  }
}

@media screen and (min-width: 454px) and (max-width: 1032px) {
  .campHistoryCollapseCards .ant-collapse-item {
    &:not(.ant-collapse-item-active) {
      .ant-collapse-header {
        bottom: 121px;
      }
    }
  }
}

.nick_name_extra .ant-form-item-extra {
  font-size: 10px;
}

.ql-container.ql-snow {
  height: 200px;
}

.linkCss {
  font-size: 16px;
  padding: 0 5px;
  color: #f89f38;
}

.ant-collapse.topicDetailsCollapse {
  margin-bottom: 1rem;
  border: #f0f0f0 1px solid;
  background-color: #fff;

  .rightOutlined {
    color: #6e6e6e;
    margin: 0 10px;
  }

  .ant-collapse-item {
    border: 0;
  }

  .ant-collapse-header,
  .ant-collapse-content-box {
    padding: 15px;
  }

  .ant-collapse-content {
    border-color: #f0f0f0;
    border-width: 2px;
    padding-top: 15px;
  }
  &.default {
    .ant-collapse-content {
      border-color: #12c879;
    }
  }

  &.bydate {
    .ant-collapse-content {
      border-color: #4484ce;
    }
  }

  &.review {
    .ant-collapse-content {
      border-color: #ffde0b;
    }
  }

  .ant-collapse-header {
    display: flex;
    align-items: center;
    padding-right: 50px;

    i[class^="icon-"] {
      margin-right: 5px;
      margin-left: 5px;
    }

    h3 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 0;
      display: inline-flex;
      align-items: center;
      color: #1c1b24;
    }

    .ant-collapse-extra {
      font-size: 15px;
      font-weight: 500;
      display: flex;
      margin: 0;

      a,
      .ant-checkbox-wrapper,
      .ant-btn {
        &:not(:last-child) {
          margin-right: 20px;
        }
      }

      .ant-checkbox-wrapper {
        font-weight: 500;
      }

      a,
      .ant-btn {
        font-size: inherit;
        font-weight: 500;
        display: inline-flex;
        align-items: center;
        line-height: 1;
        padding: 0;
      }
    }
  }

  .campStatementPanel {
    .ant-collapse-header {
      @media screen and (min-width: 576px) {
        align-items: center;
      }

      @media screen and (max-width: 575px) {
        display: block;
      }
    }

    .ant-collapse-extra {
      @media screen and (max-width: 575px) {
        margin-top: 0.5rem;
      }
    }
  }

  .ant-collapse-item-disabled {
    .ant-collapse-header {
      cursor: inherit;

      @media screen and (max-width: 767px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
      }

      padding-right: 20px;

      .ant-collapse-arrow {
        display: none;
      }
    }
  }

  .topicDetailsCollapseFooter {
    display: flex;
    justify-content: flex-end;
    border-top: #f0f0f0 1px solid;
    margin: 20px -20px 0 -20px;
    padding: 20px 20px 0 20px;

    .ant-btn {
      display: flex;
      align-items: center;
      padding: 8px 22px;
      height: 38px;
      color: #fff;
      font-weight: 500;
      border: none;

      &:disabled {
        color: rgba(0, 0, 0, 0.25);
      }

      @media screen and (min-width: 576px) {
        &:not(:last-child) {
          margin-right: 28px;
        }
      }

      @media screen and (max-width: 575px) {
        width: 100%;
        justify-content: center;

        & + .ant-btn {
          margin-top: 0.5rem;
        }
      }
    }
  }

  .topicDetailsNewsFeedsList {
    margin: 0;
    padding-left: 20px;

    li {
      & + li {
        margin-top: 0.5rem;
      }

      a {
        color: rgba(0, 0, 0, 0.85);
      }

      .anticon {
        margin-left: 0.5rem;
        color: red;
        cursor: pointer;
      }
    }
  }

  .ant-tree-switcher {
    .anticon {
      font-size: 16px;
      color: #000000;
    }
  }

  .ant-tree-list {
    .ant-tree-list-holder-inner {
      overflow-x: auto;
      overflow-y: clip;
      overflow: visible;
      white-space: nowrap;

      & > .ant-tree-treenode-switcher-open {
        .treeListItemTitle {
          // font-size: 16px;
          font-weight: 600;

          a {
            color: var(--primary);
          }
        }
      }
    }
  }

  .ant-tree-node-selected {
    a {
      color: #2850be !important;
    }
  }

  .ant-tree-treenode {
    .ant-tree-node-content-wrapper {
      &:hover {
        background-color: transparent;
      }
    }

    &.ant-tree-treenode-leaf-last:first-child {
      .treeListItemTitle {
        color: var(--primary);
      }
    }

    .ant-tree-node-content-wrapper.ant-tree-node-selected {
      background-color: transparent;

      & > span > div > span:first-child {
        color: #f89d15;
        font-weight: 600;
      }
    }
  }
}

.numberInput {
  .ant-input-group-addon
    .ant-select.ant-select-single:not(.ant-select-customize-input)
    .ant-select-selector {
    border-color: transparent !important;
  }
}

// .UploadFile .modal_cross .ant-modal-content .ant-modal-header .ant-modal-title {
//   color: #2e68db !important;
//   font-size: 20px;
//   font-family: Asap;
//   font-weight: 600;
//   margin-bottom: 40px;
//   font-family: var(--font-family-asap);
// }
.ant-modal-title {
  color: #0f2a4d;
  font-size: 20px;
  font-weight: 600;
  font-family: var(--font-family-asap);
}

span.ant-modal-close-x {
  font-size: 20px;
  color: #0f2a4d;
}

.TableContent thead tr th:last-child,
.TableContent tbody tr td:last-child {
  text-align: center;
}

.TableContent tbody tr td .threeDOt {
  float: none;
}

body .UploadFile_menu_item__Fnasz .anticon {
  color: #4484ce;
}

body .UploadFile_menu_item__Fnasz {
  color: #0f2a4d;
}

.card_heading {
  font-size: 18px;
}

.reactDropdown span.ant-input-group-wrapper-lg + div {
  box-shadow: 4px 0px 5px rgb(0 0 0 / 50%), -4px 0px 5px rgb(0 0 0 / 50%);
}

div[role="option"] {
  border-bottom: 1px solid #ccc;
  padding: 5px 5px 5px 28px;
  position: relative;
}

div[role="option"]::before {
  content: url(../image/map-marker-alt.svg);
  position: absolute;
  left: 5px;
  transform: scale(0.5);
  top: 0px;
}

.newsFeedsList {
  list-style-type: square;
  padding-left: 20px;
  li {
    &::marker {
      color: var(--primary);
    }
  }
}

.tag {
  margin: 3px 10px 3px 0;
  font-size: 13px;
  //border: 1px dashed #cccccc;
  border-radius: 4px;
  padding: 0 2px;
  line-height: 30px;
  color: #666666;
  background: rgba(255, 255, 255, 0.7);

  border: 1px solid #f0f0f0 !important;
  background: transparent;
  color: #4484ce;
  font-weight: 600;
  font-size: 14px;
  padding: 4px 12px;
  margin-bottom: 6px;
  display: inline-flex;
  border-radius: 0;
  align-items: center;
  box-shadow: 3px 3px 0px #3f4f5b14;

  @media screen and (max-width: 767px) {
    font-size: 13px;
  }

  .count {
    color: #000 !important;
    font-weight: 600;
  }

  span {
    color: #d1d4db;
    margin-left: 5px;
    font-size: 16px;
  }
}

.tags_disable {
  background: #f5f5f5;
  cursor: not-allowed;
}

.ant-form-item-label
  > label.ant-form-item-required:not(
    .ant-form-item-required-mark-optional
  )::before {
  display: none;
}

.ant-form-item-required {
  .required {
    color: red !important;
    margin-left: 3px;
    display: inline-block;
  }
}

.dropdown {
  position: absolute;
  right: 15px;
  bottom: 20px;
  width: 20px;
  cursor: pointer;
  height: 20px;
}

.ant-dropdown-trigger .anticon.anticon-more {
  color: #fff;
  font-size: 20px;
  right: inherit;
  position: inherit;
  bottom: inherit;
}

.Profile_btn {
  min-width: 150px;
}

.tab--card > .ant-card-head {
  .ant-card-head-wrapper {
    flex: inherit !important;
  }

  .ant-tabs {
    flex: 1;
    overflow: hidden;

    .ant-tabs-nav-list {
      margin-left: auto;
    }
  }
}

.TableContent .ant-table-content {
  overflow: auto;
}

.statementPreviewModal {
  .ant-modal-body {
    max-height: calc(100vh - 150px);
    overflow-x: hidden;

    pre {
      white-space: inherit;
    }
  }

  .ant-descriptions-item-label {
    font-weight: bold;
    min-width: 108px;
    max-width: 165px;
  }
}

.searchinput {
  position: relative;
  pointer-events: none;
  z-index: 999;
}

.ql-html-editor {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    span {
      position: relative;

      &::before {
        content: " ";
      }
    }
  }
}
.boldLabel {
  font-weight: 600;
}
.ant-drawer-content-wrapper {
  max-width: 100%;
}

.Parent_Leaf .ant-tree-switcher {
  display: none !important;
}

.topicDetailsCollapse {
  &.news-feeds {
    .ant-collapse-header {
      display: block;
    }

    .ant-collapse-extra {
      margin-top: 0.5rem;
    }
  }
}

.policy-content .p1,
.policy-content .p2,
.policy-content .p3,
.policy-content h1,
.policy-content h2,
.policy-content h3,
.policy-content h4,
.policy-content h5,
.policy-content h6 {
  font-weight: bold;
}

.policy-content .p1,
.policy-content h1 {
  font-size: 2rem;
}

.policy-content .p2,
.policy-content h2 {
  font-size: 1.75rem;
}

.policy-content .p3,
.policy-content h3 {
  font-size: 1.5rem;
}

.policy-content .p4,
.policy-content h4 {
  font-size: 1.25rem;
}

.policy-content .p5,
.policy-content h5 {
  font-size: 1.125rem;
}

.profileInfoPointer #selectCountry,
#email,
#selectCity,
#selectState {
  pointer-events: none;
}

.disable-style {
  color: rgba(0, 0, 0, 0.25) !important;
  border-color: #d9d9d9;
  background: #f5f5f5 !important;
}

.video-chap-content {
  padding: 10px 0;

  ul,
  ol {
    margin-left: 30px !important;
    padding-left: 0 !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.8 !important;

    li {
      line-height: 1.3 !important;

      &::marker {
        font-size: 1rem;
      }
    }
  }

  p,
  a {
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.8 !important;
  }
}

.activeListWrap {
  ul {
    padding-left: 26px;
  }
}

@media screen and (max-width: 767px) {
  .adsbygoogle {
    display: none !important;
  }
}

.socail-skeleton {
  display: flex;
  gap: 15px;

  span {
    width: 30px;
    height: 30px;
  }
}

.campInfoRight {
  display: flex;
}

.cam-social-ot {
  .camp-social {
    padding: 0 !important;
  }

  .manage-form-btnwrap {
    display: flex;
    gap: 15px;

    & > span {
      width: 100px;
    }
  }
}

.rang-slider {
  @media screen and (min-width: 768px) {
    margin: 50px 40px 10px;
  }
  @media screen and (max-width: 767px) {
    margin: 10px 16px 10px;
  }
  .ant-slider-tooltip {
    z-index: 999;
    .ant-tooltip-arrow-content {
      --antd-arrow-background-color: rgba(45, 145, 203, 0.856);
    }
    .ant-tooltip-inner {
      background-color: rgba(45, 145, 203, 0.856);
    }
  }
  .ant-slider-mark {
    top: -22px;

    &-text {
      color: var(--primary);
      font-size: 10px;

      &:last-child {
        white-space: nowrap;
      }
    }
  }

  .ant-slider-handle {
    border-color: var(--primary);
    background-color: var(--primary);
  }

  .ant-slider-rail,
  .ant-slider-track {
    height: 2px;
  }

  .ant-slider-handle {
    margin-top: -6px;
  }

  .ant-slider-rail {
    background-color: #bbdbff;
  }

  .ant-slider-track {
    background-color: var(--primary);
  }

  .ant-slider-dot {
    width: 1px;
    border-width: 1px;
    height: 4px;
    border-color: #bbdbff;

    &-active {
      border-color: var(--primary);
    }

    top: -4px;

    &:last-child {
      left: auto !important;
      right: 0;
    }

    .progress-bar {
      margin-left: 10px;

      span {
        font-size: 11px !important;
        font-weight: 400 !important;
      }
    }
  }
}

.evntLineActivity {
  .ant-card-body {
    padding-left: 40px !important;
  }
}

.evenline-bars {
  overflow: auto;

  & > div {
    width: 575px;
    white-space: nowrap;
  }
}

.evntLineActivity {
  max-height: 400px;
  overflow-x: hidden;
  height: auto !important;
}

.header-bg-color-change {
  &.default {
    .ant-collapse-header,
    &.topics-list-card-header {
      border-top: 2px solid #12c879;
      background-color: #e5f6ee;
      &-text {
        display: flex;
        .cmp-change-icon {
          top: 3px !important;
          position: relative;
        }
      }
    }
    &.radio-group-sider {
      .ant-radio.ant-radio-checked {
        .ant-radio-inner {
          border-color: #12c879;
          &::after {
            background-color: #12c879;
          }
        }
      }
    }
  }

  &.bydate {
    .ant-collapse-header,
    &.topics-list-card-header {
      border-top: 2px solid #4484ce;
      background-color: #eef3ff;
    }
    &.radio-group-sider {
      .ant-radio.ant-radio-checked {
        .ant-radio-inner {
          border-color: #4484ce;
          &::after {
            background-color: #4484ce;
          }
        }
      }
    }
  }

  &.review {
    .ant-collapse-header,
    &.topics-list-card-header {
      border-top: 2px solid #ffde0b;
      background-color: #fffae3;
    }
    &.radio-group-sider {
      .ant-radio.ant-radio-checked {
        .ant-radio-inner {
          border-color: #ffde0b;
          &::after {
            background-color: #ffde0b;
          }
        }
      }
    }
  }

  &.radio-group-sider {
    border-top: 0 !important;

    .ant-collapse-header {
      margin-left: -15px;
      margin-right: -15px;
      padding-left: 15px;
      padding-right: 15px;

      .ant-collapse-expand-icon {
        .ant-collapse-arrow {
          right: 15px;
        }
      }
    }
  }
}

.topics-list-card-header {
  padding: 15px 10px;
  display: flex;

  gap: 8px;
  @media screen and (max-width: 1300px) {
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) {
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  .ant-select.ant-select-lg {
    margin-right: auto;

    @media screen and (min-width: 768px) {
      margin-left: 0px;
      max-width: 100%;
      width: 100%;
    }
    @media screen and (max-width: 1500px) {
      margin-left: 0;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
    }

    @supports (-webkit-touch-callout: none) {
      @media screen and (min-width: 768px) {
        min-width: 300px;
      }
    }
  }

  h3 {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #1c1b24;
    margin-bottom: 0;
    white-space: nowrap;

    i {
      margin-left: 5px;
      color: #d1d4db;
    }
  }
}

.direct-support-modal {
  padding: 15px !important;
  .ant-modal-body {
    max-height: calc(50vh - 85px);
    min-height: calc(100vh - 310px);
    overflow: auto;
  }
}

.agreed-tabs {
  .ant-tabs-nav-list {
    width: 100%;
  }
  .ant-tabs-tab {
    width: 50%;
    justify-content: center;
  }
  .ant-tabs-nav-operations {
    position: absolute;
  }
  .ant-tabs-nav-more {
    display: none;
  }
}

.skeleton-rangslider {
  .ant-slider-tooltip {
    .ant-tooltip-inner {
      background-color: #ebebeb;
      box-shadow: none;
    }
    .ant-tooltip-arrow-content {
      --antd-arrow-background-color: #ebebeb;
      box-shadow: none;
    }
  }
}
.header-none {
  .ant-collapse-header {
    display: none !important;
  }
}
.grecaptcha-badge {
  // visibility: hidden;
  // opacity: 0;
}

.ant-descriptions-item-label::after {
  margin: 0 4px 0 1px;
}
.progress-bar {
  margin-left: 10px;
  span {
    font-size: 11px !important;
    font-weight: 400 !important;
  }
}
.leftSideBar_Card .search_tabs .ant-btn > span {
  position: absolute !important;
  left: 15px;
}
.leftSideBar_Card {
  .search_tabs {
    .ant-btn {
      background: #f3f4f5;
      border-radius: 2px;
      margin-bottom: 7px;
      border: 1px solid #f3f4f5;
      justify-content: flex-start !important;
      font-size: 14px;
      letter-spacing: 0px;
      color: #1c1b24;
      opacity: 1;
      padding: 6.4px 15px 6.4px 40px !important;
      display: flex;
      align-items: center;
      position: relative;
      i {
        color: #a2acb9;
        font-size: 15px;
        margin-right: 0px;
        position: absolute;
        left: 15px;
      }
      img {
        transition: all 0.3s ease;
      }
      &:hover img {
        filter: brightness(0) invert(1);
      }
      a {
        color: #1c1b24;
      }

      &:hover,
      &.active {
        background-color: #4484ce;
        color: #fff;
        i {
          color: #fff;
        }
        a {
          color: #fff;
        }
      }
    }
  }
}
.nick_name_icon {
  background-color: red;
}

.newfeedCardSpinner {
  .topicDetailsCollapse.news-feeds {
    .ant-collapse-item:not(.ant-collapse-item-active) {
      .ant-collapse-extra {
        display: none;
      }
    }
  }
  .news-feeds {
    .ant-collapse-header {
      .ant-collapse-arrow {
        top: 15px;
        transform: translateY(0);
      }
    }
  }
}

.topicDeskBTN {
  .ant-btn {
    background-color: transparent;
    color: #fff;
    box-shadow: none;
    border-color: #fff;
    transition: all 0.3s;
    border: none;
    padding: 0 !important;
    height: auto;
    line-height: 1;
    font-weight: 500;

    i {
      color: #fff;
    }
    img {
      margin-right: 5px;
      width: 16px;
    }
    &:hover {
      background-color: transparent;
      border-color: transparent;
    }
  }
  @media screen and (max-width: 767px) {
    display: none !important;
  }
}

.change-icon {
  width: 20px;
  position: relative;
  left: 6px;
  top: -4px;
}

.cmp-title {
  margin-right: 10px;
}

// .siteHeader_nav___O0X5{
//   display: none;
// }

.Mob_View {
  .siteHeader_nav___O0X5 {
    display: none;
  }
  .search_header {
    display: none;
    @media screen and (max-width: 1199px) {
      display: flex;
    }
    // @media only screen and (max-width: 580px) {
    //   padding: 0;
    // }
  }
  @media screen and (max-width: 1199px) {
    display: block;
    max-width: 850px;
    margin: 0 auto;
    padding: 15px 0;
  }
}

.topicMobBTN {
  display: none !important;
  @media screen and (max-width: 1199px) {
    display: block !important;
    padding: 15px 15px 0;
  }
}

.topicDeskBTN {
  display: block;
  // background: red;
  @media screen and (max-width: 1200px) {
    margin-right: 0;
    display: none;
  }
}

.siteHeader_wrap__DJamy
  .siteHeader_navWrap__yilWi.siteHeader_showMobMenu__Er4fO
  .search_header {
  display: none;
}

// .ant-select-dropdown-hidden

.siteHeader_showMobMenu__Er4fO .hdrUserdropdown > .ant-space {
  gap: 8px !important;
}

.layout_pageWrap__Yr98j .layout_contentArea__WiOLg.layout_eventListArea__WsP_p {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.layout_pageWrap__Yr98j .layout_contentArea__WiOLg {
  row-gap: 15px;
}

.miniSideBar .leftSideBar_Card .leftSideBar_Card {
  border: none;
  margin: 0;
}

// profile picture uploader

.ant-upload-list-item {
  border: 0 !important;
}

.ant-upload-list-item,
.ant-upload-list-item-info,
.ant-upload-list-item-thumbnail,
.ant-upload-list-picture-card-container {
  border-radius: 50%;
}

.ant-upload-list-item-actions {
  border-radius: 50%;
}

.ant-upload-list-item-actions > li {
  border-top: none;
}

.ant-upload-list-item-actions-icon,
.ant-upload-list-item-actions-remove {
  border-radius: 50%;
}

.picture-upload {
  .ant-upload-select-picture-card {
    background-color: transparent;
    border-radius: 50%;
  }
}
.upload-wrap {
  position: relative;
  .ant-upload-list-item-info {
    border: 1px solid #2c6cb5;
  }
  .ant-btn-default {
    position: absolute;
    bottom: 8px;
    left: 50%;
    z-index: 10;
    font-size: 20px;
    border-color: #2c6cb5;
    color: #2c6cb5;
    background-color: #f8f8f8;
    padding: 0 5px;
    height: auto;
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      width: 16px;
    }
  }
}

.edit-profile-picture {
  left: 50%;
  bottom: 36px;
  border-radius: 15px;
  z-index: 10;
}
.slider-skeleton {
  display: flex;
  justify-content: center;
  gap: 10px;
  span:first-child {
    display: flex;
    gap: 10px;
  }
  br {
    display: none;
  }
}
.skeleton-slider2 {
  margin: 15px 0;
}

.user-profile-wrap {
  width: 100%;
}
.text-underline {
  text-decoration: underline;
  &:hover {
    text-decoration: underline;
  }
}
.event-line-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4;
  button {
    width: auto !important;
    background-color: rgb(248, 157, 21);
    border-color: rgb(248, 157, 21) !important;
    color: #fff !important;
    &:hover,
    &:focus {
      background-color: rgb(248, 157, 21);
      border-color: rgb(248, 157, 21) !important;
    }
  }
}
.browse-wrapper {
  .browse-title {
    @apply text-[2rem] mb-0 text-[#242B37];
  }
  .ant-divider {
    @apply my-8 border-[#CCD4E7];
  }
  .browse-actions {
    @apply flex md:items-end justify-between gap-4 mb-[3.75rem] max-md:flex-col;
    .ant-form {
      .ant-form-item-required {
        @apply text-[#69748B] text-sm;
      }
    }
    .browse-filters{
    .ant-select-selector {
      @apply rounded-md;
      .ant-select-selection-item{
        @apply text-[1rem] font-medium text-[#242B37];
      }
      }
      .ant-select-arrow{
        .anticon,i{
        @apply text-[#000] text-lg;
        }
    }
  }
    .search-wrapper {
      @apply flex gap-4;
      .browse-search {
        @apply md:max-w-[350px] w-full;
        .ant-input {
          @apply rounded-tl-md rounded-bl-md;
        }
        .ant-input-group-addon {
          .ant-input-search-button {
            @apply rounded-tr-md rounded-br-md;
          }
        }
      }
    }

    .browse-dropdown {
      @apply mb-0;
      .ant-btn-compact-first-item {
        @apply min-w-[340px] text-start;
      }
      .ant-select {
        @apply w-[390px] max-md:w-full;
        .ant-select-selector {
          @apply rounded-md;
        }
      }
    }
  }
  .search-response {
    @apply flex gap-4 items-center mb-9 font-semibold;
    .btn-clear {
      @apply flex gap-1 items-center font-semibold;
    }
  }
  .browse-card {
    @apply ease-in-out duration-300 cursor-pointer bg-[#F7F8FC] rounded-lg border-transparent h-full;
    &:hover {
      @apply hover:shadow-[0px_10px_20px_0px_#31507233] hover:bg-white;
      .ant-card-body {
        .btn-right {
          @apply opacity-100;
        }
      }
    }
    .ant-card-body {
      @apply p-[1.25rem];
      .card-description {
        @apply text-[#242B37];
      }
      .btn-right {
        @apply text-[#5482C8] opacity-0;
      }
      .browse-card-footer{
        @apply flex justify-between mt-auto mt-3 mt-auto flex-row  ;
        .browse-avatar{
         .ant-avatar{
          &:not(:first-child) {
            margin-left: -19px;
         }
        }
        }
      }
     
    }
  }
  .browse-pagination {
    @apply flex lg:px-[3.25rem];
    .ant-pagination-item-active{
      @apply rounded-md;
    }
    .ant-pagination-total-text {
      @apply mr-auto;
    }
    .ant-pagination-options {
      @apply ml-auto;
      .ant-select{
        .ant-select-selector{
        @apply rounded-md;
        }
      }
      .ant-pagination-options-quick-jumper{
        @apply md:ml-10;
        input{
          @apply rounded-md;
        }
      }
    }

   
  }
}
.filter-popover-wrapper{
  @apply flex items-center gap-3 mb-2 text-[#777F93] ;
  .ant-popover-inner-content{
    @apply max-w-[300px] w-full ;
  }
}


@media screen and (max-width: 767px) {
  .topicDetails_breadcrumbLinks__7BG2D{
    margin-left: 5px;
  }
  .ant-drawer-body:has(.drawer_card) {
    padding: 0 !important;
  }
  .topicDetails_topicDetailContentHead__ADZg_.topicDetails_inforBarHEad__MYFjt.printHIde{
   
    padding-top: 30px !important;
}
  .btn-parent {
    button {
      width: 50%;
    }
    .topicListFilter_cardAccordian__60JTB,
    .topicListFilterCardCollapse.ant-collapse .ant-collapse-item,
    .ant-row.topicListFilter_filterRow__pqywv {
      height: 100%;
    }

    .ant-collapse-content.ant-collapse-content-active {
      height: 100%;
    }
    .ant-collapse-content-box {
      height: 100%;
    }
    .ant-drawer-body {
      padding: 0;
    }
    .ant-drawer-body {
      padding-bottom: 0px !important;
    }
  }

  .btn-parent {
    .btnApplyfilters {
      border: none !important;
      border-radius: 0px;
      height: 67px;
      background: #5482c8;
      color: #fff !important;
    }

    .btnCancel {
      border-top: 1px solid #dde2ee !important;
      border-bottom: none !important;
      border-right: none !important;
      border-left: none !important;

      border-radius: 0px;
      height: 67px;
    }
  }

  .custom-collapse .ant-drawer-content {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}



.algo_title_new {
  border-bottom: 1px solid #dde2ee;
  margin-bottom: 15px;
  padding: 20px 20px;
}
.score_value {
  margin-bottom: 15px;
  padding: 10px 20px 30px 20px;
  width: 100%;
  border-bottom: 1px solid #dde2ee;
}
.as-of-div{
  margin-bottom: 15px;
  padding: 10px 20px 30px 20px;
  width: 100%;
}

 
    .manage_camp_btn {
      border: 1px solid #5482c8;
      height: 40px !important;
      padding: 10px 13px;

      border-radius: 10px;
      display: flex;
      align-items: center;
      gap: 10px;
      //styleName: Heading/H3/Medium;
      font-family: Inter;
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
      text-align: center;
      color: #242b37;
      background: #5482c8 !important;

      // &:first-child {
      //   background: #5482c8 !important;
        color: #fff;

      //   align-items: center;
      // }
    }
  

  .create-new-camp-btn {
    border: 1px solid #5482c8;

    padding: 10px 13px;

    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    //styleName: Heading/H3/Medium;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    color: #242b37;
    background: rgba(152, 183, 230, 0.1);
  }



@media  (min-width:1024px) and (max-width:1150px) {
  .ant-select-single.ant-select-customize-input .ant-select-selector .ant-select-selection-search {
    position: static;
    width: 60%;
}
  
}
