.signup_wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.03);
  position: relative;

  &.textCenter,
  .textCenter {
    text-align: center;

    label {
      display: block;
      text-align: center;
    }
  }

  form {
    padding: 25px;
    .titles {
      color: #2e68db;
      font-size: 26px;
      font-family: Asap;
      font-weight: 500;
      margin-bottom: 40px;
      font-family: var(--font-family-asap);
    }
    .section_one {
      width: 100%;
      height: 100%;
      text-align: left;

      label {
        font-size: 15px;
        font-weight: 600;
        color: #795548;

        &::before {
          position: absolute;
          right: -15px;
        }
      }

      input {
        transition: all 0.3s;
        &:not([type="checkbox"]) {
          height: 42px;
          background: var(--color-ffffff) 0% 0% no-repeat padding-box;
          border: 1px solid #d9d9d9;
          font-size: 16px;
          color: #262626;
          border-radius: 0.25rem;
        }

        ::placeholder {
          font-size: 14px;
          color: #afb6bb;
        }

        &.otpInput {
          max-width: 300px;
          margin: auto;
          display: block;
          text-align: center;
        }
      }
      .passwordInput {
        border: 1px solid #d9d9d9;
        border-radius: 0.25rem;
        height: 42px;
        input {
          border: none;
          height: 100%;
        }
      }
      .phoneInput {
        input {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
      .imageWrapper {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;

        img {
          max-width: 100%;
          width: 350px;
          object-fit: cover;
          object-position: center;
        }
      }
      .otpNote {
        text-align: center;
        display: block;
        margin-bottom: 25px;
        font-size: 15px;
        color: #f81b1b;

        .otpNoteSupport {
          display: block;

          @media screen and (max-width: 991px) {
            display: inline;
          }
        }
      }
    }

    button {
      background: var(--yellow) 0% 0% no-repeat;
      border-radius: 2px;
      border-color: var(--yellow);
      font-size: 16px;
      font-family: var(--font-family-asap);
      font-weight: 500;
      transition: all 0.3s;

      &[type="submit"] {
        min-height: 38px;
        display: block;
        margin-top: 30px;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
      }

      &:hover,
      &:focus {
        background: #d38714 0% 0% no-repeat;
        border-color: #d38714;
        box-shadow: none;
      }

      &.login-form-button {
        margin-top: 0;
      }
      &.resetOTP {
        background-color: transparent;
        border: none;
        box-shadow: none !important;
        outline: none !important;
        width: auto;
        margin: 0 auto 20px;
        display: block;
        color: var(--yellow);
      }
    }

    .ft_link {
      display: block;
      text-align: center;
      color: #0f2a4d;
      font-size: 15px;
      font-weight: normal;
      a {
        color: #2e68db;
        font-weight: 600;
      }
    }

    .captchaCol {
      margin-bottom: 15px;
      // width: 70%;
      // height: 60px;
      // border: 1px solid #d9d9d9;
    }
    .captchaEnter {
      width: 70%;
    }
  }

  .close_btn {
    color: #0f2a4d;
    width: auto;
    height: auto;
    min-width: auto;
    position: absolute;
    top: 10px;
    right: 0;
    background: transparent !important;
    border: none;
    outline: none;

    svg {
      width: 20px;
      height: 20px;
    }

    &:hover {
      box-shadow: none;
    }
  }

  &.resetPassword {
    box-shadow: none;
    padding: 0;
    background-color: #fff;
    border: none;
    margin-bottom: 16px;
    height: calc(100% - 5px);

    form {
      padding: 0;
      .titles {
        color: #1c1b24;
        font-size: 20px;
        padding: 20px;
        border-bottom: 1px solid #f1f1f1;
      }
      button {
        &.login-form-button {
          margin: 15px 0 0;
          width: 150px;
          // padding-left: 40px;
          // padding-right: 40px;
        }
      }
      .inputRows {
        padding: 0 10px;
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 767px) {
    form {
      .section_one {
        input {
          &:not([type="checkbox"]) {
            width: 100%;
          }

          &.otpInput {
            width: 100%;
            max-width: 100%;
          }
        }
        label {
          text-align: left;
        }
      }
    }
  }
}

.rightSidebar {
  text-align: center;
}

.wrap {
  padding: 23px 12px;
  border: solid 1px #f0f0f0;
  background-color: #fff;
  margin-bottom: 16px;
}

.createBtn {
  width: 100%;
  font-size: 1.125rem;
  font-weight: 600;
  color: #0f2a4d;
  border: solid 1px #d9d9d9;
  i {
    color: #2e68db;
    margin-right: 8px;
    position: relative;
    top: 2px;
  }
}
