.wrap {
  background-color: #fff;
  padding: 15px;
  .container {
    max-width: 850px;
    margin: 0 auto;
    p {
      text-align: center;
      color: #1c1b24;
      margin: 10px 0 0 0;
      font-size: 13px;
    }
  }
  .form {
    padding: 5px;
    border: #d9d9d9 1px solid;
    height: 50px;
    @media screen and (min-width: 768px) {
      display: flex;
    }
    @media screen and (max-width: 767px) {
      height: 100%;
    }
  }
  .formRadio {
    border-color: #d9d9d9;
    border-style: solid;
    padding: 10px 1rem;
    display: flex;
    .formItem {
      display: flex;
      align-items: center;
      & + .formItem {
        margin-left: 15px;
      }
    }
    label {
      // font-size: 1rem;
      margin-left: 5px;
    }
    @media screen and (min-width: 768px) {
      border-width: 0 1px 0 0;
      margin: -5px 0;
      width: 270px;
    }
    @media screen and (max-width: 767px) {
      border-width: 0 0 1px 0;
      margin: -5px -5px 0;
    }
  }
  .formInput {
    height: 100%;
    span {
      &:first-child {
        height: 100%;
      }
    }
    input {
      border: 0;
      height: 100%;
      padding-top: 0;
      padding-bottom: 0;

      &::placeholder {
        font-size: 14px;
      }

      &:focus {
        box-shadow: none;
      }
      & + span {
        display: none;
      }
    }
    @media screen and (min-width: 768px) {
      flex: 1;
      width: auto;
      align-self: center;
      margin: 5px 0.5rem;
    }
    @media screen and (max-width: 767px) {
      margin: 8px 0;
    }
  }
  .btnSearch {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 2px;
    i {
      margin-right: 5px;
    }
    @media screen and (min-width: 768px) {
      width: 150px;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
}
