// .timeBarControl {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   gap: 20px;
//   margin-bottom: 35px;
//   .controlBtnSecond {
//     svg {
//       font-size: 24px;
//       fill: #4484ce;
//       cursor: pointer;
//     }
//   }
//   .controlBtn {
//     svg {
//       font-size: 30px;
//       fill: #4484ce;
//       cursor: pointer;
//     }
//   }
//   .playBtn {
//     cursor: pointer;
//     line-height: normal;
//     svg {
//       font-size: 40px;
//       fill: #4484ce;
//     }
//   }
// }
// .disablePlayBtn {
//   .controlBtnSecond,
//   .playBtn,
//   .controlBtn {
//     svg {
//       fill: #d5d5d5 !important;
//       cursor: no-drop;
//     }
//   }
// }
// .disableIcon {
//   color: #d5d5d5;
//   cursor: no-drop;
// }
