.wrapper {
  width: 100%;

  .icon_container {
    // width: 100%;
    // display: grid;
    // grid-template-columns: auto auto auto auto auto;
    // grid-gap: 20px;

    // @media screen and (max-width: 1200px) {
    //   grid-gap: 10px;
    //   display: flex;
    //   grid-template-columns: inherit;
    //   flex-wrap: wrap;
    // }
    .icon_wrapper {
      width: 100%;
      height: 100%;
      @media screen and (max-width: 1200px) {
        width: calc(33.33% - 10px);
      }
      @media screen and (max-width: 767px) {
        width: calc(50% - 10px);
      }
      @media screen and (max-width: 567px) {
        width: 100%;
      }

      .icon_box {
        // background: #ffffff 0% 0% no-repeat padding-box;
        // border: 1px solid #d1d4db;
        // border-radius: 4px;
        opacity: 1;
        text-align: center;
        width: 100%;
        height: 100%;
        // padding: 15px 10px;

        .icons {
          img,
          svg {
            width: 30px;
            height: 30px;
          }
          .caption {
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0px;
            color: #1c1b24;
            opacity: 1;
            text-transform: capitalize;
            display: block;
            text-align: center;
            padding-top: 0.75em;
            padding-bottom: 0.3em;
          }
        }
      }

      .content {
        width: 100%;
        // height: calc(100% - 80px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-flow: column;
        word-break: break-all;
        overflow: hidden;

        .name,
        .linkBtn .email {
          letter-spacing: 0px;
          color: #0f2a4d;
          opacity: 1;
          font-weight: 600;
          font-size: 12px;
          line-height: 14px;
          display: inline-flex;
        }
        .email {
          font-weight: normal;
        }
        .linkBtn {
          font-weight: normal;
          color: #ef5e5e;
          transition: all 0.3s;

          &:hover {
            color: #f74e4e;
          }
        }
        .submitBtn {
          // width: 100%;
          // max-width: 150px;
          // font-size: 16px;
          // font-weight: normal;
          // line-height: 18px;
          // color: #ffffff;
        }
      }

      .divider {
        margin: 10px 0;
      }

      &:nth-child(2) {
        .icon_box {
          .icons {
            svg {
              fill: #475993;
            }
          }
        }
      }
      &:nth-child(3) {
        .icon_box {
          .icons {
            svg {
              fill: #03a9f4;
            }
          }
        }
      }
      &:nth-child(4) {
        .icon_box {
          .icons {
            svg {
              fill: #0077b5;
            }
          }
        }
      }
      &:nth-child(5) {
        .icon_box {
          .icons {
            svg {
              fill: #161514;
            }
          }
        }
      }
    }
  }
}

.modal {
  background-color: red;
  padding: 0;
}

.cancel_btn {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #4484ce;
  border-radius: 2px;
  opacity: 1;
  letter-spacing: 0px;
  color: #4484ce;
  font-size: 14px;
  font-weight: 600;
  opacity: 1;
  line-height: 16px;
  transition: all 0.3s;
  margin-left: 15px;

  &:hover {
    background: #4484ce;
    color: #ffffff;
  }
}

.buttonDiv {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 20px;
}
