.wrap{
    max-width: 510px;
    width: 100%;
    padding:23px 20px;
    background-color:#fff;
    border: solid 1px #F0F0F0;
    padding-bottom: 10px;
}

.head{
    margin-bottom:20px;
    @media screen and (min-width:768px){
        display:flex;
        align-items: center;
        justify-content: space-between;
    }
}

.list{
    border: none;
    >div:first-child {
        padding:0;
        border-bottom: none;
    }
    h3{
        font-size:1.25rem;
        color:#1C1B24;
        margin-bottom:0;
        i{
            margin-left:5px;
            color: #D1D4DB;
            position: relative;
            top:3px;
        }
    }
    li{
        position: relative;
        padding: 0!important;
        border-bottom: none!important;
        a{
        color:#0F2A4D;
        font-size: 1.125rem;
        font-weight:400;
        padding-top:3px;
        display: block;
        width: 100%;
        padding-bottom:3px;
        justify-content: unset;
        border: solid 1px #F0F0F0;
        margin-bottom:8px;
        padding-left:10px;
        box-shadow: 3px 3px rgba(63,79,91, 8%);
        @media screen and (min-width:768px){
            padding-left:23px!important;
        }
        }
        @media screen and (max-width:767px){
            font-size: 1rem;
        }
        span{
            margin-left:15px;
            border-radius:4px;
            line-height: 22px;
            font-size:13px;
            font-weight: 400;
            color:#fff;
            border: none;
            background-color:#F89D15;
            @media screen and (max-width:767px){
                position: absolute;
                right: 0;
                top:8px;
            }
        }  
        &:last-child{
            border-bottom: none;
        }
    }
}

.dropdown{
    width: 273px;
    >div:first-child{
    height:40px!important;
    border:solid 1px #D9D9D9!important;
    }
    @media screen and (max-width:767px){
        margin-top:10px;
    }
}

.footer{
    padding: 0;
    text-align: right;
    margin-right:-20px;
    .anticonright{
        color:#4484CE;
        position: relative;
        top:2px;
    }
    a{
        position: relative;
    .link{
        position: relative;
        color: #4484CE;
        font-size:1rem;
        font-weight: 600;
        &:after{
         content: "";
         position: absolute;
         left: 0;
         bottom: -5px;
         height: 1px;
         width:100%;
         background-color: #4484CE;

        }
    }
    }
}