.wrapper {
  width: 100%;
  margin-right: 15px;
  .social_login_text {
    color: #0f2a4d;
    display: block;
    text-align: center;
    font-size: 15px;
  }
  .btn_group {
    padding: 15px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      transition: all 0.3s;

      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}
