.card_wrapper {
  //   width: 90%;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
  text-align: center;
  padding: 0;
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;

  [class="ant-card-body"] {
    padding: 15px;
    font-weight: 500;
    font-size: 15px;

    a {
      color: var(--primary);
    }
  }
}
