@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?75ltr5');
  src:  url('fonts/icomoon.eot?75ltr5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?75ltr5') format('truetype'),
    url('fonts/icomoon.woff?75ltr5') format('woff'),
    url('fonts/icomoon.svg?75ltr5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-small-down:before {
  content: "\e900";
}
.icon-fish-bones:before {
  content: "\e907";
}
.icon-topic:before {
  content: "\e908";
}
.icon-user:before {
  content: "\e901";
}
.icon-user-plus:before {
  content: "\e902";
}
.icon-bell:before {
  content: "\e903";
}
.icon-calendar:before {
  content: "\e904";
}
.icon-info:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e906";
}
