@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?b03e3d');
  src:  url('fonts/icomoon.eot?b03e3d#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?b03e3d') format('truetype'),
    url('fonts/icomoon.woff?b03e3d') format('woff'),
    url('fonts/icomoon.svg?b03e3d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-upload:before {
  content: "\e90d";
}
.icon-edit:before {
  content: "\e913";
}
.icon-compare-statement:before {
  content: "\e914";
}
.icon-down-arrow:before {
  content: "\e911";
}
.icon-up-arrow:before {
  content: "\e912";
}
.icon-uparrow:before {
  content: "\e910";
}
.icon-subscribe:before {
  content: "\e90f";
}
.icon-newspaper:before {
  content: "\66";
}
.icon-camp:before {
  content: "\e90e";
}
.icon-delete:before {
  content: "\e90c";
}
.icon-fi-document:before {
  content: "\e90b";
}
.icon-angle-right:before {
  content: "\e900";
}
.icon-angle-up:before {
  content: "\e909";
}
.icon-envelope:before {
  content: "\e90a";
}
.icon-fish-bones:before {
  content: "\e907";
}
.icon-topic:before {
  content: "\e908";
}
.icon-user:before {
  content: "\e901";
}
.icon-user-plus:before {
  content: "\e902";
}
.icon-bell:before {
  content: "\e903";
}
.icon-calendar:before {
  content: "\e904";
}
.icon-info:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e906";
}
