.card {
  padding: 0 8px;
  .btnsWrap {
    padding: 15px 13px 15px;
    border: solid 1px #d9d9d9;
    background-color: #fff;
    margin-bottom: 24px;
    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-size: 1.125rem;
      font-weight: 600;
      color: #1c1b24;
      border: solid 1px #d9d9d9;
      i {
        font-size: 1.1875rem;
        color: var(--primary);
        margin-right: 8px;
      }
      &:hover {
        color: var(--primary);
        border-color: var(--primary);
      }
    }
  }
}
.accountSetting {
  width: calc(100% - 260px);
  margin: 0 8px !important;

  @media screen and (max-width: 767px) {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
  }
  > div {
    padding: 0px !important;
  }
  [class="ant-card-head-title"] {
    padding-top: 0;
  }
}

.supported_camps {
  position: relative;
  .search_users {
    position: absolute;
    right: 0;
    z-index: 99;
    min-width: 250px;
    span {
      position: absolute;
      right: 8px;
      font-size: 19px;
      color: #aaa;
      top: 9px;
      pointer-events: none;
    }
    input {
      border: 1px solid #d9d9d9;
      height: 37px;
      padding: 0 30px 0 15px;
      background: transparent;
      width: 100%;
      outline: inherit;
    }
  }
  .ant-tabs-nav-list {
    font-size: 16px;
    font-weight: 500;
    .ant-tabs-tab-active {
      background-color: #1c1b24 !important;
    }
  }
  @media screen and (max-width: 1024px) {
    .search_users {
      top: 55px;
    }
    [class="ant-tabs ant-tabs-top ant-tabs-mobile ant-tabs-card"] {
      [class="ant-tabs-nav"] {
        margin-bottom: 60px;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .search_users {
      top: 125px;
    }
    [class="ant-tabs ant-tabs-top ant-tabs-mobile ant-tabs-card"] {
      [class="ant-tabs-nav"] {
        [class="ant-tabs-nav-list"] {
          flex-flow: column;
          overflow: hidden;
          width: 100%;

          [class="ant-tabs-tab"] {
            margin-right: 0;
            margin-bottom: 15px;
            white-space: pre-wrap;
            word-break: break-word;
          }
          [class="ant-tabs-tab ant-tabs-tab-active"] {
            white-space: pre-wrap;
            word-break: break-word;
            margin-bottom: 15px;
          }
        }
      }
    }
  }


}

.notes {
  color: #ef5e5e;
  margin-bottom: 12px;
  font-size: 12px;
}

.text_checkbox_cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_box {
  column-gap: 5px;
  display: flex;
  align-items: center;
  .search01 {
    position: relative;
  }
  button {
    height: 37px;
    background: #eaedf2 !important;
    border: none;
    border-radius: 0;
    span {
      position: unset !important;
      font-size: 14px !important;
      color: #000 !important;
    }
  }
}
