.card {
  padding: 0 8px;
  .btnsWrap {
    padding: 15px 13px 15px;
    border: solid 1px #d9d9d9;
    background-color: #fff;
    margin-bottom: 24px;
    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-size: 1.125rem;
      font-weight: 600;
      color: #1c1b24;
      border: solid 1px #d9d9d9;
      i {
        font-size: 1.1875rem;
        color: var(--primary);
        margin-right: 8px;
      }
      &:hover {
        color: var(--primary);
        border-color: var(--primary);
      }
    }
  }
}
.accountSetting {
  width: calc(100% - 260px);
  margin: 0 8px !important;
  // border: 1px solid #f0f0f0;

  @media screen and (max-width: 767px) {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
  }
  > div {
    padding: 0px !important;
  }
}

.supported_camps {
  position: relative;
  .search_users {
    position: absolute;
    right: 0;
    z-index: 99;
    min-width: 250px;
    @media screen and (max-width: 1023px) {
      position: relative;
      margin-bottom: 10px;
    }
    span {
      position: absolute;
      right: 8px;
      font-size: 19px;
      color: #aaa;
      top: 9px;
      pointer-events: none;
    }
    input {
      border: 1px solid #d9d9d9;
      height: 37px;
      padding: 0 30px 0 15px;
      background: transparent;
      width: 100%;
      outline: inherit;
    }
  }
  .ant-tabs-nav-list {
    font-size: 16px;
    font-weight: 500;
    .ant-tabs-tab-active {
      background-color: #1c1b24 !important;
    }
  }
}

.notes {
  color: #ef5e5e;
  margin-bottom: 12px;
  font-size: 12px;
}

.text_checkbox_cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
