.wrap{
    padding: 23px 16px;
    background-color:#fff;
    border: solid 1px #F0F0F0;
    h2{
        color: #343434;
        margin-bottom:5px;
        @media screen and (max-width:767px) {
            font-size: 1.375rem;
        }
    }
    h3{
        font-size:1.25rem;
        color:#1C1B24;
        font-weight:600;
        @media screen and (max-width:767px) {
            font-size: 1rem;
        }
    }
    .descriptionText{
        font-size:1rem;
        font-weight: 400;
        color:#343434;
        margin-bottom:10px;
        @media screen and (max-width:767px) {
            font-size: 0.875rem;
        }
        span{
            color: #4484CE;
        }        
    }
}

.vimeoVideo{
    border:none;
    margin-bottom:10px;
}

.imageWrap{
    width:100%;
    text-align:center;
}