.card {
  padding: 0 8px;
  .btnsWrap {
    padding: 15px 13px 15px;
    border: solid 1px #d9d9d9;
    background-color: #fff;
    margin-bottom: 24px;
    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-size: 1.125rem;
      font-weight: 600;
      color: #0f2a4d;
      border: solid 1px #d9d9d9;
      i {
        font-size: 1.1875rem;
        color: var(--primary);
        margin-right: 8px;
      }
      &:hover {
        color: var(--primary);
        border-color: var(--primary);
      }
    }
  }
}

.userProfileData {
  width: calc(100% - 260px);
  margin: 0 8px !important;
  border: 1px solid #f0f0f0;
  .profileAvatar {
    display: flex;
  }
  .profileInfo {
    padding-bottom: 8px;
    .profile_picture {
      width: 150px;
      @media (max-width: 768px) {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 15px;
      }
    }
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.Bluecolor {
  color: #4484ce !important;
}

.cardBox_tags {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 4px 4px 0px #0000000d;
  border: 1px solid #ececec;
  width: 100% !important;
  margin-bottom: 16px;

  @media screen and (max-width: 767px) {
    [class="ant-card-head"] {
      [class="ant-card-head-wrapper"] {
        flex-wrap: wrap;
        width: 100%;
        [class="ant-card-head-title"] {
          white-space: inherit;
        }
      }
    }
  }
}

.tag_btn {
  border: 1px solid #f0f0f0 !important;
  background: transparent;
  color: #4484ce;
  font-weight: 600;
  font-size: 16px;
  padding: 4px 12px;
  margin-bottom: 6px;
  display: inline-flex;
  border-radius: 0;
  align-items: center;
  box-shadow: 3px 3px 0px #3f4f5b14;
  @media screen and (max-width: 992px) {
    white-space: break-spaces;
  }
  @media screen and (max-width: 767px) {
    font-size: 13px;
  }
  .count {
    color: #000 !important;
  }
  span {
    color: #d1d4db;
    margin-left: 5px;
    font-size: 14px;
  }
}

.card_heading_title {
  font-size: 16px;
  color: #4484ce;
  font-weight: 600;
  @media screen and (max-width: 992px) {
    white-space: break-spaces;
  }
  @media screen and (max-width: 767px) {
    font-size: 13px;
  }
  span {
    color: #4484ce;
  }
}

.box_tag {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  width: 100% !important;
}

.dropdown {
  height: 40px !important;
  border: solid 1px #d9d9d9 !important;
  width: 25%;
  display: inline-block;
  margin-left: auto;
  @media screen and (max-width: 992px) {
    width: 100%;
    margin-top: 5px;
  }
}

.main_card_Heading {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  @media screen and (max-width: 992px) {
    width: 100%;
  }
}

.main_card_title {
  font-size: 16px;
  font-weight: 500;
  @media screen and (max-width: 992px) {
    width: 100%;
    margin-bottom: 10px;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
    flex-grow: 1;
    margin-bottom: 8px;
  }
}

.userProfileLabel {
  color: grey;
  font-weight: 600;
  font-size: 14px;
  & + h3 {
    word-break: break-word;
    white-space: pre-wrap;
  }
}

.card_spacing {
  margin-top: 30px;
}

.delegatedSupport {
  color: grey;
  font-weight: 600;
  font-size: 14px;
  display: inline-block;
}

.userCaRdBox {
  [class="ant-card-head-wrapper"] {
    display: block;
    [class="ant-card-head-title"] {
      display: block;
    }
  }
  .titleBox {
    margin: 0;
    display: flex;
    align-items: center;
    @media screen and (max-width: 992px) {
      flex-wrap: wrap;
    }
  }
  .nickname_box {
    margin-left: auto;
    @media screen and (max-width: 992px) {
      margin-left: 0;
    }
    @media screen and (max-width: 767px) {
      margin: 0;
    }
    .labels {
      display: inline-block;
      white-space: nowrap;
      margin-right: 10px;
    }
  }
  .nickname_dropdown {
    height: 40px !important;
    width: 25%;
    margin: 0 !important;
    display: inline-block;
    @media screen and (max-width: 992px) {
      width: 50%;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
      position: relative;
      top: -4px;
    }
    > div:first-child {
      border: 1px solid #ffffff;
      background-color: #eaedf2;
      height: 40px !important;
    }
  }
  @media screen and (max-width: 767px) {
    .nickname_box {
      .nickname_dropdown {
        width: 100%;
      }
    }
  }
}
