.card-skeleton {
  span {
    display: block;
  }
}

.test {
  //   background-color: bisque;
  width: 100%;
  height: 22px;
  margin: 0 0 16px 0px;
}
.cardSkeleton {
  & > div:first-child > div {
    margin-top: 1px;
    margin-bottom: 1px;
  }
  span {
    display: block;
    & + br {
      display: none;
    }
  }
  &_actions {
    display: flex;
    justify-content: flex-end;
    margin: 8px 0;
    &_button {
      height: 38px;
      width: 190px;
      margin-right: 24px;
    }
  }
  & > div:first-child .test {
    min-width: 300px;
  }
}
.listSkeleton {
  display: block;
  margin-top: 8px;
  height: 39px;
  & + br {
    display: none;
  }
}

.treeSkeleton {
  list-style: none;
  padding-left: 0;
  span {
    max-width: 300px;
  }
  ul {
    list-style: none;
  }
}

.fullSkeleton {
  & > div {
    padding-left: 0;
    padding-right: 0;
  }
}
.liHeight {
  height: 25px;
  margin: 0;
}

.blank {
  text-align: center;
}

.postCard {
  background-color: #f9f8f9;
  margin-bottom: 20px;
  border-radius: 0.25rem;
}

.cardTitle {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #1c1b24;
  opacity: 1;
}

.listCardTitle {
  color: #68707a;
  margin-bottom: 10px;
  padding-bottom: 15px;
  span {
    font-size: 14px;
    font-weight: normal;
  }
}

.liWidth {
  width: 250px;
  height: auto;
  margin: auto;
  height: 25px;
  margin-top: -10px;
  margin-bottom: -10px;
}

.countLi {
  width: 300px;
  height: 30px;
  margin: 0;
  padding: 0;
}

.card_heading_title {
}

.tag_btn {
  padding: 4px 12px;
  margin-bottom: 6px;
  display: inline-flex;
  border-radius: 0;
  align-items: center;
  width: 200px;
  margin-right: 10px;
}

.cardBox_tags {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  width: 100% !important;

  [class="ant-card-head-title"] {
    [class="ant-typography"] {
      margin-top: 10px;
      width: 300px;
      overflow: hidden;
    }
  }

  [class="ant-card-extra"] {
    width: 200px;
  }

  &.no_body {
    div[class="ant-card-body"] {
      padding: 0;
      display: none;
    }
  }
}

.delegateSupportedCampsListSkeleton {
  display: block;
  margin-top: 8px;
  height: 159px;
  border-radius: 6px;
  & + br {
    display: none;
  }
}

.directSupportedCampsListSkeleton {
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;

  height: 126px;
  border-radius: 6px;
  & + br {
    display: none;
  }
}

.card_width {
  width: 82%;
  // height: 64%;
}

.main_card_title {
  font-size: 20px;
  font-weight: 600;
}

.Upload_Cancel_Btn .Upload_Btn {
  margin-right: 10px;
  background-color: rgb(249, 157, 22);
  border-color: rgb(249, 157, 22);
  color: white;
  border-radius: 2px;
  width: 130px;
  height: 38px;
  font-size: 16px;
  padding: 4px 32px;
  height: 38px;
}

.manageCardSkeleton {
  & > div:first-child > div {
    width: 1000px;
    height: 50px;
    margin-top: 1px;
    margin-bottom: 1px;
  }
  span {
    padding-top: 10px;
    display: block;
    & + br {
      display: none;
    }
  }
  &_actions {
    // display: flex;
    justify-content: flex-end;
    margin: 8px 0;
    &_button {
      height: 55px;
      width: 190px;
      margin-left: 24px;
    }
  }
}

.profileInfoForm {
  height: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 99%;
  // &+br {
  //   display: none;
  // }
}

.header_column {
  height: 51px;
}

.body_column {
  height: 35px;
}

.table_form {
  line-height: 35px;
  margin: 5px;
}

.card_upload_file_skeleton {
  width: 76%;
  margin-top: 2px;
  margin-left: 8px;
  height: 100%;
}
.outer_div_upload_file span {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  row-gap: 20px;
}

.upload_files_skeleton {
  // display: inherit;
  box-sizing: border-box;
  width: 158px;
  height: 187px;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
}

.verifyInfoForm {
  margin-bottom: 70px;
}

.delegateSupportedCapms {
  height: 25px;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 49%;
  // &+br {
  //   display: none;
  // }
}
.border_left {
  left: 22%;
}

.line_height1 {
  border-left: 1px solid #ddd;
  padding-left: 20px;
  @media screen and (max-width: 767px) {
    border-left: none;
    padding: 0;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: 20px;
  }
  @media screen and (max-width: 767px) {
    max-width: 100%;
    flex: 0 0 100%;
  }
  p {
    margin-bottom: 4px;
  }
}

.header-skeleton-btn,
.topic-skeleton {
  width: 100px;
}
.header-skeleton-btn {
  height: 30px;
}
.userProfileLabel {
  width: 25%;
  margin-bottom: 23px;
}

.user_profile {
  width: 1046px;
  height: 500px;
}

.cardSkeleton_actions {
  .cardSkeleton_actions_button {
    width: 150px;
  }
}
.manageCardSkeleton_actions {
  .manageCardSkeleton_actions_button {
    width: 150px;
  }
}
.search_skeleton{
  display: block;
  width: 100%;
}