.card {
  padding: 20px 20px 10px;
  border: solid 1px #f0f0f0;
  background-color: #fff;
  margin-bottom: 16px;
  .btnsWrap {
    margin-bottom: 16px;
    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-size: 1.125rem;
      font-weight: 600;
      color: #0f2a4d;
      border: solid 1px #d9d9d9;
      i {
        font-size: 1.1875rem;
        color: var(--primary);
        margin-right: 8px;
      }
      &:hover {
        color: var(--primary);
        border-color: var(--primary);
      }
    }
  }
}

.cardTitle {
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #1c1b24;
  opacity: 1;
}

.inputSearchTopic {
  max-width: 100%;
  width: 100%;
  order: 3;
  // height: 35px;

  & > span {
    & > span {
      position: relative;
      display: block;
      height: inherit;
      & > span:first-child {
        padding: 6px 50px 6px 15px;
        height: inherit;
        & > span {
          background-color: #fff;
          position: absolute;
          z-index: 2;
          right: 35px;
          top: 50%;
          transform: translateY(-50%);
          height: inherit;
        }
        &:hover {
          span {
            z-index: 20;
          }
        }
      }
      & > span:last-child {
        position: absolute;
        right: 5px;
        top: 50%;
        display: block;
        left: auto !important;
        width: 32px;
        z-index: 1;
        background: transparent;
        transform: translateY(-50%);
        button {
          border: 0;
          background: transparent;
        }
      }
    }
  }
}

.labelHeading {
  font-size: 13px;
  color: #1c1b24;
  line-height: 18px;
  font-weight: 550;
  strong {
    font-weight: inherit;
  }
}

.btn_group {
  margin-bottom: 20px;
  margin-top: 10px;
  display: flex;

  .tabBtn {
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px #0000000b;
    border-color: #0f2a4d;
    color: #0f2a4d;
    font-size: 13px;
    line-height: 1;
    margin-right: 10px;
    font-weight: 500;
    padding: 5px 10px;
    min-width: 95px;
    height: 30px;
    outline: none;
    border-width: 1px;
    cursor: pointer;

    &.orange {
      border-color: #f89d15;
      color: #f89d15;
    }

    &.submit_btn {
      background: #f89d15 0% 0% no-repeat padding-box;
      border-radius: 2px;
      border-color: #f89d15;
      opacity: 1;
      margin-right: 15px;
      color: #ffffff;
      transition: all 0.3s;
      font-weight: 600;
      margin-left: auto;
      margin-right: 0;

      &:hover,
      &:active,
      &:focus {
        background: #d3840e;
        background-color: #d3840e;
        border-color: #f89d15;
      }
    }
  }

  @media screen and (max-width: 767px) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));

    .tabBtn {
      margin-left: 0;
      margin-right: 0;
      margin: 5px 5px;

      &.submit_btn {
        margin-left: 0;
        margin-right: 0;
        margin: 5px 5px;
      }
    }
  }
}

.cancel_btn {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid var(--primary);
  border-radius: 2px;
  opacity: 1;
  letter-spacing: 0px;
  color: var(--primary);
  font-size: 14px;
  font-weight: 600;
  opacity: 1;
  line-height: 16px;
  transition: all 0.3s;

  &:hover {
    background: var(--primary);
    color: #ffffff;
  }
}

.submit_btn {
  background: #f89d15 0% 0% no-repeat padding-box;
  border-radius: 2px;
  border-color: #f89d15;
  opacity: 1;
  margin-right: 15px;
  color: #ffffff;
  transition: all 0.3s;

  &:hover,
  &:active,
  &:focus {
    background: #d3840e;
    background-color: #d3840e;
    border-color: #f89d15;
  }
}

.listCard {
  background-color: #f9f8f9;
  margin-bottom: 20px;
}

.listCardTitle {
  color: #68707a;
  font-size: 16px;
  margin-bottom: 10px;
  span {
    font-size: 14px;
    font-weight: normal;
  }
  .by {
    color: var(--primary);
    font-weight: bold;
  }
}

.threadStamp {
  margin-bottom: 10px;
  margin-top: 10px;
  span {
    color: #68707a;
    font-size: 14px;

    &:first-child {
      margin-right: 5px;
    }
    &:last-child {
      margin-left: 5px;
      .by {
        color: var(--primary);
        margin: 0;
      }
    }
  }
}

.editorQuill {
  margin-bottom: 30px;
  position: relative;
}

// .postForm {
//   margin-bottom: 50px;
// }

.cardTitle {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #1c1b24;
  opacity: 1;
}

.upperTitle {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0 20px;
  p {
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0px;
    color: #0f2a4d;
    margin-right: 0;
    margin-bottom: 0;

    &:first-child {
      margin-right: 47px;
    }

    &:last-child {
      strong {
        color: #0f2a4d;
      }
      color: #2e68db;
    }
  }

  @media screen and (max-width: 767px) {
    flex-flow: column;
  }
}

.createNewTopicForm {
  label {
    font-size: 13px;
    font-weight: 600;
    color: #795548;
    span {
      margin-left: 4px;
      color: #6e7880;
      font-size: 95%;
    }

    span {
      font-weight: normal;
    }

    &::before {
      position: absolute;
      right: -15px;
    }
  }
  input,
  textarea {
    transition: all 0.3s;
    ::placeholder {
      font-size: 14px;
      color: #afb6bb;
      line-height: 15px;
    }
  }
}

.htmlContainer {
  white-space: break-spaces;
  overflow: hidden;
  word-break: break-word;
  padding-left: 0;
  padding-right: 0;
}

.threadListTitle {
  word-break: break-word;
  color: #2e68db;
  white-space: break-spaces;
}

.forum_post_card {
  div[class="ant-card-head-wrapper"] {
    flex-wrap: nowrap;
    div[class="ant-card-head-title"] {
      width: 30%;
    }
  }
  @media screen and (max-width: 1024px) {
    div[class="ant-card-head-wrapper"] {
      flex-wrap: wrap;
      div[class="ant-card-head-title"] {
        width: 100%;
      }
    }
  }
}

.thread_card {
  @media screen and (max-width: 992px) {
    [class="ant-card-head-wrapper"] {
      justify-content: space-between;
    }
  }
  @media screen and (max-width: 767px) {
    [class="ant-card-head-wrapper"] {
      display: block;
      [class="ant-card-extra"] {
        width: 100%;
      }
    }
  }
}

.btnText {
  text-align: right;
  padding-bottom: 20px;
}

.postFormModal {
  [class*="ant-modal-title"] {
    font-size: 16px;
  }
  [class*="ant-modal-close"] {
    svg {
      width: 15px;
    }
  }
}

.saveBtns {
  text-align: right;
}
