.newsFormFieldsCard {
  background-color: #f8f8f8;
  position: relative;
  padding-left: 50px;
  & + .newsFormFieldsCard {
    margin-top: 10px;
  }
  & > div {
    padding: 15px 15px 0px 15px;
  }
  .newsFormFieldsCardCounter {
    position: absolute;
    left: 15px;
    top: 15px;
    background-color: orange;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: large;
    padding-top: 6px;
    color: white; 
    font-weight: 700;
    border-radius: 3px;
  }
  .textArea {
    label {
      color: #92969b;
      font-weight: 700;
    }
  }
  .formLink {
    label {
      color: #92969b;
      font-weight: 700;
    }
    span {
      color: #000;
    }
  }
}