.inner-form {
  background-color: #f8f8f8;
  position: relative;
  padding-left: 40px;
}
.inner-form + .inner-form {
  margin-top: 10px;
}
.inner-form .ant-card-body {
  padding: 19px;
}
.count-badge {
  position: absolute;
  left: 10px;
  top: 19px;
}
.count-row-edit {
  background-color: orange;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 3px;
  font-size: large;
  padding-top: 6px;
  color: white;
}

.edit-card .ant-card-body {
  padding: 15px 23px 40px 15px;
}

.textarea-form .ant-input:focus,
.form-link .ant-input:focus {
  outline: none;
  border: 1px solid #cccccc;
  box-shadow: none;
}

.textarea-form .ant-input:hover,
.form-link .ant-input:hover {
  border-color: #cccccc !important;
  border: 1px solid #cccccc !important;
}
.textarea-form label,
.form-link label {
  color: #92969b;
  font-weight: 700;
}
.form-link .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #4383cb;
  border-color: #4383cb;
}
.form-link .ant-form-item {
  margin-bottom: 5px;
}
.ant-checkbox-inner:hover {
  border-color: #4383cb;
}

.form-link span {
  color: #000;
}
.edit-news-buttons {
  margin-top: 20px;
}
.edit-news-buttons Button + Button {
  margin-left: 12px;
}
.submit-btn {
  background-color: rgba(253, 169, 14, 0.966);
  border: none;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
}
.submit-btn:hover,
.submit-btn:focus {
  text-decoration: none;
  background: #fdac17;
  color: white;
}

.cancel-btn {
  color: rgb(8, 136, 187);
  border-color: rgb(8, 136, 187);
  padding-left: 22px;
  padding-right: 22px;
}
.cancel-btn:hover,
.cancel-btn:focus {
  color: rgb(8, 136, 187);
  border-color: rgb(8, 136, 187);
  background-color: white;
}
