.card {
  padding: 0 8px;
  .btnsWrap {
    padding: 15px 13px 15px;
    border: solid 1px #d9d9d9;
    background-color: #fff;
    margin-bottom: 24px;
    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-size: 1.125rem;
      font-weight: 600;
      color: #0f2a4d;
      border: solid 1px #d9d9d9;
      padding: 4px 15px;
      i {
        font-size: 1.1875rem;
        color: var(--primary);
        margin-right: 8px;
      }
      &:hover {
        color: var(--primary);
        border-color: var(--primary);
      }
    }
  }
}

.uploadFilesData {
  width: 100%;

  h3 {
    color: #1c1b24;
    font-weight: 600;
    margin: 0;
    span {
      color: #6c737d;
      font-weight: 400;
    }

    @media screen and (max-width: 1150px) {
      font-size: 15px;
    }
  }
}

.Container .Card {
  justify-items: center;
  position: absolute;
  left: 150px;
  height: auto;
  width: 900px;
}

.Container .span {
  color: gray;
}
.top_icon {
  font-size: 22px;
  span + span {
    margin-left: 5px;
    cursor: pointer;
  }
}
.top_icon .anticon svg {
  color: rgb(132, 135, 138);
  height: 30px;
  width: 30px;
  margin-top: 15px;
  margin-right: 5px;
}

.Dragebox .Drager {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  height: 400px;
  width: 100%;
  border: 2px dashed #707070;
}

.Dragebox .Drager:hover {
  color: gray;
  border-color: gray;
}

.Dragebox .anticon svg {
  color: rgb(20, 159, 223);
  height: 50px;
  width: 50px;
}

.Dragebox .ant-upload-hint {
  color: gray;
}

.Back_from_browser .anticon svg {
  position: absolute;
  top: 120px;
  right: 40px;
  z-index: 5;
  color: red;
  height: 25px;
  width: 25px;
}
.uploded_Files {
  position: relative;
}
.UploadDataFiles {
  color: green;
  [class*="ant-upload-list ant-upload-list-picture"] {
    &::before,
    &::after {
      display: none;
    }
    @apply gap-3 grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  [class*="ant-upload-list-picture-container"] {
    @apply rounded-lg overflow-hidden;
  }
}
.Back_from_browser {
  position: absolute;
  right: 10px;
  z-index: 999;
  top: 10px;
  font-size: 19px;
  color: red;
}

.Upload_Cancel_Btn {
  margin-top: 0px;
  margin-left: 10px;
}

.Upload_Cancel_Btn .Upload_Btn {
  margin-right: 10px;
  background-color: rgb(249, 157, 22);
  border-color: rgb(249, 157, 22);
  color: white;
  border-radius: 2px;
  width: 130px;
  height: 38px;
  font-size: 16px;
}

.Upload_Cancel_Btn .Upload_Btn:hover {
  color: white;
  border-color: rgb(249, 157, 22);
  background-color: rgb(249, 157, 22);
}
.cancel_Btn {
  border-color: #4484ce;
  color: #4484ce;
  height: 38px;
  border-radius: 2px;
  width: auto;
  font-weight: 600;
}
.cancel_Btn:hover {
  background: #4484ce;
  color: #fff;
}
.top_btn {
  width: auto;
  display: flex;
  position: relative;
  flex-wrap: wrap;

  .datepIcker {
    width: 100px;
  }
}

.Top_SearchBtn {
  width: auto;
  margin-right: 20px;
}

.Top_SearchBtn Input {
  width: 150px;
}

.Top_SearchBtn .ant-picker {
  width: 100px;
  margin-right: 10px;
}

.searchIcon .anticon svg {
  color: rgb(217, 217, 217);
  height: 20px;
  width: 20px;
  position: absolute;
  top: 5px;
  right: 230px;
}

.top_btn .create_folder_btn {
  color: rgb(20, 159, 223);
  border-color: rgb(20, 159, 223);
  margin-right: 5px;
  margin-left: 5px;
  padding: 0 8px;
  @media screen and (max-width: 400px) {
    margin-right: 3px;
    margin-left: 2px;
  }

  img {
    display: none !important;
  }

  @media screen and (max-width: 1280px) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 35px;
    span {
      font-size: 0 !important;
    }
    img {
      display: block !important;
    }
  }
}

.top_btn .reset_btn {
  color: rgb(20, 159, 223);
  border-color: rgb(20, 159, 223);
  margin-right: 0px;
  margin-left: 5px;
  padding: -1 8px;
  @media screen and (max-width: 400px) {
    margin-right: 3px;
    margin-left: 2px;
  }

  img {
    display: none !important;
  }

  @media screen and (max-width: 1280px) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 35px;
    span {
      font-size: 0 !important;
    }
    img {
      display: block !important;
    }
  }
}

.top_btn .add_file_btn {
  color: rgb(20, 159, 223);
  border-color: rgb(20, 159, 223);
  margin-right: 10px;
  padding: 0 5px;
  img {
    display: none !important;
  }
  @media screen and (max-width: 400px) {
    margin-right: 5px;
  }

  @media screen and (max-width: 1280px) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 35px;
    img {
      display: block !important;
    }
    span {
      font-size: 0 !important;
    }
  }
}

/* .ant-upload-list-picture .ant-upload-span{
    display: flex;
    
} */
.ant-upload-list-picture {
  flex-wrap: wrap;
}
.ant-upload-list-picture-container {
  padding: 0 10px;
  flex: 0 0 20%;
}
.ant-modal-content {
  width: 400px;
}

.modal_body .anticon svg {
  color: red;
  height: 25px;
  width: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal_title {
  color: rgb(62, 103, 183);
  margin-bottom: 20px;
  margin-right: 100px;
  display: inline;
}

.ant-modal-close-x {
  display: none;
}

.wraper .modal_Btn {
  width: 350px;
  margin-top: 20px;
  background-color: rgb(249, 157, 22);
  color: white;
}

.wraper .modal_Btn:hover {
  color: white;
  background-color: rgb(249, 157, 22);
}

.ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.78);
}

.wraper .folderlabel {
  color: gray;
}
.wraper {
  margin-top: 50px;
}

.uploded-Files {
  display: flex;
  max-width: 850px;
}

.After_Upload {
  padding: 8px;
  height: auto;
  border: 1px solid #eaedf2;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  [data-testid="remove_upload_files"] {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  [class*="imgWrap"] {
    @apply w-full flex flex-wrap;
    [id="display_image"] {
      @apply w-full flex flex-wrap items-center justify-center;
    }
    span,
    img {
      @apply flex w-full items-center justify-center;
    }
  }
}

.After_Upload input {
  width: 100%;
  padding: 6px 10px;
  margin-top: 10px;
  display: block;
}
.After_Upload .anticon svg {
  position: absolute;
  top: 10px;
  right: 10px;
}

.Folder_container .ant-card-body {
  padding: 0px;
}

.folder_icon .anticon svg {
  height: 160px;
  width: 140px;
  color: rgb(68, 132, 206);
  position: absolute;
  top: -10px;
  left: -10px;
}

.dropdown .anticon svg {
  height: 30px;
  width: 30px;
  color: white;
}
.ant-dropdown-menu {
  position: relative;
  right: 90px;
}
.dropdown .ant-dropdown-link {
  position: absolute;
  top: 95px;
  left: 100px;
}
.dropdown {
  position: absolute;
  right: 15px;
  bottom: 20px;
  width: 20px;
  cursor: pointer;
  height: 20px;
}
.ant-dropdown-trigger .anticon.anticon-more {
  color: #fff;
  font-size: 20px;
  right: inherit;
  position: inherit;
  bottom: inherit;
}
.Folder_container {
  position: relative;
}
.view_After_folder {
  background: red;
}
.FolderfileCard {
  background: red;
}
.FolderData {
  width: 175px;
  background: #4484ce;
  height: 130px;
  border-radius: 0px 6px 6px 6px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media screen and (max-width: 767px) {
    width: 100%;
  }

  &::before {
    height: 11px;
    content: "";
    background: url("../../../../assets/image/folderTop.svg");
    width: 100px;
    top: -11px;
    position: absolute;
    border-radius: 0;
    background-size: cover;
  }
  .foldername {
    color: #fffdf3;
    font-size: 13px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
  }
  small {
    font-size: 10px;
    text-align: center;
    width: 100%;
    display: inline-block;
  }
  p {
    font-size: 11px;
    text-align: center;
    margin-bottom: 10px;
  }

  > div {
    padding: 0 !important;
  }
  .dropdown {
    bottom: -15px !important;
  }
}
.fileList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .view_After_Upload {
    padding: 0 8px;
    margin-bottom: 16px;
    @media screen and (max-width: 767px) {
      width: 50%;
    }
    @media screen and (max-width: 400px) {
      width: 100%;
    }
  }
  .folder_Back_Button {
    width: 100%;
    padding: 0;
    .openFolder {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
.files {
  > div {
    padding: 0;
    border: 1px solid #eaedf2;
    width: 160px;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
  .imageFiles {
    text-align: center;
    width: 100%;
    display: inline-block;
    background-color: #f3f3f3;
    max-height: 125px;
    min-height: 125px;
    overflow: hidden;
    padding-top: 5px;
    img {
      object-fit: cover;
    }
  }
  h3 {
    font-size: 16px;
    padding: 2px 6px 0;
    color: #0f2a4d;
    margin-bottom: 0px;
    border-top: 1px solid #eaedf2;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    //text-overflow: ellipsis;
    span {
      margin-left: 5px !important;
    }
  }
  span {
    font-size: 12px;
    display: inline-block;
    width: 100%;
    color: #6c737d;
    padding: 0 10px;
    margin-bottom: 6px;
  }
}

/*.view_After_Upload {
  display: inline-flex;
  position: relative;
  margin: 0px 10px;
}

.view_After_Upload .files {
  width: 150px;
  margin-left: 10px;
  margin-top: 10px;
}
.view_After_Upload .files span {
  font-size: 12px;
}

.view_After_Upload .files .anticon svg {
  height: 20px;
  width: 25px;
  position: absolute;
  top: 5px;
  right: 5px;
}*/
.files .ant-card-body {
  padding: 0px;
  justify-content: center;
}

@media (max-width: 1200px) {
  .ant-upload-list-picture-container {
    flex: 0 0 25%;
  }
}

@media (max-width: 992px) {
}

@media (max-width: 767px) {
  .ant-upload-list-picture-container {
    flex: 0 0 33.333%;
  }
}
@media (max-width: 414px) {
  .imageFiles {
    flex: 0 0 50%;
  }
}

.search_users {
  margin-left: 5px;
  position: relative;
  @media screen and (max-width: 1023px) {
    position: relative;
    margin-bottom: 10px;
  }
  span {
    position: absolute;
    right: 8px;
    font-size: 19px;
    color: #aaa;
    top: 7px;
    pointer-events: none;
    @media screen and (max-width: 1280px) {
      position: relative;
      border: 1px solid #ddd;
      height: 32px;
      width: 35px;
      top: 0;
      border-radius: 2px;
      display: flex;
      right: 0;
      align-items: center;
      justify-content: center;
    }
  }

  input {
    border: 1px solid #ddd;
    height: 32px;
    padding: 0 30px 0 15px;
    background: transparent;
    width: 150px;
    @media screen and (max-width: 1280px) {
      width: 35px;
      display: block;
      position: absolute;
      right: 0;
      padding: 0;
      top: 0;
      z-index: 99;
      background: #fff;
      transition: all 0.3s ease-in-out 0s;
      opacity: 1;
      font-size: 0;
      box-shadow: none;
      &:focus {
        padding: 0 30px 0 15px;
        width: 200px;
        font-size: 14px;
      }
    }

    @media screen and (max-width: 500px) {
      right: inherit;
      left: 0%;
      &:focus {
        padding-left: 50px;
      }
    }
  }
}

.marginLeftView {
  margin-left: 5px !important;
}
.folder_icon {
  position: relative;
  .dropdown {
    position: absolute;
    bottom: 70px;
    right: 10px;
    cursor: pointer;
  }
}
.modal_cross {
  font-size: 17px;
}
.hideUpload {
  display: none;
}
.high_light {
  color: #149fdf;
}
.menu_item {
  color: black;
  cursor: pointer;
}
.menu_item > span {
  display: inline-flex;
}
.icon_Width {
  display: inline-block;
  max-width: 20px;
  margin-right: 10px;
}
.icon_height {
  display: inline-block;
  color: #0f2a4d;
  font-size: 14px;
  flex: inherit;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.CopyShortCode {
  display: flex;
}
.filename_text {
  display: inline-block;
  color: #0f2a4d;
  font-size: 14px;
  flex: inherit;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 150px;
}
.shortcode_icon {
  margin-left: 10px;
}
.folder_icons {
  svg {
    font-size: 20px !important;
  }
}
.folder_icons_fileTxt {
  svg {
    font-size: 20px !important;
    //color: blue;
  }
}
.folder_icons_pdf {
  svg {
    font-size: 20px !important;
    color: red;
  }
}
.FileTextTwoOneClass {
  svg {
    height: 100px;
    width: 100px;
    margin-block: 15px;
  }
}
.FilePdfTwoToneColor {
  svg {
    height: 100px;
    width: 100px;
    margin-block: 15px;
    color: red;
  }
}

.dropdown_menu {
  position: absolute;
  top: 6px;
  margin-right: 0;
  right: 10px;
  cursor: pointer;
  z-index: 99;
  left: auto;
  width: 25px;
  height: 25px;
  background: #ffffff96;
  text-align: center;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  span {
    top: -3px;
  }
}

.dropdown_menu:hover {
  background-color: #fff;
}

.preview_image button span.ant-modal-close-x {
  width: 23px;
  height: 20px;
  line-height: 25px;
}

.crossIcon {
  margin-left: 31px;
  position: relative;
  top: -15px;
}
.maxLimit {
  color: red;
  text-align: center;
  font-size: 11px;
}
.FolderOpenHeading {
  color: #1c1b24;
  font-weight: 600;
  display: flex;
  font-size: 20px;
  align-items: center;
  span {
    margin-right: 10px;
  }
  // span + span {
  //   margin-left: 10px !important;
  // }
}

.emptyFolderData {
  margin: auto;
}

.modal_cross {
  font-size: 17px;
}
.text_right {
  text-align: right;
}
