.uploadFilesData {
  @apply w-full;

  h3 {
    @apply text-[#1c1b24] font-semibold m-0;

    span {
      @apply text-[#6c737d] font-normal;
    }

    @media screen and (max-width: 1150px) {
      font-size: 15px;
    }
  }
  @media screen and (max-width: 1150px) {
    margin-top: 20px;
  }
  @media screen and (max-width: 767px) {
    [class*="ant-card-head-wrapper"] {
      flex-wrap: wrap;
      [class*="ant-card-head-title"] {
        @apply w-full min-w-full max-w-full flex;
      }
    }
  }
}

.Container .Card {
  @apply justify-center absolute left-[150px] h-auto w-[900px];
}

.Container .span {
  @apply text-[gray];
}
.top_icon {
  @apply text-[22px];
  span + span {
    @apply ml-[5px] cursor-pointer;
  }
}
.top_icon .anticon svg {
  @apply text-[rgb(132_135_138)] h-[30px] w-[30px] mt-[15px] mr-[15px];
}

.Dragebox .Drager {
  @apply flex justify-center justify-items-center items-center h-[400px] w-full border-2 border-dashed border-[#707070];
}

.Dragebox .Drager:hover {
  @apply text-[gray] border-[gray];
}

.Dragebox .anticon svg {
  @apply text-canBlue h-[50px] w-[50px];
}

.Dragebox .ant-upload-hint {
  @apply text-[gray];
}

.Back_from_browser .anticon svg {
  @apply absolute top-[120px] right-[40px] text-[red] w-[25px] h-[25px];
}
.uploded_Files {
  @apply relative;
}
.UploadDataFiles {
  color: green;
  [class*="ant-upload-list ant-upload-list-picture"] {
    &::before,
    &::after {
      display: none;
    }
    @apply gap-3 grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  [class*="ant-upload-list-picture-container"] {
    @apply rounded-lg overflow-hidden;
  }
}
.Back_from_browser {
  @apply absolute top-[10px] right-[10px] text-[red] text-[19px] z-[999];
}

.Upload_Cancel_Btn {
  @apply   mt-2;
}

.Upload_Cancel_Btn .Upload_Btn {
  @apply mr-[10px] bg-[rgb(249_157_22)] border-[rgb(249_157_22)] text-white rounded-sm min-w-[130px] h-[38px] text-base;
}

.Upload_Cancel_Btn .Upload_Btn:hover {
  @apply bg-[rgb(249_157_22)] border-[rgb(249_157_22)] text-white;
}
.cancel_Btn {
  @apply border-canBlue text-canBlue h-[38px] w-[130px] rounded-sm  font-semibold ;
}
.cancel_Btn:hover {
  @apply border-canBlue;
}
.top_btn {
  @apply w-auto flex relative flex-wrap gap-2;

  .datepIcker {
    @apply w-[100px];
  }
}

.Top_SearchBtn {
  @apply w-auto mr-[20px];
}

.Top_SearchBtn Input {
  @apply w-[150px];
}

.Top_SearchBtn .ant-picker {
  @apply w-[100px] mr-[10px];
}

.searchIcon .anticon svg {
  @apply text-[rgb(217_217_217)] h-[20px] w-[20px] absolute top-[5px] right-[230px];
}

.top_btn .create_folder_btn {
  @apply text-canBlue border-canBlue py-0 px-[8px];
  @media screen and (max-width: 400px) {
    margin-right: 3px;
    margin-left: 2px;
  }

  img {
    display: none !important;
  }

  @media screen and (max-width: 1280px) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 35px;
    span {
      font-size: 0 !important;
    }
    img {
      display: block !important;
    }
  }
}

.top_btn .reset_btn {
  @apply text-canBlue border-canBlue mr-0 ml-[5px] py-[-1px] px-[8px];
  @media screen and (max-width: 400px) {
    margin-right: 3px;
    margin-left: 2px;
  }

  img {
    display: none !important;
  }

  @media screen and (max-width: 1280px) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 35px;
    span {
      font-size: 0 !important;
    }
    img {
      display: block !important;
    }
  }
}

.top_btn .add_file_btn {
  color: rgb(20, 159, 223);
  border-color: rgb(20, 159, 223);
  margin-right: 10px;
  padding: 0 5px;
  @apply text-canBlue border-canBlue mr-0 py-0 px-[5px];
  img {
    display: none !important;
  }
  @media screen and (max-width: 400px) {
    margin-right: 5px;
  }

  @media screen and (max-width: 1280px) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 35px;
    img {
      display: block !important;
    }
    span {
      font-size: 0 !important;
    }
  }
}

/* .ant-upload-list-picture .ant-upload-span{
    display: flex;
    
} */
.ant-upload-list-picture {
  @apply flex-wrap;
}
.ant-upload-list-picture-container {
  flex: 0 0 20%;
  @apply py-0 px-[10px];
}
.ant-modal-content {
  @apply w-[400px];
}

.modal_body .anticon svg {
  @apply text-[red] absolute h-[25px] w-[25px] top-[10px] right-[10px];
}

.modal_title {
  @apply text-[rgb(62_103_183)] mb-[20px] mr-[100px] inline;
}

.ant-modal-close-x {
  @apply hidden;
}

.wraper .modal_Btn {
  @apply mt-[20px] w-[350px] bg-[rgb(249_157_22)] text-white;
}

.wraper .modal_Btn:hover {
  @apply bg-[rgb(249_157_22)] text-white;
}

.ant-modal-mask {
  @apply bg-[rgba(0_0_0_0.78)];
}

.wraper .folderlabel {
  @apply text-[gray];
}
.wraper {
  @apply mt-[50px];
}

.uploded-Files {
  @apply flex max-w-[850px];
}

.After_Upload {
  @apply p-[8px] h-auto border border-[#eaedf2] relative flex flex-wrap;
  [data-testid="remove_upload_files"] {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  [class*="imgWrap"] {
    @apply w-full flex flex-wrap;
    [id="display_image"] {
      @apply w-full flex flex-wrap items-center justify-center;
    }
    span,
    img {
      @apply flex w-full items-center justify-center;
    }
  }
}

.After_Upload input {
  @apply w-full py-[6px] px-[10px] block mt-[10px];
}
.After_Upload .anticon svg {
  @apply absolute top-[10px] right-[10px];
}

.Folder_container .ant-card-body {
  @apply p-0;
  .imageFiles {
    @apply bg-canBlue;
  }
}

.folder_icon .anticon svg {
  @apply h-[160px] w-[140px] text-[rgb(68_132_206)] absolute top-[-10px] left-[-10px];
}

.dropdown .anticon svg {
  @apply text-white h-[30px] w-[30px];
}
.ant-dropdown-menu {
  @apply relative right-[90px];
}
.dropdown .ant-dropdown-link {
  @apply absolute top-[95px] left-[100px];
}
.dropdown {
  @apply absolute right-[15px] bottom-[20px] w-[20px] h-[20px] cursor-pointer;
}
.ant-dropdown-trigger .anticon.anticon-more {
  right: inherit;
  position: inherit;
  bottom: inherit;
  @apply text-white text-[20px];
}
.Folder_container {
  @apply relative;
}
.view_After_folder {
  @apply bg-[red];
}
.FolderfileCard {
  @apply bg-[red];
}
.FolderData {
  border-radius: 0px 6px 6px 6px;

  @apply w-[175px] bg-[#4484ce] h-[130px] relative flex flex-col justify-center;
  @media screen and (max-width: 767px) {
    width: 100%;
  }

  &::before {
    height: 11px;
    content: "";
    background: url("../../../../assets/image/folderTop.svg");
    width: 100px;
    top: -11px;
    position: absolute;
    border-radius: 0;
    background-size: cover;
  }
  .foldername {
    @apply text-[13px] text-center mb-[10px] font-medium text-[#fffdf3];
  }
  small {
    @apply text-[11px] text-center w-full inline-block;
  }
  p {
    @apply text-[11px] text-center mb-[10px];
  }

  > div {
    padding: 0 !important;
  }
  .dropdown {
    bottom: -15px !important;
  }
}
.fileList {
  @apply flex flex-wrap gap-y-4;
  .view_After_Upload {
    @apply py-0 px-[8px];
    @media screen and (max-width: 767px) {
      width: 50%;
    }
    @media screen and (max-width: 400px) {
      width: 100%;
    }
  }
  .folder_Back_Button {
    @apply w-full p-0;
    .openFolder {
      @apply flex flex-wrap;
    }
  }
}
.files {
  > div {
    @apply p-0 w-[160px];
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
  .imageFiles {
    @apply text-center;
    img {
      @apply object-cover;
    }
  }
  h3 {
    @apply text-[16px] pt-[2px] px-[6px] pb-0 mb-0 border-t border-[#eaedf2] w-full overflow-hidden whitespace-nowrap;
  }
}

/*.view_After_Upload {
  display: inline-flex;
  position: relative;
  margin: 0px 10px;
}

.view_After_Upload .files {
  width: 150px;
  margin-left: 10px;
  margin-top: 10px;
}
.view_After_Upload .files span {
  font-size: 12px;
}

.view_After_Upload .files .anticon svg {
  height: 20px;
  width: 25px;
  position: absolute;
  top: 5px;
  right: 5px;
}*/
.files .ant-card-body {
  @apply p-0 justify-center;
}

@media (max-width: 1200px) {
  .ant-upload-list-picture-container {
    flex: 0 0 25%;
  }
}

@media (max-width: 992px) {
}

@media (max-width: 767px) {
  .ant-upload-list-picture-container {
    flex: 0 0 33.333%;
  }
}
@media (max-width: 414px) {
  .imageFiles {
    flex: 0 0 50%;
  }
}

.search_users {
  @apply relative;
  @media screen and (max-width: 1023px) {
    @apply relative mb-[10px];
  }
  span {
    @apply absolute top-[7px] right-[8px] text-[19px] text-[#aaa] z-[9] pointer-events-none;
    @media screen and (max-width: 1280px) {
      @apply relative border border-[#ddd] h-[32px] w-[32px] top-0 rounded-sm flex right-0 items-center justify-center;
    }
  }

  input {
    @apply border border-[#ddd] w-[150px] h-[32px] py-0 pr-[30px] pl-[15px];
    @media screen and (max-width: 1280px) {
      transition: all 0.3s ease-in-out 0s;

      @apply w-[35px] block absolute right-0 p-0 top-0  bg-white opacity-[1] text-[0] shadow-none;
      &:focus {
        @apply text-[14px] w-[200px] py-0 pr-[30px] pl-[15px];
      }
    }

    @media screen and (max-width: 500px) {
      right: inherit;
      left: 0%;
      &:focus {
        padding-left: 50px;
      }
    }
  }
}

.marginLeftView {
  margin-left: 5px !important;
}
.folder_icon {
  @apply relative;
  .dropdown {
    @apply absolute bottom-[70px] right-[10px] cursor-pointer;
  }
}
.modal_cross {
  @apply text-[17px];
}
.hideUpload {
  @apply hidden;
}
.high_light {
  @apply text-[#149fdf];
}
.menu_item {
  @apply text-black cursor-pointer;
}
.menu_item > span {
  @apply inline-flex;
}
.icon_Width {
  display: inline-block;
  max-width: 20px;
  margin-right: 10px;
}
.icon_height {
  display: inline-block;
  color: #0f2a4d;
  font-size: 14px;
  flex: inherit;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.CopyShortCode {
  @apply flex;
}
.filename_text {
  display: inline-block;
  color: #0f2a4d;
  font-size: 14px;
  flex: inherit;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 150px;
}
.shortcode_icon {
  @apply ml-[10px];
}
.folder_icons {
  svg {
    font-size: 20px !important;
  }
}
.folder_icons_fileTxt {
  svg {
    font-size: 20px !important;
  }
}
.folder_icons_pdf {
  svg {
    font-size: 20px !important;
    @apply text-[red];
  }
}

.dropdown-menu {
  @apply leading-none cursor-pointer;
}

.dropdown_menu:hover {
  @apply bg-white;
}

.preview_image button span.ant-modal-close-x {
  @apply w-[32px] h-[20px] leading-[25px];
}

.crossIcon {
  @apply ml-[31px] relative top-[-15px];
}
.maxLimit {
  @apply text-[red] text-center text-[11px];
}
.FolderOpenHeading {
  @apply text-[#1c1b24] font-semibold flex text-[20px] items-center;
  span {
    @apply mr-[10px];
  }
}

.emptyFolderData {
  @apply m-auto;
}

.modal_cross {
  @apply text-[17px];
}
