.RemoveCardSupported {
  cursor: pointer;
  color: #ef5e5e;
  font-weight: 600;
  font-size: 14px;

  @media screen and (max-width: 767px) {
    font-size: 0;
  }
  span {
    margin-right: 5px;
    @media screen and (max-width: 767px) {
      font-size: 13px;
      margin-left: 10px;
    }
  }
}
.tag_btn {
  border: none !important;
  padding: 0px !important;
  height: auto !important;
  box-shadow: none !important;
  align-items: center;
  display: inline-flex;
  line-height: inherit !important;
}
.btndiv {
  font-size: 16px;
  display: inline-block;
  line-height: 20px;
}
.ant-tag-hidden,
.ant-tag-hidden {
  display: none !important;
}
.Bluecolor {
  color: #1890ff !important;
  font-weight: 600;
}
.card_heading_title {
  font-size: 16px;
  @media screen and (max-width: 767px) {
    font-size: 13px;
    word-break: break-word;
    white-space: pre-wrap;
  }
  span {
    color: #4484ce;
  }
}

.text_right {
  text-align: right;
}

.cardBox_tags {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  width: 100% !important;

  @media screen and (max-width: 767px) {
    [class="ant-card-head"] {
      [class="ant-card-head-wrapper"] {
        flex-wrap: wrap;
        width: 100%;
        [class="ant-card-head-title"] {
          margin-right: 0;
          padding-top: 8px;
          padding-bottom: 5px;
        }
        [class="ant-card-extra"] {
          margin: 0;
          padding: 4px 0;
          margin-left: auto;
        }
      }
    }
  }
}
.modal_cross {
  font-size: 17px;
}

.tag_Changes .save_Changes_Btn {
  margin-top: 10px;
  margin-right: 10px;
  background-color: rgb(249, 157, 22);
  border-color: rgb(249, 157, 22);
  color: white;
  border-radius: 2px;
  width: 150px;
  height: 38px;
  font-size: 16px;
}

.tag_Changes .save_Changes_Btn:hover {
  color: white;
  border-color: rgb(249, 157, 22);
  background-color: rgb(249, 157, 22);
}

.revert_Btn {
  //border-color: #4484ce;
  color: rgba(53, 47, 47, 0.5);
  height: 38px;
  border-radius: 2px;
  width: 130px;
  font-weight: 500;
  font-size: 16px;
}
// .revert_Btn:hover {
//   //background: #4484ce;
//   color: #fff;
// }
.Simple {
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  width: 294px;
  height: 220px;
  padding: 5px;
}
.tag {
  margin: 3px 10px 3px 0;
  font-size: 13px;
  //border: 1px dashed #cccccc;
  border-radius: 4px;
  padding: 0 2px;
  line-height: 30px;
  color: #666666;
  background: rgba(255, 255, 255, 0.7);

  border: 1px solid #f0f0f0 !important;
  background: transparent;
  color: #4484ce;
  font-weight: 600;
  font-size: 14px;
  padding: 4px 12px;
  margin-bottom: 6px;
  display: inline-flex;
  border-radius: 0;
  align-items: center;
  box-shadow: 3px 3px 0px #3f4f5b14;
  @media screen and (max-width: 767px) {
    font-size: 13px;
  }
  .count {
    color: #000 !important;
  }
  span {
    color: #d1d4db;
    margin-left: 5px;
    font-size: 16px;
  }
}
.btndiv + span {
  margin-left: 15px;
}
.modal_cross p {
  font-weight: 500;
  font-size: 15px;
}
.modal {
  max-width: 400px;
}
.modalTitle {
  margin: 0;
  font-size: 16px;
  width: 95%;
}
