.RemoveCardSupported {
  cursor: pointer;
  color: #ef5e5e;
  font-weight: 600;
  font-size: 12px;

  @media screen and (max-width: 767px) {
    font-size: 0;
  }
  span {
    margin-right: 5px;
    @media screen and (max-width: 767px) {
      font-size: 13px;
      margin-left: 10px;
    }
  }
}

.tag_btn {
  border: 1px solid #f0f0f0 !important;
  background: transparent;
  color: #4484ce;
  font-weight: 600;
  font-size: 14px;
  padding: 4px 12px;
  margin-bottom: 6px;
  display: inline-flex;
  border-radius: 0;
  align-items: center;
  box-shadow: 3px 3px 0px #3f4f5b14;
  @media screen and (max-width: 767px) {
    font-size: 13px;
  }
  .count {
    color: #000 !important;
  }
  span {
    color: #d1d4db;
    margin-left: 5px;
    font-size: 14px;
  }
}
.ant-tag-hidden,
.ant-tag-hidden {
  display: none !important;
}
.Bluecolor {
  color: #1890ff !important;
}
.card_heading_title {
  font-size: 16px;
  @media screen and (max-width: 767px) {
    font-size: 13px;
  }
  span {
    color: #4484ce;
  }
}

.text_right {
  text-align: right;
}

.cardBox_tags {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  width: 100% !important;
}
.modal_cross {
  font-size: 17px;
}

.tag_Changes .save_Changes_Btn {
  margin-top: 10px;
  margin-right: 10px;
  background-color: rgb(249, 157, 22);
  border-color: rgb(249, 157, 22);
  color: white;
  border-radius: 2px;
  width: 130px;
  height: 38px;
  font-size: 16px;
}

.tag_Changes .save_Changes_Btn:hover {
  color: white;
  border-color: rgb(249, 157, 22);
  background-color: rgb(249, 157, 22);
}

.revert_Btn {
  //border-color: #4484ce;
  color: rgba(53, 47, 47, 0.5);
  height: 38px;
  border-radius: 2px;
  width: 80px;
  font-weight: 600;
}
// .revert_Btn:hover {
//   //background: #4484ce;
//   color: #fff;
// }