.wrap {
    padding: 20px;
    width: 100%;

    .heading {
        display: flex;

        h5 {
            font-size: 1.125rem;
            color: #0F2A4D;
            font-weight: 400;

            &+h5 {
                margin-top: 0;
                margin-left: 45px;
            }

            span {
                font-weight: 700;
            }

            span.blueText {
                font-weight: 400;
                color: #2E68DB;
            }
        }
    }

    .btnGroup {
        display: flex;

        .createBtn {
            width: 199px;
            font-size: 1.125rem;
            font-weight: 600;
            color: #0F2A4D;
            border: solid 1px #D9D9D9;

            i {
                color: #2E68DB;
                margin-right: 8px;
                position: relative;
                top: 2px;
            }

            &+button {
                margin-left: 15px;
            }
        }
    }
}

.campStatement {
    max-width: 1296px;
    margin-top: 20px;
    border: solid 1px #D9D9D9;
    background-color: #FFFFFF;

    .tabHead {

        padding: 20px;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid 1px #D9D9D9;

        @media screen and (min-width:992px) {
            display: flex;

        }

        @media screen and (min-width:720px) and (max-width:768px) {
            display: flex;

        }

        &>button {
            @media screen and (min-width:320px) and (max-width:719px) {
                width: 100%;
                margin-top: 15px;

            }

        }


    }

    h4 {
        font-weight: 400;
        margin-bottom: 0;
        margin-right: 34px;

        @media screen and (min-width:320px) and (max-width:719px) {
            text-align: center;
            margin-bottom: 15px;
        }
    }

    .filterOt {

        // width: calc(100% - 162px);

        @media screen and (min-width:1200px) {
            display: flex;

        }

        &>button {
            background-color: #4484CE;


            &>:hover {
                background-color: #2a71c2;
            }

        }


    }

    .filters {
        list-style: none;
        padding-left: 35px;
        margin-bottom: 0;

        li {
            display: inline-block;

            &.active {
                a {
                    color: #2E68DB;
                    font-weight: 700;
                    border-bottom: solid 1px #2E68DB;
                }
            }

            &+li {
                margin-left: 40px;
            }

            a {
                font-size: 14px;
                color: #1C1B24;

                .block {
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    border-radius: 2px;
                    margin-right: 6px;
                }
            }
        }
    }
}

.campStatementHistory {

    &>div {
        width: 100%;

        &>div {
            display: flex;
            align-items: center;
            min-width: 420px;
            justify-content: space-between;




            .campStatementListItem {
                border-bottom: none;
                font-size: 14px;
                padding: 3px 0;


                &.active {
                    a {
                        color: #2E68DB;
                        border-bottom: 1px solid #2E68DB !important;
                        font-weight: bold;
                    }
                }

                &>a {
                    color: #1C1B24;
                    display: flex;
                    align-items: center;



                    &::before {
                        content: "";
                        width: 10px;
                        height: 10px;
                        margin-right: 7px;
                        border-radius: 2px;
                    }
                }
            }

            &>.campStatementViewAll {

                /* &>a {
                    // margin-left: 17px;
                    color: #2E68DB;
                    border-bottom: 1px solid #2E68DB !important;
                    font-weight: bold;

                    &::before {
                        display: none;
                    }
                } */

            }

            &>.campStatementObjected {
                &>a {
                    &:before {
                        background-color: #EF5E5E;
                    }


                }

            }

            &>.campStatementLive {
                &>a {
                    &:before {
                        background-color: #12C879;
                    }


                }
            }

            &>.campStatementNotLive {
                &>a {
                    &:before {
                        background-color: #FFDD00;
                    }


                }

            }

            &>.campStatementOld {
                &>a {
                    &:before {
                        background-color: #4484CE;
                    }


                }

            }
        }

    }


}

.campStatementCollapseHistory {
    width: 100%;
    padding-top: 16px;
    padding-left: 22px;
    padding-right: 20px;


    &>div {
        &>div {

            &>div {
                border-bottom: none !important;

            }
        }
    }

    .campStatementCollapse {

        >div {
            background-color: #FFF3F3;
            border: none;

            &>div {
                &>h5 {
                    line-height: 16px;
                }

                &>h2 {
                    font-size: 30px;
                    font-weight: 400;
                    color: #2E68DB;
                    margin-top: 14px;
                }
            }

            &>div:first-child {
                font-size: 15px;
                font-weight: 400;
                padding: 18px 18px 0 18px !important;

                &>span a {
                    color: #4484CE;
                }
            }

            h3 {
                font-size: 26px;
                font-weight: 400;
                margin-bottom: 10px;
            }

            .serverFlowChart {
                &>div {
                    &>img {
                        margin-top: 18px;
                        margin-bottom: 24px;

                    }

                }
            }

            .organizeFlowChart {
                &>div {
                    &>img {
                        margin-top: 8px;
                        margin-bottom: 24px;

                    }
                }
            }

            .campSelectCheckbox {
                &>span:last-child {
                    font-size: 16px !important;
                    font-weight: 600;
                    margin-top: 16px;
                }
            }
        }
    }

    .campStatementCollapseSummary {
        padding: 18 18px 18px 18px;

        &>h5 {
            font-size: 16px;
            color: #292d2e;
            line-height: 14px;

            @media screen and (min-width:320px) and (max-width:1014px) {
                .updateSurveyPrj {
                    line-height: 22px;
                }

            }

            &>span {
                font-size: 15px;
                font-weight: 400;
                color: #0F2A4D;
            }
        }

        .campSelectCheckbox {
            &>span:last-child {
                font-size: 16px !important;
                font-weight: 600;
                margin-top: 16px;
            }
        }

    }
}

$btn-bkg:#4484CE;

.campCollapseSummaryWrap {

    .campStatementCollapseButtons {
        background-color: rgb(0, 0, 0, 6%);
        padding-left: 18px;
        min-height: 66px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-right: 18px;

        @media screen and (max-width:1018px) {}

        .campUpdateButton {
            background-color: #4484CE;
            margin-right: 16px;
            font-size: 15px;
            font-weight: 500;
            min-width: 306px;
            min-height: 38px;
            height: auto;
            border: none;

            &:hover {
                background-color: darken($btn-bkg, 10%);
            }

            @media screen and (max-width:1032px) {

                margin-right: 0;
                margin-top: 15px;
                white-space: normal;
                width: 306px;
                min-width: 100%;
                margin-right: 8px;
            }
        }

        .campVersionButton {
            background-color: white;
            color: #0F2A4D;
            border-color: #0F2A4D;
            font-size: 15px;
            font-weight: 500;
            min-width: 308px;
            min-height: 38px;
            height: auto;

            @media screen and (max-width:1032px) {
                margin-bottom: 15px;
                margin-top: 15px;
                width: 308px;
                min-width: 100%;
                white-space: normal;
            }
        }

    }
}

.campStatementCollapseObjectedHistory {
    &>div {
        &>div {
            background-color: #FFF3F3;
            border: 1px solid #EF5E5E;
            border-left: 18px solid #EF5E5E;

            &>div {
                border-bottom: none !important;

            }
        }
    }
}

.campStatementCollapseLiveHistory {
    .campStatementCollapse {
        >div {
            background-color: #F1FCF7;
            border: none
        }
    }

    &>div {
        &>div {
            background-color: #F1FCF7;
            border: 1px solid #12C879;
            border-left: 18px solid #12C879;

            &>div {
                border-bottom: none !important;

            }
        }


    }

}

.campStatementCollapseNotLiveHistory {
    .campStatementCollapse {
        >div {
            background-color: #FFFDF3;
            border: none
        }
    }

    &>div {
        &>div {
            background-color: #FFFDF3;
            border: 1px solid #FFDD00;
            border-left: 18px solid #FFDD00;

            &>div {
                border-bottom: none !important;

            }
        }
    }
}

.campStatementCollapseOldHistory {
    .campStatementCollapse {
        >div {
            background-color: #F6F9FF;
            border: none
        }
    }

    padding-bottom: 62px;

    &>div {
        &>div {
            background-color: #F6F9FF;
            border: 1px solid #4484CE;
            border-left: 18px solid #4484CE;

            &>div {
                border-bottom: none !important;

            }
        }
    }
}