.wrap {
  padding: 20px;
  width: 100%;

  .heading {
    display: flex;

    h5 {
      font-size: 1.125rem;
      color: #0f2a4d;
      font-weight: 400;

      & + h5 {
        margin-top: 0;
        margin-left: 45px;
      }

      span {
        font-weight: 700;
      }

      span.blueText {
        font-weight: 400;
        color: #2e68db;
      }
    }
  }

  .btnGroup {
    display: flex;

    .createBtn {
      width: 199px;
      font-size: 1.125rem;
      font-weight: 600;
      color: #0f2a4d;
      border: solid 1px #d9d9d9;

      i {
        color: #2e68db;
        margin-right: 8px;
        position: relative;
        top: 2px;
      }

      & + button {
        margin-left: 15px;
      }
    }
  }
}

.campStatement {
  max-width: 1296px;
  margin-top: 20px;
  border: solid 1px #d9d9d9;
  background-color: #ffffff;

  .tabHead {
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #d9d9d9;

    @media screen and (min-width: 992px) {
      display: flex;
    }

    @media screen and (min-width: 720px) and (max-width: 768px) {
      display: flex;
    }

    & > button {
      width: 168px;
      border: none;
      background-color: var(--primary);
      transition: all 0.3s;

      &:disabled {
        background-color: #d1d4db;
      }

      & > span {
        color: white;
        font-weight: 600;
      }

      & > .active {
        background-color: #40a9ff;
        border: none;

        &:hover {
          background-color: #2a71c2;
        }
      }

      @media screen and (min-width: 320px) and (max-width: 719px) {
        width: 100%;
        margin-top: 15px;
      }
    }
  }

  h4 {
    font-weight: 400;
    margin-bottom: 0;
    margin-right: 34px;

    @media screen and (min-width: 320px) and (max-width: 719px) {
      text-align: center;
      margin-bottom: 15px;
    }
  }

  .filterOt {
    // width: calc(100% - 162px);

    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }

  .filters {
    list-style: none;
    padding-left: 35px;
    margin-bottom: 0;

    li {
      display: inline-block;

      &.active {
        a {
          color: #2e68db;
          font-weight: 700;
          border-bottom: solid 1px #2e68db;
        }
      }

      & + li {
        margin-left: 40px;
      }

      a {
        font-size: 14px;
        color: #1c1b24;

        .block {
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 2px;
          margin-right: 6px;
        }
      }
    }
  }
}

.campStatementHistory {
  & > div {
    width: 100%;

    & > div {
      display: flex;
      align-items: center;
      min-width: 420px;
      justify-content: space-between;

      .campStatementListItem {
        border-bottom: none;
        font-size: 14px;
        padding: 3px 0;

        &.active {
          a {
            color: #2e68db;
            border-bottom: 1px solid #2e68db !important;
            font-weight: bold;
          }
        }

        & > a {
          color: #1c1b24;
          display: flex;
          align-items: center;

          &::before {
            content: "";
            width: 10px;
            height: 10px;
            margin-right: 7px;
            border-radius: 2px;
          }
        }
      }

      & > .campStatementObjected {
        & > a {
          &:before {
            background-color: #ef5e5e;
          }
        }
      }

      & > .campStatementLive {
        & > a {
          &:before {
            background-color: #12c879;
          }
        }
      }

      & > .campStatementNotLive {
        & > a {
          &:before {
            background-color: #ffdd00;
          }
        }
      }

      & > .campStatementOld {
        & > a {
          &:before {
            background-color: #4484ce;
          }
        }
      }
    }
  }
}

.campStatementCollapseHistory {
  width: 100%;
  padding-top: 16px;
  padding-left: 22px;
  padding-right: 20px;

  & > div {
    & > div {
      & > div {
        border-bottom: none !important;
      }
    }
  }

  .campStatementCollapse {
    padding-top: 18px;

    & > :first-child {
      /* position: absolute;
            right: 0;
            height: 203px;
            // min-width: 31px;
            background: rgba(0, 0, 0, 0.06);
            padding-right: 16px;
            display: flex;
            align-items: center;
            margin-top: -18px; */

      // &:focus {
      //     height: auto;
      //     background-color: #EF5E5E;
      // }
    }

    > div {
      background-color: #fff3f3;
      border: none;

      & > div {
        & > h5 {
          line-height: 16px;
        }

        & > h2 {
          font-size: 30px;
          font-weight: 400;
          color: #2e68db;
          margin-top: 14px;
        }
      }

      & > div:first-child {
        font-size: 15px;
        font-weight: 400;
        padding: 0 18px 0 18px !important;

        & > span a {
          color: #4484ce;
        }
      }

      h3 {
        font-size: 26px;
        font-weight: 400;
        margin-bottom: 10px;
      }

      .serverFlowChart {
        & > div {
          & > img {
            margin-top: 18px;
            margin-bottom: 24px;
          }
        }
      }

      .organizeFlowChart {
        & > div {
          & > img {
            margin-top: 8px;
            margin-bottom: 24px;
          }
        }
      }

      .campSelectCheckbox {
        & > span:last-child {
          font-size: 16px !important;
          font-weight: 600;
          margin-top: 16px;
        }
      }
    }
  }

  .campStatementCollapseSummary {
    padding: 0 18px 18px 18px;

    & > h5 {
      font-size: 16px;
      color: #292d2e;
      line-height: 14px;

      @media screen and (min-width: 320px) and (max-width: 1014px) {
        .updateSurveyPrj {
          line-height: 22px;
        }
      }

      & > span {
        font-size: 15px;
        font-weight: 400;
        color: #0f2a4d;
      }
    }

    .campSelectCheckbox {
      & > span:last-child {
        font-size: 16px !important;
        font-weight: 600;
        margin-top: 16px;
      }
    }
  }
}

$btn-bkg: #4484ce;

.campCollapseSummaryWrap {
  .campStatementCollapseButtons {
    background-color: rgb(0, 0, 0, 6%);
    padding-left: 18px;
    min-height: 66px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 18px;
    margin-right: -55px;

    @media screen and (max-width: 1018px) {
    }

    .campUpdateButton {
      background-color: #4484ce;
      margin-right: 16px;
      font-size: 15px;
      font-weight: 500;
      min-width: 306px;
      min-height: 38px;
      height: auto;
      border: none;

      &:hover {
        background-color: darken($btn-bkg, 10%);
      }

      @media screen and (max-width: 1032px) {
        margin-right: 0;
        margin-top: 15px;
        white-space: normal;
        width: 306px;
        min-width: 100%;
        margin-right: 8px;
      }
    }

    .campVersionButton {
      background-color: white;
      color: #0f2a4d;
      border-color: #0f2a4d;
      font-size: 15px;
      font-weight: 500;
      min-width: 308px;
      min-height: 38px;
      height: auto;

      @media screen and (max-width: 1032px) {
        margin-bottom: 15px;
        margin-top: 15px;
        width: 308px;
        min-width: 100%;
        white-space: normal;
      }
    }
  }
}

.objected {
  & > div {
    & > div {
      background-color: #fff3f3;
      border: 1px solid #ef5e5e;
      border-left: 18px solid #ef5e5e;

      & > div {
        border-bottom: none !important;
      }
    }
  }
}

.live {
  .campStatementCollapse {
    > div {
      background-color: #f1fcf7;
      border: none;
    }
  }

  & > div {
    & > div {
      background-color: #f1fcf7;
      border: 1px solid #12c879;
      border-left: 18px solid #12c879;

      & > div {
        border-bottom: none !important;
      }
    }
  }
}

.in_review {
  .campStatementCollapse {
    > div {
      background-color: #fffdf3;
      border: none;
    }
  }

  & > div {
    & > div {
      background-color: #fffdf3;
      border: 1px solid #ffdd00;
      border-left: 18px solid #ffdd00;

      & > div {
        border-bottom: none !important;
      }
    }
  }
}

.old {
  .campStatementCollapse {
    > div {
      background-color: #f6f9ff;
      border: none;
    }
  }

  padding-bottom: 62px;

  & > div {
    & > div {
      background-color: #f6f9ff;
      border: 1px solid #4484ce;
      border-left: 18px solid #4484ce;

      & > div {
        border-bottom: none !important;
      }
    }
  }
}
