/*
 Only custom marker for summary/details
 For cross browser compatible styling hide Firefox's marker by setting summary { display: block }
 and Chrome and Safari's marker by setting ::-webkit-details-marker {display: none;}
*/

.tree-nav {
  padding: 20px;
  background-color: #fff;
  color: #4484ce;
  font-family: "Asap", sans-serif;
}

summary {
  display: block;
  cursor: pointer;
  outline: 0;
}

summary::-webkit-details-marker {
  display: none;
}

.tree-nav__item {
  display: block;
  white-space: nowrap;
  color: #ccc;
  position: relative;
  font-family: "Asap", sans-serif;
  padding: 0 0 4px 0;
}

.tree-nav__item.is-expandable::before {
  border-left: 1px solid #eee;
  content: "";
  height: 100%;
  left: 0.8rem;
  position: absolute;
  top: 2.4rem;
  height: calc(100% - 2.4rem);
}
.tree-nav__item .tree-nav__item {
  margin-left: 2.4rem;
  font-family: "Asap", sans-serif;
}
.tree-nav__item.is-expandable[open] > .tree-nav__item-title::before {
  font-family: "ionicons";
  /* transform: rotate(90deg); */
  /* content: "\f209"; */
  content: "\f463"
}
.tree-nav__item.is-expandable > .tree-nav__item-title {
  padding-left: 2.4rem;
}
.tree-nav__item.is-expandable > .tree-nav__item-title::before {
  position: absolute;
  will-change: transform;
  transition: transform 300ms ease;
  font-family: "ionicons";
  color: #262626;
  font-size: 1.1rem;
  /* content: "\f125"; */
  /* content: "\f218"; */
  content: "\f48a";
  left: 0;
  display: inline-block;
  width: 1.6rem;
  text-align: center;
}

.tree-nav__item-title {
  cursor: pointer;
  display: block;
  outline: 0;
  color: #4484ce;
  font-size: 15px;
  line-height: 24px;
  font-family: "Asap", sans-serif;
}
.tree-nav__item-title a {
  text-decoration: none;
  cursor: pointer;
  display: block;
  outline: 0;
  color: #4484ce;
  font-size: 15px;
  font-family: "Asap", sans-serif;
  font-weight: 400;
}
.tree-nav__item-title a span {
  outline: 0;
  color: #fff;
  font-size: 14px;
  font-family: "Asap", sans-serif;
  margin-left: 6px;
  background-color: #f89d15;
  padding: 1px 3px;
  font-weight: 700;
}

.tree-nav__item-title::-webkit-details-marker {
  display: none;
}
