.topicDetailContentWrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.ctCard {
  .chexkboxLabel {
    color: #0f2a4d;
    font-size: 15px;
    font-weight: 400;
  }
  .startNew {
    color: #f89d15;
    font-weight: 500;
  }
}
.startNew {
  margin-bottom: 0;
}
.topicDetailContentHead {
  width: 100%;
  padding: 15px;
  padding-bottom: 0;
  &.info_bar_n {
    padding: 0;
    padding-bottom: 10px;
  }
  &.inforBarHEad {
    padding: 0;
    padding-bottom: 10px;
  }
  & > div > div {
    @media screen and (min-width: 992px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  }
  &_Left {
    &.rightPanel {
      display: flex;
      justify-content: space-between;
      border: none;
      padding-top: 0;
      @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        gap: 10px;
      }
      [class="btnsWrap"] {
        display: flex;
        button {
          margin-bottom: 0 !important;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          font-size: 14px;
          font-weight: 600;
          color: #0f2a4d;
          border: solid 1px #d9d9d9;
          flex-flow: row;
          i {
            font-size: 1.1875rem;
            color: var(--primary);
            margin-right: 8px;
          }
          &:first-child {
            margin-right: 15px;
          }
        }
      }
      .leftPanel {
        margin-top: 0;
        padding-top: 0;
        width: auto;
        .topicTitleStyle {
          margin-right: 0;
        }
      }
      @media screen and (max-width: 767px) {
        .leftPanel {
          width: 100%;
          .topicTitleStyle {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
          }
        }
      }
    }
    @media screen and (min-width: 992px) {
      display: flex;
      flex-wrap: wrap;
      // width: calc(100% - 220px);
      width: 100%;
      border-bottom: 1px solid #f1f1f1;
      padding-top: 10px;
      padding-bottom: 10px;
      align-items: center;
    }
    .topicTitleStyle,
    .breadcrumbLinks {
      span {
        &:first-child {
          font-weight: normal;
          font-size: 16px;
        }
      }
      font-size: 16px;
      color: #0f2a4d;
      font-weight: 400;
    }
    .topicTitleStyle {
      margin-right: 50px;
      font-weight: 700;
    }
    .topicTitleSkeleton {
      margin-right: 100px;
    }
    .breadcrumbLinks {
      display: flex;
      a {
        font-size: 16px;
        color: var(--primary);
        font-weight: 700;
      }
    }
  }
  &_Right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-top: 10px;
    @media screen and (max-width: 991px) {
      margin-top: 1rem;
    }
    .btnCampForum {
      margin-right: 20px;
      margin-left: 20px;
      background-color: #4484ce;
      box-shadow: none;
      border-color: transparent;
      font-size: 14px;

      &:hover {
        background-color: darken(#4484ce, 7%);
      }
    }

    .campForumDropdown {
      font-size: 24px;
      color: #0f2a4d !important;
      background-color: #e8ebef;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      overflow: hidden;
      span {
        color: #000 !important;
        position: static !important;
        bottom: initial !important;
      }
    }
  }
}

.topicDetailsPanelNo {
  margin-bottom: 0 !important;
  border: none !important;
  [class="ant-collapse-item ant-collapse-item-active ant-collapse-item-disabled"] {
    [class="ant-collapse-header"] {
      img {
        max-width: 200px;
        text-align: center;
        margin: auto;
      }
    }
    p {
      text-align: center;
    }
  }
}

.imageWrapper {
  // width: calc(100% - 316px);
  background: #fff;
  margin: 0 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  img {
    max-width: 200px;
  }
  @media screen and (max-width: 991px) {
    width: 100%;
    margin: 0;
  }
}

.breadcrumbLinks {
  display: flex;
  font-size: 16px;
  flex-wrap: wrap;
  a {
    font-size: 16px;
    color: var(--primary) !important;
    font-weight: 400;
    /* white-space: nowrap; */
    &:hover {
      color: #71b1fc !important;
    }
  }
}

.campForumDropdownMenu {
  & > li {
    color: #022541;
    font-weight: 500;
    font-size: 13px;
    width: 100%;

    & > i:first-child,
    & > span:first-child {
      color: #8b959d;
      margin-right: 10px;
      min-width: 14px;
      text-align: center;
    }
    & > i:first-child {
      font-size: 11px;
    }
  }
}

.topicDetailsTreeListItem {
  display: flex;
  align-items: center;
  .treeListItemTitle {
    font-size: 15px;
    font-weight: 400;
    color: #0f2a4d;
    margin-left: 4px;
    a {
      color: var(--primary);
      &:hover {
        font-weight: bold;
        color: #4484ce;
      }
      &.activeCamp {
        font-size: 16px;
        color: #08b608 !important;
      }
    }
  }
  .treeListItemNumber {
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    background: #f89d15;
    padding: 2px 7px;
    border-radius: 2px;
    color: #fff;
    margin-left: 6px;
    transition: all ease 50s;
    @media screen and (max-width: 767px) {
      width: auto !important;
    }
  }
  .subScriptionIcon {
    margin-left: 6px;
    .implicitIcon {
      color: #bbb;
      margin-right: 8px;
    }
    .iconSubscribe {
      margin-right: 8px;
    }
  }
}

.addSupportText {
  width: 300px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #0f2a4d;
  h5 {
    font-size: 0.875rem;
    color: #0f2a4d;
    font-weight: 600;
  }
}
.miniSide {
  width: 180px;
}

// .miniSide {
//   [class="btnsWrap"] {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;

//     button {
//       width: 49%;
//       margin-top: 0 !important;
//       margin-bottom: 0 !important;
//     }
//   }
//   @media screen and (min-width: 992px) {
//     width: 420px !important;
//   }
// }

// .pageContent {
//   @media screen and (min-width: 992px) {
//     width: calc(100% - 420px) !important;
//   }
// }

.cardActions {
  color: #6e7880;
  font-weight: 500;
  span {
    font-weight: bold;
    color: #0f2a4d;
  }
}

.campStatement {
  ul,
  ol {
    padding-left: 40px;
  }
}

.boldBreadcrumb {
  // font-weight: 700;
  // font-size: 17px;
}

.slashStyle {
  align-self: center;
  // margin-inline: 5px;
  svg {
    width: 11px;
  }
  margin-left: 5px;
  // font-size: 14px;
}

.greenIndicateText {
  // font-weight: 600;
  font-size: 18px;
  color: #08b608;
}

.campinfoSocialOt {
  .btn_group {
    padding: 0;
  }
}

.modalTitle {
  margin: 0;
  font-size: 16px;
  width: 95%;
}

.eventLineBtn {
  margin-left: 10px;
}

.descriptions {
  table {
    tbody {
      tr {
        [class="ant-descriptions-item-label"] {
          font-weight: 600;
        }
        & > td {
          padding-bottom: 3px;
        }

        &:last-child {
          & > td {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}

.svgIconCode {
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 15px;
  }
}

.archive_grey {
  color: #6a6a6a !important;
}

.algoLabel {
  padding-left: 8px;
  font-size: 13px;
  display: inline-block;
  margin-bottom: 0;
  align-self: center;
}

.bottomRow {
  margin-top: 15px;
  margin-bottom: 15px;
}

.backButton {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  border-radius: 2px;
  opacity: 1;
  letter-spacing: 0px;
  color: var(--primary);
  font-size: 14px;
  font-weight: 600;
  opacity: 1;
  line-height: 16px;
  transition: all 0.3s;
  // position: absolute;
  // right: 0;
  // float: right;
  // top: 0;
  z-index: 100;

  // &:hover {
  // background: var(--primary);
  // color: #ffffff;
  // }
}

.topicTitle {
  margin-bottom: 20px;
}

.shareIcon {
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent !important;
  outline: none !important;
  padding: 0;
  border: none !important;
  box-shadow: none !important;
  color: #1890ff;
  margin-right: 22px;
  span {
    &:first-child {
      margin-right: 0px;
    }
  }
}
