.pageWrap {
    overflow: hidden;
    .contentWrap {
        padding: 24px;
        @media screen and (min-width: 768px) {
            display: flex;
        }
    }
    /* .leftSidebar {
        width: 245px;
    } */
    .rightSidebar {
        @media screen and (min-width: 768px) {
            width: 200px;
        }
        @media screen and (max-width: 767px) {
            text-align: center;
            display: none;
        }
    }
    .contentArea {
        @media screen and (min-width: 992px) {
            display: flex;
            width: calc(100% - 200px);
        }
        @media screen and (min-width: 768px) and (max-width: 991px) {
            width: calc(100% - 224px);
            margin-right: 24px;
        }
    }
    .breadcrumbWrapper {
        display: flex;
        padding: 24px 24px 0;
        .topicTitleStyle {
            margin-right: 50px;
            font-size: 18px;
        }
    }
    .breadcrumbLinks {
        display: flex;
        font-size: 18px;
        a {
            font-size: 18px;
            color: #2E68DB !important;
            font-weight: 400;
        }
    }
}