.pageWrap {
  overflow: hidden;
  .contentWrap {
    padding: 24px;
    @media screen and (min-width: 768px) {
      display: flex;
    }
    /* @media screen and (max-width: 767px) {
      padding: 10px;
    } */
  }
  /* .leftSidebar {
        width: 245px;
    } */
  .rightSidebar {
    @media screen and (min-width: 991px) {
      width: 200px;
    }
    @media screen and (max-width: 991px) {
      width: 100%;
    }
    @media screen and (max-width: 767px) {
      text-align: center;
      display: none;
    }
  }
  .contentArea {
    @media screen and (min-width: 992px) {
      display: flex;
      flex-wrap: wrap;
      width: calc(100% - 200px);
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      width: 100%;
      margin-right: 0;
      display: flex;
    }
  }
}
