.pageWrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .contentWrap {
    flex: 1;
    min-height: calc(100vh - 397px);
  }

  .contentArea {
    width: 100%;

    &.eventListArea {
      width: 100%;
    }
  }

  .rightSidebar {
    display: none;
  }

  .leftSideBar {
    display: none;

    &.miniSideBar {
      display: none;
    }

    & + .pageContentWrap {
      width: 100%;
    }

    &_Card {
      padding: 15px;
      border: 1px solid var(--border);
      background-color: var(--surface-card);
      margin-bottom: 16px;
      border-radius: var(--radius);
    }
  }

  .timelineLayout {
    width: 100%;
  }
}

.recentActivitySider {
  margin-top: 36px;
}
