.wrap{
    width: 100%;
    padding:22px 20px;
    border: solid 1px #F0F0F0;
    background-color:#fff;
    h3{
        font-size:1.125rem;
        color: #1C1B24;
        font-weight:600;
        margin-bottom:0;
    }
}

.topicTabs{
    display: block;
    div{
        flex: unset!important;
        &:first-child{
            justify-content: space-between;
        }
    }
}

.list{
    border: none;
    >div:first-child {
        padding:0;
        border-bottom: none;
    }
    h3{
        font-size:1.25rem;
        color:#1C1B24;
        margin-bottom:0;
        i{
            margin-left:5px;
            color: #D1D4DB;
            position: relative;
            top:3px;
        }
    }
    li{
        position: relative;
        padding: 0!important;
        border-bottom: none!important;
        a{
        font-size: 1.125rem;
        font-weight:400;
        padding-top:3px;
        display: block;
        width: 100%;
        padding-bottom:3px;
        justify-content: unset;
        border: solid 1px #F0F0F0;
        margin-bottom:8px;
        padding-left:10px;
        box-shadow: 3px 3px rgba(63,79,91, 8%);
        span{
            color:#0F2A4D;
        }
        @media screen and (min-width:768px){
            padding-left:23px!important;
        }
        @media screen and (max-width:767px){
            display: flex;
            justify-content:space-between;
            align-items: center;
            font-size:1rem;
        }
        }
        @media screen and (max-width:767px){
            font-size: 1rem;
        }
        span.tag{
            margin-left:12px;
            border-radius:4px;
            line-height: 22px;
            font-size:13px;
            font-weight: 400;
            color:#fff;
            border: none;
            background-color:#F89D15;
        }  
        &:last-child{
            border-bottom: none;
        }
    }
}