.RemoveCardSupported {
  cursor: pointer;
  color: #ef5e5e;
  font-size: 14px;
  font-weight: 600;
  @media screen and (max-width: 767px) {
    font-size: 0;
  }
  span {
    margin-right: 5px;
    @media screen and (max-width: 767px) {
      font-size: 13px;
      margin-left: 10px;
    }
  }
}
.Bluecolor {
  color: #1890ff;
}
.card_heading_title {
  font-size: 16px;
  color: #1c1b24;
  span {
    color: #4484ce;
  }
  @media screen and (max-width: 767px) {
    font-size: 13px;
    word-break: break-word;
    white-space: pre-wrap;
  }
}

.text_right {
  text-align: right;
}

.cardBox_tags {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 4px 4px 0px #0000000d;
  border: 1px solid #ececec;
  width: 100% !important;

  @media screen and (max-width: 767px) {
    [class="ant-card-head"] {
      [class="ant-card-head-wrapper"] {
        flex-wrap: wrap;
        width: 100%;
        [class="ant-card-head-title"] {
          margin-right: 0;
          padding-top: 8px;
          padding-bottom: 5px;
        }
        [class="ant-card-extra"] {
          margin: 0;
          padding: 4px 0;
          margin-left: auto;
        }
      }
    }
  }
}
.topic_content {
  background-color: rgb(246, 246, 246);
  padding: 12px;

  p {
    margin-bottom: 4px;
  }
}
.list_Content {
  p {
    margin-bottom: 4px;
  }
}
.marginTop {
  margin-top: 10px;
}
.line_height {
  p {
    margin-bottom: 4px;
    color: #0f2a4d;
  }
}

.line_height1 {
  border-left: 1px solid #ddd;
  padding-left: 20px;
  @media screen and (max-width: 767px) {
    border-left: none;
    padding: 0;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: 20px;
  }
  @media screen and (max-width: 767px) {
    max-width: 100%;
    flex: 0 0 100%;
  }
  p {
    margin-bottom: 4px;
  }
}
.mrgn_left {
  margin-left: 20px;
  border-bottom: 1px solid #1890ff;
  padding-bottom: 2px;
}
.ant-modal-close {
  color: #000 !important;
}
.flex_wrap {
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }
  .flex_wrap_col,
  .border_left {
    @media screen and (max-width: 767px) {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }
}
