.wrapper {
  width: 100%;
  button {
    background: transparent;
    border-radius: 2px;
    border-color: transparent;
    font-size: 16px;
    font-family: var(--font-family-asap);
    font-weight: 500;
    transition: all 0.3s;
  }
  .social_login_text {
    color: #0f2a4d;
    display: block;
    text-align: center;
    font-size: 15px;
  }
  .btn_group {
    padding: 22px 0 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      background: transparent !important;
      border: none;
      outline: none;
      width: auto;
      height: auto;
      padding: 0 10px;
      transition: all 0.3s;

      &.google_btn {
        display: flex;
        align-items: flex-start;
        justify-content: center;
      }

      &:hover,
      &:focus {
        box-shadow: none;
        svg,
        img {
          transform: scale(1.1);
        }
      }

      svg,
      img {
        width: 24px;
        height: 24px;
        transition: all 0.3s;
      }
      img {
        width: 22px;
        height: 22px;
      }
      &.facebook-btn {
        svg {
          fill: #3c5999;
        }
      }
      &.google-btn {
        svg {
          fill: #3c5999;
        }
      }
      &.twitter-btn {
        svg {
          fill: #03a9f4;
        }
      }
      &.linkedin-btn {
        svg {
          fill: #006699;
        }
      }
      &.github-btn {
        svg {
          fill: #161514;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    button {
      padding: 5px !important;
    }
  }
}
