.NavWrap {
  @apply overflow-hidden;
  @apply h-full;
  ul {
    @apply h-full;
    .listItem {
      @apply h-full;
      @apply relative;
      // @apply flex;
      @apply items-center;
      &:not(:last-child) {
        &::before {
          color: darkgray;
          @apply content-["|"];
          @apply absolute;
          @apply top-[50%];
          @apply -translate-y-2/4;
          @apply left-0;
        }
      }
      &::after {
        @apply absolute;
        @apply top-[50%];
        @apply -translate-y-2/4;
        @apply right-0;
      }
      &:first-child {
        &::before {
          @apply hidden;
        }
      }
      &:nth-child(3) {
        &::before {
          @apply hidden;
        }
      }
    }
  }
  @media screen and (max-width: 1050px) {
    @apply fixed;
    width: 80%;
    height: 100%;
    @apply bg-white;
    @apply top-0;
    @apply left-0;
    z-index: 100;
    margin: 0;
    padding: 30px 30px;
    transform: translateX(-500em);
    transition: all 0.3s;
    @apply flex;
    @apply flex-col;
    &.open {
      transform: translateX(0);
    }
    ul {
      z-index: 1000;
      .listItem {
        padding: 10px 20px;
        @apply w-full;
        @apply h-auto;
        @apply max-h-[50px];
        // &::after,
        // &::before {
        //   @apply hidden;
        // }
        &.active {
          @apply bg-canGray;
          .divider {
            @apply hidden;
          }
          a {
            @apply text-canHoverBlue;
          }
        }
      }
    }
  }
}

.divider {
  width: calc(100% - 1.5rem);
  @apply m-auto;
  @apply hidden;
  @apply h-[5px];
  @apply bg-canBlue;
  @apply absolute;
  @apply bottom-0;
  @apply top-auto;
  @apply left-0;
  @apply right-0;
}

.active {
  @apply text-canHoverBlue;
  @apply relative;

  .divider {
    @apply block;
  }

  a {
    @apply text-canHoverBlue;
  }
}
