.score_checkbox {
  // margin-bottom: 12px;
  // padding-top: 13px;
  label {
    [class="ant-checkbox-inner"] {
      width: 14px;
      height: 14px;
    }
    span {
      // font-size: 12px;
    }
  }
}
