.supported_camps {
  position: relative;
  .search_users {
    position: absolute;
    right: 0;
    z-index: 99;
    min-width: 250px;
    @media screen and (max-width: 1023px) {
      position: relative;
      margin-bottom: 10px;
    }
    span {
      position: absolute;
      right: 8px;
      font-size: 19px;
      color: #aaa;
      top: 9px;
      pointer-events: none;
    }
    .searchInput {
      border-width: 1px !important;
      border: 1px solid #d9d9d9;
      height: 37px;
      padding: 0 30px 0 15px;
      background: transparent;
      width: 100%;
    }
  }
  .ant-tabs-nav-list {
    .ant-tabs-tab-active {
      background-color: #1c1b24 !important;
    }
  }
}

.notes {
  color: #ef5e5e;
  margin-bottom: 12px;
  font-size: 12px;
}

.card_heading_title {
  font-size: 16px;
  @media screen and (max-width: 767px) {
    font-size: 13px;
  }
  span {
    color: #4484ce;
  }
}

.cardBox_tags {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  width: 100% !important;

  [class="ant-card-head-title"] {
    margin-top: 10px;
    white-space: break-spaces;
  }

  &.no_body {
    div[class="ant-card-body"] {
      padding: 0;
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
    [class="ant-card-head-title"] {
      margin-right: 0 !important;
    }
    [class="ant-card-extra"] {
      padding-top: 0;
    }
  }
}

.cardTitle {
  font-weight: 550;
  font-size: 12px;
  text-transform: capitalize;

  @media screen and (max-width: 767px) {
    font-size: 0;
    padding-left: 0;
    span {
      font-size: 13px;
    }
  }
}

.tag_btn {
  border: 1px solid #f0f0f0 !important;
  background: transparent;
  color: #4484ce;
  font-weight: 600;
  font-size: 14px;
  padding: 4px 12px;
  margin-bottom: 6px;
  display: inline-flex;
  border-radius: 0;
  align-items: center;
  box-shadow: 3px 3px 0px #3f4f5b14;

  [class="ant-tag-close-icon"] {
    svg {
      fill: #ff4d4f;
    }
  }

  @media screen and (max-width: 767px) {
    font-size: 13px;
  }
  .count {
    color: #000 !important;
  }
  span {
    color: #d1d4db;
    margin-left: 5px;
    font-size: 14px;
  }
}

.Bluecolor {
  color: #1890ff !important;
}

.modal_cross {
  margin-bottom: 0;
  padding-bottom: 0;
  .modal_title {
    margin: 0;
  }
}

.cardBox_tags_wrapper {
  padding: 0;
  border: 0;
  width: 100%;
  & > div[class="ant-card-body"] {
    padding: 0;
  }
}

.nickname_box {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .labels {
    display: inline-block;
    white-space: nowrap;
    margin-right: 10px;
  }
}
.dropdown {
  height: 40px !important;
  border: solid 1px #d9d9d9 !important;
  width: 25%;
  display: inline-block;
  margin-left: auto;
  @media screen and (max-width: 767px) {
    margin-top: 10px;
    width: 100%;
  }
}
.nickname_dropdown {
  height: 40px !important;
  margin: 0 !important;
  display: inline-block;
  > div:first-child {
    border: 1px solid #ffffff;
    background-color: #eaedf2;
    height: 40px !important;
  }
}

.reasonList {
  font-size: 16px;
  font-weight: 500;
}
.reasonLink {
  @extend .reasonList;
  font-size: 13px;
}

.main_card_title {
  font-size: 16px;
  font-weight: 500;
}
.supportedCard {
  [class="ant-card-head"] {
    background: transparent;
  }
}
