.cardAccordian {
  background-color: transparent;
  .collapseIcon {
    i {
      font-size: 8px;
      color: #4484ce;
    }
  }
  .algoText {
    font-weight: 400;
    color: #343434;
    font-size: 14px;
  }
  .algoSelect {
    width: 100%;
    margin-bottom: 8px;
    > div {
      padding-left: 15px !important;
      border: solid 1px #d9d9d9;
    }
    span {
      font-size: 0.875rem;
      color: #343434;
    }
  }
  .algoInfo {
    margin-bottom: 20px;
    margin-top: 5px;
    color: #4484ce;
  }
  .filter {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    .filterText {
      white-space: nowrap;
    }

    input {
      width: 100%;
      margin: 0 7px;
    }
    i {
      color: #d1d4db;
      font-size: 17px;
      cursor: pointer;
    }
    .LeftOutlined {
      color: #6e6e6e;
      margin-left: 12px;
    }
  }
  .date {
    border: solid 1px #d9d9d9;
    padding: 0 12px !important;
    height: 40px;
    margin-top: 20px;
    font-size: 14px;
    input {
      font-size: 14px;
      &::placeholder {
        font-size: 12px;
      }
    }
  }
}

.title {
  font-size: 16px;
  font-weight: 600;
  color: #4484ce;
  i {
    margin-left: 8px;
    font-size: 17px;
    color: #d1d4db;
  }
}

.radio {
  span {
    font-size: 14px;
    color: #1c1b24;
  }
}

.infoText,
.asfoText {
  width: 240px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #0f2a4d;
  h5 {
    font-size: 0.875rem;
    color: #0f2a4d;
    font-weight: 600;
  }
}

.asfoText {
  width: 261px;
}

.algo_title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 12px;
  flex-direction: column;
  min-width: 200px;

  a {
    color: var(--primary);
    text-decoration: underline;
    font-weight: 550;
  }
}

.infoIcon {
  margin-left: auto;
}
