.modalForm {
  label {
    font-size: 13px;
    font-weight: 600;
    color: #795548;

    &::before {
      position: absolute;
      right: -15px;
    }
  }
  input {
    transition: all 0.3s;
    &::placeholder {
      font-size: 14px;
      color: #afb6bb;
      line-height: 20px;
    }
  }
  span[class="ant-select-selection-placeholder"] {
    font-size: 14px;
    color: #afb6bb;
    line-height: 20px;
  }
  textarea {
    transition: all 0.3s;
    &::placeholder {
      font-size: 14px;
      color: #afb6bb;
      line-height: 20px;
    }
  }

  .submit_btn {
    background: #f89d15 0% 0% no-repeat padding-box;
    border-radius: 2px;
    border-color: #f89d15;
    opacity: 1;
    margin-right: 15px;
    color: #ffffff;
    transition: all 0.3s;

    &:hover {
      background: #d3840e;
    }
  }

  .cancel_btn {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid var(--primary);
    border-radius: 2px;
    opacity: 1;
    letter-spacing: 0px;
    color: var(--primary);
    font-size: 14px;
    font-weight: 600;
    opacity: 1;
    line-height: 16px;
    transition: all 0.3s;

    &:hover {
      background: var(--primary);
      color: #ffffff;
    }
  }

  .btn_box {
    width: 100%;
  }

  @media screen and (max-width: 767px) {
    .edit_summary_input {
      label {
        display: block;
      }
    }
  }

  @media screen and (max-width: 320px) {
    .btn_box {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .submit_btn {
        margin-right: 5px;
      }
    }
  }
}
