.videosContainer {
  display: flex;
  width: inherit;
  justify-content: space-between;
  padding: 0 15px;
  width: 100%;
  .sideBarWrap {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-right: 15px;
    padding-top: 40px;
    .radioGroup {
      display: flex;
      gap: 10px;
      flex-direction: column;
    }
  }
  .videoPlayer {
    flex: 1;
    padding: 30px;
    background-color: #fff;
  }
  ul {
    list-style: decimal;
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8;

    li {
      cursor: pointer;
      color: blue;
    }
    .active {
      color: #1cb41c;
    }
  }
  .vttComtainer {
    ul,
    ol {
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: 992px) {
    flex-flow: column;
    padding-left: 0;
    padding-right: 0;
    .sideBarWrap {
      order: 1;
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 30px;
      padding-bottom: 0;
      margin: 0;
    }
    .videoPlayer {
      padding: 15px;
    }
    ul {
      margin-bottom: 30px;
    }
    .vttComtainer {
      ul,
      ol {
        margin-left: 15px !important;
        li {
          line-height: 1.3 !important;
          a,
          p {
            line-height: inherit !important;
          }
        }
      }
    }
  }
}

.pageTitle {
  @media screen and (max-width: 992px) {
    font-size: 26px !important;
  }
}
.videoPlayerloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.vttComtainer {
  ul,
  ol {
    margin-bottom: 0;
  }
}

.videosContainer {
  display: flex;
  width: inherit;
  justify-content: space-between;
  padding: 0 15px;
  width: 100%;
  .sideBarWrap {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-right: 15px;
    padding-top: 40px;
    .radioGroup {
      display: flex;
      gap: 10px;
      flex-direction: column;
    }
  }
  .videoPlayer {
    flex: 1;
    padding: 30px;
    background-color: #fff;
  }
  ul {
    list-style: decimal;
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8;

    li {
      cursor: pointer;
      color: blue;
    }
    .active {
      color: #1cb41c;
    }
  }
  .vttComtainer {
    ul,
    ol {
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: 992px) {
    flex-flow: column;
    padding-left: 0;
    padding-right: 0;
    .sideBarWrap {
      order: 1;
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 30px;
      padding-bottom: 0;
      margin: 0;
    }
    .videoPlayer {
      padding: 15px;
    }
    ul {
      margin-bottom: 30px;
    }
    .vttComtainer {
      ul,
      ol {
        margin-left: 15px !important;
        li {
          line-height: 1.3 !important;
          a,
          p {
            line-height: inherit !important;
          }
        }
      }
    }
  }
}
