.cardAccordian {
  background-color: transparent;
  .collapseIcon {
    i {
      font-size: 8px;
      color: #4484ce;
    }
  }
  .algoText {
    font-weight: 400;
    color: #343434;
    font-size: 14px;
    display: flex;
    margin-bottom: 20px;
    .algoInfoIcon {
      color: #d1d4db;
      font-size: 16px;
      cursor: pointer;
    }
  }
  .algoSelect {
    gap: 8px;

    width: 80%;
    margin-bottom: 8px !important;
    > div {
      padding-left: 15px !important;
      border: 1px solid rgba(204, 212, 231, 1) !important;
      // border-radius: 10px !important;
    }
    span {
      font-size: 0.875rem;
      color: #343434;
    }
  }
  .algoInfo {
    margin-bottom: 20px;
    margin-top: 5px;
    color: #4484ce;
  }
  .filter {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
    flex-direction: column;
    margin: 0 !important;
    width: 100%;

    .filterText {
      white-space: nowrap;
    }

    input {
      width: 100%;
      margin: 0;
      border: 1px solid rgba(204, 212, 231, 1);
      border-radius: 8px;
    }
    i {
      color: #d1d4db;
      font-size: 17px;
      cursor: pointer;
    }
    .LeftOutlined {
      color: #6e6e6e;
      margin-left: 12px;
    }
  }
  .date {
    border: solid 1px #d9d9d9;
    padding: 0 12px !important;
    height: 34px;
    margin-top: 20px;
    font-size: 14px;
    input {
      font-size: 12px;
      &::placeholder {
        font-size: 12px;
      }
    }
    &.dates {
      margin: 0;
      padding: 14px;
      gap: 14px;
      border-radius: 8px;
      border: 1px solid rgba(204, 212, 231, 1);
      background: transparent;
    }
  }
  &.cardWithDrawerAccordian {
    [class="ant-collapse-expand-icon"] {
      display: none !important;
    }
    [class="ant-collapse-header"] {
      display: none;
    }
    .filterRow {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 20px;
    }
    .algoText {
      font-size: 14px;
      font-weight: 500;
      color: var(--primary);
      display: flex;
      gap: 5px;
      color: #242b37;

      & + a {
        color: #d1d4db;
      }
    }
    .algoSelect {
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
      font-size: 13px !important;
      span {
        font-size: 13px;
      }
      [class="ant-select-selector"] {
        // height: 35px;
        padding: 0 10px;
        padding-left: 8px !important;
        [class="ant-select-selection-search"] {
          input {
            height: 100%;
          }
        }
        [class="ant-select-selection-item"] {
          line-height: 33px;
        }
      }
    }
    .filter {
      margin-bottom: 0;
      input {
        height: 35px;
      }
    }
    .scoreCheckbox {
      & > div {
        margin-bottom: 0;
      }
      .radioBtns {
        .radio {
          white-space: nowrap;

          span {
            &:last-child {
              font-size: 14px;
            }
          }
        }
      }
    }
    .treeContainer {
      width: 100%;
      max-height: 100%;
      height: 100%;
      // overflow: hidden;
      // padding-top: 15px;
      padding-bottom: 15px;

      [class="ant-collapse-header"] {
        display: flex;
        border: none !important;
        background-color: transparent !important;

        [class="ant-collapse-header-text"] {
          display: none;
        }
      }
      [class="ant-collapse-extra"] {
        width: 100%;
      }
      [class="ant-tree-list-holder-inner"] {
        // max-height: calc(100% - 220px);
        // overflow: auto;
        // height: 100%;
        // max-height: 220px;

        &::-webkit-scrollbar {
          width: 5px;
          height: 8px;
        }

        &::-webkit-scrollbar-track {
          background: #f1f1f1;
        }

        &::-webkit-scrollbar-thumb {
          background: #888;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: #555;
        }
      }
      [class="ant-collapse-content-box"] {
        padding: 0;
      }
    }
  }
}

.title {
  font-size: 16px;
  font-weight: 600;
  color: #4484ce;
  i {
    margin-left: 8px;
    font-size: 17px;
    color: #d1d4db;
  }
}

.radio {
  span {
    font-size: 14px;
    color: #1c1b24;
  }
  @media screen and (max-width: 767px) {
    margin-right: 0;
  }
}

.infoText,
.asfoText {
  width: 240px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #0f2a4d;
  h5 {
    font-size: 0.875rem;
    color: #0f2a4d;
    font-weight: 600;
  }
}

.asfoText {
  width: 261px;
}

.algo_title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 12px;

  a {
    color: var(--primary);
    text-decoration: underline;
    font-weight: 550;
  }
}

.infoIcon {
  margin-left: auto;
}

.radioInputs {
  [class="ant-space-item"] {
    &:last-child {
      flex: 1;
    }
  }
  @media screen and (max-width: 767px) {
    flex-flow: column;
    [class="ant-space-item"] {
      &:last-child {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 360px) {
    [class="ant-space-item"] {
      &:first-child {
        [class*="ant-space ant-space-horizontal"] {
          flex-wrap: wrap;
          // flex-flow: column;
          [class="ant-space-item"] {
            width: 100%;
          }
        }
      }
    }
  }
}

.btnCancel {
  padding: 16px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #5482c8;
}

.btnApplyfilters {
  padding: 16px;
  gap: 10px;
  border: 1px solid #5482c8;
  background: #5482c8;
  border-radius: 10px;
  display: flex;
  align-items: center;

  span {
    color: #fff;
  }
}
