img {
  max-width: 100%;
}

.app-content {
  @media screen and (min-width: 768px) {
    min-height: calc(100vh - 657px);
  }
}

.login-container {
  max-width: 60%;
  margin: 40px auto;

  .ant-card-body {
    padding: 0;
  }
  @media screen and (max-width: 1119px) {
    max-width: 100%;
  }
}

.loginModal {
  .ant-modal-body {
    padding: 0;
  }
}

.ant-tabs-card {
  .ant-tabs-nav-list {
    .ant-tabs-tab-active {
      background-color: #eaedf2 !important;

      .ant-tabs-tab-btn {
        color: #1c1b24 !important;
      }
    }
  }
}
.ant-tag-hidden {
  display: none !important;
}
.modal_cross {
  .ant-modal-close {
    font-size: 17px;
  }
}
#changePassword_new_password,
#changePassword_confirm_password {
  border: none;
  height: 32px;
}
.tab--card {
  @media screen and (max-width: 1023px) {
    .ant-card-head {
      flex-wrap: wrap;
      padding: 0 10px;
    }
  }
}
