.ant-layout {
  background: var(---white);
}

.nicknameAdvanceFilter {
  .ant-select {
    width: 100%;
  }
  > footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    background: #f3f4f5;
    border-top: 1px solid #eee;
  }
  .ant-collapse-content {
    z-index: 99;
  }
}

.ant_tags .ant-tag {
  display: flex;
  gap: 10px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 0px #3f4f5b14;
  border: 1px solid #e3e3e3;
  align-items: center;
  padding: 4px 10px;
  color: #4484ce;
  font-size: 16px;
  font-weight: 600;
}

.ant_tags .ant-tag div {
  color: #b7babf;
}

.ant-popover-inner:has(.popoverParent) {
  width: 500px;
  border-radius: 10px;
  border: 1px solid rgba(204, 212, 231, 1);
  padding: 15px 20px;
}
.infoTextWidthBox {
  max-width: 300px;
}
.mt-10 {
  margin-top: 10px;
}
.ant-empty-image {
  margin-top: 10px;
}

.modal_parent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal_parent h3 {
  color: #4484ce;
  font-size: 22px;
  font-weight: 600;
}

.modal_parent p {
  font-size: 14px;
  color: #000;
}
.modal_parent .otp-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  flex-direction: column;
  width: 100%;
}
.modal_parent .otp-btn button {
  margin-top: 20px;
  background: #f89d15;
  color: #fff;
  border-radius: 3px;
  height: 40px;
}

.modal_parent .otp-btn button:hover {
  background-color: #e28801;
  border-color: #e28801;
}
.modal_parent .otp-btn button {
  width: 85%;
}
.modal_parent .otp-btn input {
  width: 85%;
}
.new-email-id {
  align-self: flex-start;
  padding-left: 31px;
}

.opt-btn-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.label-icon {
  display: flex;
  flex-direction: row;
}
.email-icon {
  position: relative;
}

.email-edit-icon {
  position: absolute;
  top: -26px;
  left: 40px;
  // color: #4484ce;
}

.last-step-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.last-step-modal h3,
.last-step-modal p {
  margin: 0px;
}

.last-step-modal h3 {
  font-weight: 400;
  font-size: 16px;
}

// treee
.ant-tree-switcher-leaf-line {
  //   position: relative;
  //   z-index: 1;
  //   display: inline-block;
  //   width: 100%;
  //   height: 100%;
  &:before {
    position: absolute;
    top: 0;
    right: 12px;
    bottom: -4px;
    margin-left: -1px;
    border-right: 1px solid #d9d9d9;
    content: " ";
    display: block !important;
  }
  &:after {
    position: absolute;
    width: 10px;
    height: 14px;
    border-bottom: 1px solid #d9d9d9;
    content: " ";
    display: block !important;
  }
}
// tree close
