* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: var(--font-family-asap);
}
a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.app-content {
  @media screen and (min-width: 768px) {
    min-height: calc(100vh - 657px);
  }
}

.login-container {
  max-width: 60%;
  margin: auto;
  padding: 0;

  .ant-card-body {
    padding: 0;
  }
}

.loginModal {
  .ant-modal-body {
    padding: 0;
  }
}
