.adv {
  padding: 12px 15px;
  text-align: center;
  background-color: #fff;
}
.wrap {
  background-color: #333f55;
  p {
    font-size: 14px;
    color: #a4a3ab;
    margin: 0;
  }
  .note_text {
    margin-bottom: 20px;
    color: #fff;
  }
  .container {
    max-width: 1045px;
    margin: 0 auto;
    padding: 40px 15px 0;
  }
  .logo {
    max-width: 142px;
    margin-bottom: 22px;
  }
  .privacyTerms {
    margin: 15px 0 0 0;
    padding-left: 0;
    @media screen and (max-width: 575px) {
      margin-bottom: 15px;
    }
    li {
      position: relative;
      display: inline-block;
      padding-right: 10px;
      & + li {
        padding-left: 10px;
        &:before {
          content: "";
          height: 12px;
          width: 1px;
          background-color: #fff;
          display: block;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          margin-top: 1px;
        }
      }
      a {
        font-size: 12px;
        color: #fff;
        font-weight: 400;
        &:hover {
          text-decoration: underline;
          text-decoration-thickness: 1px;
          text-underline-offset: 3px;
        }
      }
    }
  }
  .navsWrap {
    width: 100%;
    max-width: 100%;

    @media screen and (min-width: 992px) {
      padding: 0 40px;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      width: 100%;

      li {
        width: 100%;
        a {
          font-size: 14px;
          color: #e6e9f1;
          display: inline-flex;
          align-items: center;
          transition: all 0.5s;
          i {
            font-size: 10px;
            margin-right: 8px;
          }
          &:hover {
            color: #fff;
            padding-left: 5px;
          }
        }
      }
    }
  }
  .widgetFollowUs {
    margin-top: 20px;
    h5 {
      color: #fff;
      font-size: 18px;
      font-weight: 400;
    }
    .smIcons {
      display: flex;
      a {
        display: block;
        width: 28px;
        height: 28px;
        margin-right: 6px;
        &.iconFacebook {
          background-position: -33px 0;
        }
        &.iconTwitter {
          background-position: -66px 0;
        }
        &.iconYoutube {
          background-position: -99px 0;
        }
        &.iconLinkedin {
          background-position: -134px 0;
        }
      }
    }
  }
  .supportWidget {
    background: #46546a;
    padding: 10px 15px;
    margin-top: 12px;
    h5 {
      font-size: 16px;
      color: #e6e9f1;
      font-weight: 400;
      margin-bottom: 5px;
    }
    a {
      display: inline-flex;
      align-items: center;
      color: #f8c315;
      i {
        margin-right: 8px;
        color: #e6e9f1;
      }
    }
  }
  .copyRights {
    margin: 24px auto 0 auto;
    max-width: 1015px;
    text-align: center;
    border-top: solid 2px #53555d;
    p {
      margin: 0;
      padding: 9px 12px;
    }
  }
}
