.notify_card {
  width: 100%;
  .cardTitle {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #1c1b24;
    opacity: 1;
  }
}

.list {
  [class="ant-list-item"] {
    &:not(:last-child) {
      padding-bottom: 0;
      border: none;
    }
    &:last-child {
      border-bottom: 1px solid #d2d2d2;
      margin-bottom: 10px;
      div[class="ant-list-item-meta-content"] {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }

    .avatarBell {
      width: 20px;
      height: 20px;
      background-color: #e6e9f1;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      overflow: hidden;

      svg {
        width: 12px;
        height: 12px;
        fill: #fff;
        transform: rotate(45deg);
      }
    }
    div[class="ant-list-item-meta-content"] {
      border-bottom: 1px solid #d2d2d2;
      padding-bottom: 10px;
      h4 {
        font-size: 13px;
        line-height: 1.3;
        a {
          color: #0f2a4d;
          font-weight: 600;
          text-overflow: ellipsis;
          display: -webkit-box;
          word-wrap: break-word;
          overflow: hidden;
          line-clamp: 2;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          -moz-box-orient: vertical;
        }
      }
      div[class="ant-list-item-meta-description"] {
        color: #828d9b;
        font-size: 10px;
        font-weight: normal;
      }
    }
  }
  .footer {
    .viewAll {
      position: relative;
      font-size: 13px;
      font-weight: 600;
      display: inline-flex;
      align-items: center;
      border: 0;
      padding: 0;
      &:after {
        display: none;
      }
      span {
        color: #4484ce;
      }
      & > span {
        border-bottom: #4484ce 1px solid;
      }
      & > div {
        margin-top: 3px;
        margin-left: 5px;
        span {
          font-size: 16px;
        }
      }
      i {
        font-size: 13px;
        margin-left: 7px;
        color: #4484ce;
      }
      &:hover,
      &:active,
      &:focus {
        box-shadow: none;
      }
    }
  }
  .listPagination {
    display: flex;
    align-items: flex-start;

    .ant-pagination-item {
      color: #262626;
      outline: none;
      border: 1px solid #d9d9d9;
    }
    .ant-pagination-item-active {
      color: var(--primary);
      border: 1px solid var(--primary);
    }
    .ant-pagination-item-link {
      border: none !important;
    }
  }
}
